[2019-03-26 17:06] joshgav opened #21 "support cryptography Python package"
### System Package Request

This was originally reported at <https://github.com/Microsoft/vscode-azureappservice/issues/902>

- Why do you need this package? For example, are you using a language-level package which depends on this system package?

Would like to use the Python [cryptography](https://pypi.org/project/cryptography/) package. This requires `libffi-dev` and `openssl-dev`. It seems thi

[2019-03-27 12:40] tiloc opened #24 "Non-descript error message on Python/Django build"
### Bug Report

- At what date and time did you most recently experience the problem?
27-Mar-2019 13:38 Europe/Berlin

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Linux based app service

- If your repo is publicly available please share its URL:

- What happened?
I deployed through local git and the build failed wit

[2019-03-27 13:29] tiloc commented on #24
Turns out the issue was a missing requirements.txt file. I think that would be a candidate for a much more descriptive error message.

[2019-03-27 16:46] gpcastro commented on #24
Hi @tiloc, thanks for taking the time and giving us feedback. I agree this is not a very good user experience for this scenario.

The good news is that this has already been [addressed](https://github.com/Microsoft/Oryx/commit/4af8a9fa69fa11b804cc940f6e4b2d5d874fb086), and we'll output the message

This is not in production yet though, but should be available in the next roll out for app service i

[2019-03-27 16:46] #24 closed

[2019-03-28 21:04] kichalla commented on #21
@tiloc Would it be possible to get a small repro sample with which I can reproduce the error. (I tried a sample myself with `cryptography` package but could not repro it...I am not a regular Python developer so could be doing something wrong)

[2019-04-02 18:12] kichalla commented on #21
gentle ping

[2019-04-05 21:08] sjwaight opened #56 "Add support for kudu .deployment file"
Today with Kudu you can drop a .deployment file into the root of your repository and kudu will use this as a hint for where your deployment target sits in the repository.

It appears that this feature is not available with Oryx (or if it is it is ignored).

|
.deployment
|
+- admin-web (python flask)

.deployment file contents

[config]
project = admin-web

The result isn't as expected: the entire

[2019-04-07 10:45] sjwaight commented on #56
I'm going to add to this - it actually works already :|. The problem is that if your .deployment file isn't formatted correctly for use on Linux (LF instead of CRLF) it appears the file is ignored or incorrectly parsed.

[2019-04-07 10:45] #56 closed

[2019-04-11 18:14] tarekgh opened #68 "Azure Linux Web App, "it" culture not working"
_From @Eilon on Friday, 05 April 2019 16:49:46_

_From @valeriob on Friday, 05 April 2019 08:05:46_

### Describe the bug
Create a new aspnetcore 2.2 web app, enable it and en cultures as the documentation instructs, and make a page that prints the current date in short date format "d".
Run it locally with an italian browser, it correctly use the dd/MM/yyyy pattern, then deploy it to azure linux w

[2019-04-11 18:14] tarekgh commented on #68
_From @Eilon on Friday, 05 April 2019 16:49:48_

_From @blowdart on Friday, 05 April 2019 16:38:23_

@Eilon can you move this to CoreFx?

[2019-04-11 18:14] tarekgh commented on #68
_From @joshfree on Friday, 05 April 2019 21:07:31_

@tarekgh @krwq PTAL

[2019-04-11 18:14] tarekgh commented on #68
_From @tarekgh on Friday, 05 April 2019 22:05:29_

@Eilon could you please help explain why you think this is corefx issue? I believe this is about setting the current culture correctly in the web app and not really how the culture behave.

[2019-04-11 18:14] tarekgh commented on #68
_From @tarekgh on Friday, 05 April 2019 22:14:42_

CC @blowdart as it looks he is the one asked to move this issue to corefx.  @blowdart please explain why you think this is corefx issue?

[2019-04-11 18:14] tarekgh commented on #68
_From @tarekgh on Friday, 05 April 2019 22:45:20_

I have confirmed on Linux (I used Ubuntu 18.04) we are producing the dd/MM/yy pattern for Italian culture.

@valeriob what Linux distro and version you were running on Azure? and what is the output you are seeing from

[code]

Also, would be nice if you can get the output of
[code]

Just to ensure you have the full globalization support there.

[2019-04-11 18:14] tarekgh commented on #68
_From @blowdart on Friday, 05 April 2019 22:57:26_

Culture and ageing formatting which isn’t us

________________________________
From: Tarek Mahmoud Sayed <notifications@github.com>
Sent: Friday, April 5, 2019 3:14:46 PM
To: dotnet/corefx
Cc: Barry Dorrans; Mention
Subject: Re: [dotnet/corefx] Azure Linux Web App, "it" culture not working (#36631)

CC @blowdart<https://github.com/blowdart> as it

[2019-04-11 18:14] tarekgh commented on #68
_From @tarekgh on Friday, 05 April 2019 23:15:17_

@valeriob I have confirmed on Ubuntu 14.04 we return expected short date pattern for Italian too. Please send the information I requested in https://github.com/dotnet/corefx/issues/36631#issuecomment-480444935

[2019-04-11 18:14] tarekgh commented on #68
_From @valeriob on Saturday, 06 April 2019 06:30:15_

Hi,
i'm not using any distribution directly, i'm deploying code in an Azure Linux Web App, it builds a container under the hood automatically as i recon. I've chosen netcore 2.2, and i think it's using an old aspnetcore version 2.2.0.

Both commands output the same value : dd/MM/yyyy

new System.Globalization.CultureInfo("it").DateTimeFormat.Sh

[2019-04-11 18:14] tarekgh commented on #68
_From @tarekgh on Sunday, 07 April 2019 18:01:16_

Thanks @valeriob

Could you please get the values of the following properties too?

[code]

did you mean ```M/d/yyyy```?

[2019-04-11 18:14] tarekgh commented on #68
_From @valeriob on Monday, 08 April 2019 07:38:51_

Hi @tarekgh,
yes i meant MM/dd/yyy.

Those are the values :
OSDescription : Linux 4.4.0-128-generic #154-Ubuntu SMP Fri May 25 14:15:18 UTC 2018
FrameworkDescription : .NET Core 4.6.27317.07
CultureInfo_it_EnglishName : Invariant Language (Invariant Country)
Cultura Request : it-IT
CulturaUI Request : it-IT
Cultura Thread : it-IT
CulturaUI Thread

[2019-04-11 18:14] tarekgh commented on #68
_From @tarekgh on Monday, 08 April 2019 15:38:06_

Looks this has been deployed on a container with turning on the Invariant Globalization mode https://github.com/dotnet/corefx/blob/master/Documentation/architecture/globalization-invariant-mode.md which basically no complete globalization support on such container. I am not sure if there is option to choose the container when deploying?

@Eilon an

[2019-04-11 18:14] tarekgh commented on #68
_From @valeriob on Monday, 08 April 2019 16:05:04_

Those are the app settings taken from kudu

webpages:Enabled = true
deployment_branch = master
SCM_TRACE_LEVEL = Verbose
SCM_COMMAND_IDLE_TIMEOUT = 60
SCM_LOGSTREAM_TIMEOUT = 1800
SCM_BUILD_ARGS =
REMOTEDEBUGGINGVERSION = 15.0.28010.00
WEBSITE_HTTPLOGGING_RETENTION_DAYS = 7
ASPNETCORE_HOSTINGSTARTUPASSEMBLIES = Microsoft.ApplicationInsights.Profi

[2019-04-11 18:14] tarekgh commented on #68
_From @tarekgh on Monday, 08 April 2019 16:26:26_

I am not seeing any interesting setting
[code]
@valeriob could you try other settings than ```Development``` value and figure out if this will make any difference?

@Eilon any idea if there is any specific settings affect enabling/disabling the [globalization environment mode](https://github.com/dotnet/corefx/blob/master/Documentation/architecture

[2019-04-11 18:14] tarekgh commented on #68
_From @Eilon on Monday, 08 April 2019 17:58:20_

Sorry no idea.

By default, ASP.NET Core uses whatever culture the host process is using. The developer has to explicitly use loc/glob features of .NET Core or ASP.NET Core to use something else.

[2019-04-11 18:14] tarekgh commented on #68
_From @tarekgh on Monday, 08 April 2019 18:16:16_

my question was regarding the configuration setting when deploying to Azure. anyway, do you have any contact we can ask how the containers get configured when deploying? Thanks.

[2019-04-11 18:14] tarekgh commented on #68
_From @Eilon on Monday, 08 April 2019 20:01:19_

I'm not aware of any config settings that directly affect loc in ASP.NET Core. It would be an app-specific thing, or a general .NET / .NET Core thing.

There's an internal email 'ancant' that you could try contacting to see if there's an Azure App Service specific thing.

[2019-04-11 18:14] tarekgh commented on #68
_From @tarekgh on Monday, 08 April 2019 20:49:01_

@valeriob could you please send more details about how you did the deployments? did you choose a container during the deployment? more info here can help.

[2019-04-11 18:14] tarekgh commented on #68
_From @valeriob on Tuesday, 09 April 2019 08:12:56_

Hi,
i just created the web app like this :
![image](https://user-images.githubusercontent.com/1522516/55783676-3d8df180-5aaf-11e9-8e0e-27eb86cb1059.png)
i added the app config WEBSITE_WEBDEPLOY_USE_SCM= false because octopus deploy does not work with it and add startup file = "dotnet /home/site/wwwroot/mywebapp.dll

I do not think the code copy

[2019-04-11 18:14] tarekgh commented on #68
_From @davidfowl on Thursday, 11 April 2019 07:16:06_

@valeriob we confirmed this is an issue with the base image used on Azure App Service. We're looking into it.

cc @glennc @bradygaster

[2019-04-11 18:14] tarekgh commented on #68
_From @valeriob on Thursday, 11 April 2019 08:38:48_

cheers !
For sake of learning, how do i see what image is being used ?

[2019-04-11 18:20] tarekgh commented on #68
To summarize, the azure image is enabling the globalization invariant mode by setting the environment variable

[code]

Also, if you are going to remove this environment variable, ensure the libicu is installed on the machine.

[2019-04-14 16:55] valeriob commented on #68
So basically just add apk add icu-libs to the apline docker file and remove the environment variable ?
https://github.com/dotnet/dotnet-docker/blob/master/2.2/runtime-deps/alpine3.8/amd64/Dockerfile#L22

It's very strange that the default behavior is without globalization support.

[2019-04-14 17:29] tarekgh commented on #68
Yes.

This is done for specific containers (like Alpine) for the scenarios of the apps that don't care about the globalization. It was an error to have APSNET 2.2 used this container by default. They are working to fix that.

[2019-04-14 17:47] valeriob commented on #68
Thanks for clarifying that.
Be aware that this setting is on 2.1 and 3.0 too.
It's very strange nobody noticed it before.

[2019-04-14 18:02] tarekgh commented on #68
How did you confirm that?

@kichalla, could you please look if the issue is spanning 2.1 and 3.0 too?

[2019-04-14 18:03] valeriob commented on #68
I have not tested it, but the docker file has the same commands

[2019-04-14 18:06] tarekgh commented on #68
Thanks @valeriob, if this is the case, then @kichalla will take care fixing this for all versions.

Are you ok to close the issue on corefx repo as we are tracking it here?

[2019-04-14 18:15] valeriob commented on #68
Sure, thanks

https://github.com/dotnet/dotnet-docker/search?q=DOTNET_SYSTEM_GLOBALIZATION_INVARIANT%3Dtrue&unscoped_q=DOTNET_SYSTEM_GLOBALIZATION_INVARIANT%3Dtrue

[2019-04-15 16:34] kichalla commented on #21
Closing this issue as the customer requirement has changed.

@tiloc Please free to re-open this issue with additional information if you come across this issue again. Thanks!

[2019-04-15 16:34] #21 closed

[2019-04-15 16:37] kichalla commented on #68
@valeriob In AppService, only the 2.2 version of AspNetCore is based on Alpine while the rest of the earlier versions are based on `stretch-slim` which does not have this issue. Just to give some context, AppService depends on the docker images built by Oryx team. We fixed the issue by basing this 2.2 version also on `stretch-slim`, so it is only a matter of time before this new image is applied i

[2019-04-15 17:23] valeriob commented on #68
Thanks @kichalla for explaining it, can you also explain how do i check which image the service is currently using ?

[2019-04-15 17:28] tarekgh commented on #68
@kichalla may know better her, but I think one way is to dump the contents of the file ```/etc/os-release``` which can tell.

[2019-04-23 00:51] derekbekoe opened #90 "oryx run-script - Platform name is required"
### Bug Report

- At what date and time did you most recently experience the problem? =
**Apr 22 2019**

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
**Local**

- If your repo is publicly available please share its URL:
**https://github.com/vsls-contrib/guestbook**

- What happened?
Platform name is required while [the oryx

[2019-04-23 09:09] valeriob opened #91 "Publishing Azure Linux Web App does not update the running application"
Hi,
i'm not sure this is the right repository to issue this, but here is how to reproduce the problem :

- Create an azure Linux web app, **code publishing**, i'm not actually publishing the code but the compiled application, via FTP or web deployment i think, whatever visual studio and Octopus Deploy use (https://octopus.com/docs/deployment-examples/azure-deployments/deploying-a-package-to-an-azu

[2019-04-23 09:14] valeriob commented on #68
Hi,
do you have an eta on when the dotnet core 2.2 image on azure Linux web app will be updated ?
Thanks

[2019-04-23 18:07] gpcastro commented on #90
Thanks Derek, we will work on this.

[2019-04-23 22:36] gpcastro commented on #91
Thanks for reaching out. We're aware of this issue and we're working on a fix. In the meantime, have you tried using [slots](https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots)?
They allow you to update your web app without conflicting with files being used by the version currently running.

[2019-04-24 06:38] valeriob commented on #91
Hi,
glad to hear you are working on it, I've tried slots but they add a little bit of complexity to our deployment. I look forward for an updated.
Thanks !

[2019-04-24 17:49] FScaccheri opened #97 "Support for Shapely python package"
### System Package Request

- Why do you need this package? For example, are you using a language-level package which depends on this system package?

I would like to deploy an application on Azure which has [Shapely](https://pypi.org/project/Shapely/) as a requirement. Shapely, in turn, requires lib geos_c (or its variants, libgeos_c.so or libgeos_c.so.1). I'm currently getting this error after d

[2019-04-24 18:07] FScaccheri opened #98 "Build apps with a custom Docker image"
### Feature Request

I would like to be able to make Onyx build apps using a custom running Docker image, so that I'm able to install a system package (more specifically **build-essential**).

[2019-04-25 17:53] JasonRShaver commented on #97
The team discussed this this morning and will work to add support for Shapely.  While I can't make a commitment right now, I'm hopeful for this being available in June.

[2019-04-25 17:58] JasonRShaver commented on #98
We've investigate this, but there are some security concerns that need to be solved before the scenario can be enabled on App Service.  We are looking into supporting this scenario, but I don't have a timeline to share other than "not soon".

As a recommendation (and please reply if this can't support your requirement), while this does not use Oryx, consider: https://azure.microsoft.com/en-us/serv

[2019-04-25 17:58] #98 closed

[2019-04-25 18:38] FScaccheri commented on #98
I will try to deploy my application using Web App for Containers, and come back with an update if it either did or didn't work. Thanks for the reply!

[2019-04-25 19:03] markwolff opened #99 "Cannot use native node.js modules in Linux App Services"
### Bug Report

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

During deployment

- If your repo is publicly available please share its URL:

You can repro this in the App Service SSH blade and installing any native node module. I've used [bcrypt](https://github.com/kelektiv/node.bcrypt.js) in my example, but any other nativ

[2019-04-25 19:06] arroyc commented on #99
Thanks @markwolff .. we are working on this and will update you soon

[2019-04-25 20:59] arroyc commented on #99
yeah long story short >> need to use single image for build and runtime .. else native node modules will always be a problem, need to plan to roll out this on our end

[2019-04-30 17:28] arroyc commented on #97
@FScaccheri Thanks for trying oryx … Can you tell us a little more about your scenario? Did you try to host/build a python app or node app? Based on above description when I tried shapely to build an circular patch, it worked for me. I used shapely as well as geos in my requirements.txt.

[2019-04-30 17:57] FScaccheri commented on #97
@arroyc I tried to host an old python 2.7 app (with Django 1.11) and whenever I tried to deploy to Azure, Shapely installation would fail because it was missing the geos library. I have Shapely in my requirements.txt, but not geos, because it's an apt package. How did you manage to include its installation into the requirements file?

[2019-04-30 18:08] arroyc commented on #97
@FScaccheri thanks for your  feed back, we will update you once we add these libraries to our image

[2019-04-30 18:10] arroyc commented on #97
@FScaccheri, nevermind, i was debugging and in one of the steps I installed libgeos-dev manually which I forgot to mention earlier, so indeed we need this library to fix this issue

[2019-05-02 22:51] derekbekoe opened #112 "PHP not automatically on PATH on build image"
### Bug Report

- At what date and time did you most recently experience the problem?
May 2, 2019

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Offline

- If your repo is publicly available please share its URL:
n/a

- What happened?
php not found.

- What did you expect or want to happen?
php command should be found.

- Ho

[2019-05-04 00:18] gpcastro commented on #112
Thanks Derek. I can repro the issue, working on a fix.

[2019-05-06 18:10] #112 closed

[2019-05-07 17:00] gpcastro commented on #112
@derekbekoe tag 20190507.2 has the fix for this issue.

[2019-05-07 17:41] derekbekoe commented on #112
Thanks!

[2019-05-11 13:01] kichalla commented on #68
@valeriob Could you check again? The fix should be available now.

[2019-05-12 12:28] valeriob commented on #68
Hi,
i restarted the web app and i do not see any changes :
ShortDatePattern it : MM/dd/yyyy
ShortDatePattern en : MM/dd/yyyy
Do i need to deploy the code again to use the new base container image ? If so, i'll be able to do it tomorrow.

[2019-05-13 11:40] valeriob commented on #68
I made a new deployment, it's still running on alpine 3.8 and the "it" culture is still invariant.

[2019-05-14 20:25] kichalla commented on #68
Sorry for the delay in replying @valeriob. I just now checked with my partner team about this and was told that the fix is still getting rolled out (they do region by region) and it seems it would probably take one more week for the change to propagate to your region (Its France region?..could you share the region you chose on the Azure portal?)

[2019-05-15 08:41] valeriob commented on #68
Thanks @kichalla,
yes i'm deployed in France Central, i'll  check again next week !

[2019-05-17 17:11] arroyc commented on #97
@FScaccheri .. we have added the support for shapely, but it will take some time to roll out through out .. thanks … if you don't see it in next 2 weeks or so, please feel free to post here :)

[2019-05-17 17:12] arroyc commented on #99
@markwolff  .. we have updated our images, but it may take some time to roll out .. please feel free to post here if you still see this issue after 2 weeks (approx.)

[2019-05-18 19:26] poligarcia commented on #97
@arroyc would you please point us on how this support was implemented? Which commit/pull request?

[2019-05-18 20:30] arroyc commented on #97
@poligarcia https://github.com/microsoft/Oryx/pull/105

[2019-05-28 04:14] capraynor opened #171 "Multiple node_modules Installed But Not Copied to Website Production Environment"
There should be multiple node_modules in my project when the `npm install` command completed.

But not all the `node_modules` directory correctly copied to the production website directory.

Repro Steps:

This is my example project.

https://github.com/capraynor/kudu-bug-multiple-node-modules-not-copied-correctly

When I deployed this project to azure web app, I cannot see `/home/site/wwwroot/anot

[2019-05-28 04:15] capraynor commented on #171
Also reported in here.

https://github.com/projectkudu/kudu/issues/2985

[2019-05-28 18:17] gpcastro commented on #171
Thanks for reaching out.  I can repro the issue, and we'll work on a fix. For now, disabling the performance optimizations we have for the build should make your build work. To do that, set app setting BUILD_FLAGS to "Off" (case matters, so "off" won't work"). Please let me know how it goes.

A bit of context as to why we compress `node_modules`: to make builds faster, we build the `node_modules`

[2019-05-28 23:41] mrbatista opened #172 "New deployment uncompress node_modules under root container folder"
### Bug Report

I have a nodeJS application that release with automatic deploy (git repository).
I have deploy the application several time without any problem.
Yesterday the deploy (with success status) break the application.
The log (omit some sensitive line) of Oryx script build does not show any error.
[code]
If browse `/home/site/wwwroot` directory through WebSSH I do not find `node_modules`

[2019-05-28 23:57] gpcastro commented on #172
Thanks for reaching out. This change (compress the `node_modules` folder) was done for performance reasons: we perform `npm install` inside the container, with much faster disk IO, and copy its contents compressed to the `wwwroot` folder. Before running the app, we extract the `node_modules` content as you noticed.

What is the specific library you mentioned that had issues with relative paths? We

[2019-05-29 00:13] mrbatista commented on #172
I have forked the [library](https://github.com/digital-garage-to/loopback-include-through-mixin) and resolved the problem. See [this commit](https://github.com/digital-garage-to/loopback-include-through-mixin/commit/4ec48c708e4aebf234793b3bcdfc0559b2b25ad0) for more details.
The library is used with [loopback framework](https://github.com/strongloop/loopback).
To use it I need to add the library u

[2019-05-29 00:18] mrbatista commented on #172
@gpcastro I think that you should write this in the documentation.

[2019-05-29 03:17] capraynor commented on #99
@arroyc
FYI
Seems that I can use `node-pre-gyp` when I installing `nodegit` in app service, but node-pre-gyp not works so good when I set `BUILD_FLAGS` to `Off`.

[2019-05-29 07:19] capraynor commented on #171
Hi, thanks for your information.

Seems that the `BUILD_FLAGS` works in my case.

But here's some other problems:

When `BUILD_FLAGS` is `On`:
- `nodegit` package can be installed normally
- `npm dedupe` works correctly

When `BUILD_FLAGS` is `Off`:
- `nodegit` package cannot be installed due to `node-pre-gyp` error.
- `npm dedupe` has an error with `npm ERR! Cannot read property '0' of undefined`

[2019-05-30 07:07] capraynor commented on #171
Still have no idea about your flag. Your flag affects the node.js environment itself, let it not stable.

Now I will run npm install, and move the node_modules to som where that oryx not discard.

And then, when the website starts, I will move that directory to node_modules.

This costs time, but works.

I will wait for your fix.

Thanks for your amazing product!

[2019-05-30 16:38] gpcastro commented on #171
From your description, oryx might still be trying to extract node_modules when the app is starting. This will happen if `oryx-manifest.toml` file is present in `/home/site/wwwroot`. You can either remove this file, or just rebuild your application through app service (e.g. doing a git push or redeploying through VS Code)

[2019-05-31 02:45] capraynor commented on #171
Thanks for your reply

I did `rm -fr *` in `/home/site/wwwroot/`, things still happen. node-gyp won't work correctly.

[2019-05-31 04:16] capraynor commented on #171
`npm dedupe` is a known issue that never solved.

I think that the flag breaks the node.js version.

[2019-05-31 08:40] valeriob commented on #68
Hi, i can confirm it's fixed, thanks !

[2019-05-31 08:40] valeriob commented on #68
Hi, i can confirm it's fixed, thanks !

[2019-05-31 13:49] kichalla commented on #68
Great, thanks for letting us know. Closing this issue.

[2019-05-31 13:49] #68 closed

[2019-06-05 00:47] gpcastro commented on #172
Added documentation for this: https://github.com/microsoft/Oryx/blob/master/doc/hosts/appservice.md
Let me know if you have any suggestions.

[2019-06-05 00:47] #172 closed

[2019-06-11 09:59] capraynor commented on #171
the node_modules will be extracted to `/node_modules`, is this the expected behavior?

[2019-06-14 18:10] gpcastro commented on #171
Yes, this is expected. You can find out more about why we do this, as well as how to disable this behavior, here: https://github.com/microsoft/Oryx/blob/master/doc/hosts/appservice.md#nodejs

[2019-06-14 18:13] arroyc commented on #99
@capraynor .. I see …  it will be nice if you can share your sample app or package dependencies so that we can troubleshoot more

[2019-06-14 18:14] arroyc commented on #97
@poligarcia ... I'm closing this issue. Please feel free to reach us or reopen this issue if you see any problem

[2019-06-14 18:14] #97 closed

[2019-06-20 22:41] arroyc commented on #99
@markwolff @capraynor  I'm closing this issue for now.... feel free to log any new issues you find

[2019-06-21 01:52] capraynor commented on #171
Well I think we can do `ln -s` to link the /node_modules to network volume.  Just a suggestion :-D

[2019-07-01 06:18] kevinjamesbaker commented on #99
is this still an open issue?  I am on an azure app linux service.

canvas@2.5.0 install /home/site/wwwroot/node_modules/canvas
2019-07-01T06:09:18.393598073Z: [INFO]  > node-pre-gyp install --fallback-to-build
2019-07-01T06:09:18.393606673Z: [INFO]
2019-07-01T06:09:27  No new trace in the past 1 min(s).
2019-07-01T06:09:28.528773780Z: [ERROR]  node-pre-gyp WARN Using request for node-pre-gyp https

[2019-07-01 15:48] arroyc commented on #99
@kevinjamesbaker can you tell us which version are you using? you can simply do `oryx --version`  and share the output here

[2019-07-01 15:54] kevinjamesbaker commented on #99
This is the version that comes preinstalled on azure linux web app with node LTS (10.14)

Oryx Version : 0.2.20190427.2, Commit: 67e4df8c66720a3f939e764c766ef8cda1fb1c85

[2019-07-01 16:02] arroyc commented on #99
@kevinjamesbaker , thanks for reporting the issue … I did a quick look at the releases and it seems the fix is on June releases, and the version you are using is still pointing to the old April release (20190427), I will follow up and post here once I know when the latest version (with fix) is available for use. I'm reopening this for tracking till then !

[2019-07-15 16:14] e-compton opened #282 "npm version 'http://<registry-ip-address>:8080/' not found; choose one of"
### Bug Report

- At what date and time did you most recently experience the problem?
**2019-07-15T15:49:29**

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
**Azure Web Apps**

- If your repo is publicly available please share its URL:
n/a

- What happened?
I was trying to change our deployment to use a private NPM registry.

[2019-07-15 16:39] arroyc commented on #282
thanks @e-compton for reporting this, we will work on this and get back to you ..

[2019-07-15 19:47] markwolff opened #283 "yarn: Cannot add package body-parser"
### Bug Report

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

During deployment

- If your repo is publicly available please share its URL:

I'm using a *Linux* App Service instance with a runtime of **Node LTS**
[code]

`npm install body-parser` works fine, so I can use npm as a workaround
- What happened?

`$ yarn add bod

[2019-07-17 18:44] markwolff opened #287 "Node.js: App Insights is not injected with "Node LTS" framework"
### Bug Report

- At what date and time did you most recently experience the problem?
7/17/2019

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Web Apps

- If your repo is publicly available please share its URL:
Any app will do, I tested with a basic hello world app.
https://github.com/Azure-Samples/nodejs-docs-hello-w

[2019-07-17 20:07] gpcastro commented on #283
We do have a cache for yarn packages in our image; looks like it might be corrupted. We'll take a look

[2019-07-18 10:55] artygus opened #288 "nodejs platform is not supported"
This morning deployment started to fail with the error `nodejs platform is not supported`. MS support team was unable to resolve the issue and suggested filling bug report on github

[2019-07-18 17:03] gpcastro commented on #288
Thanks for reaching out. Is it possible that environment variable/app setting `DISABLE_NODEJS_BUILD` is set to `true` in your web app?

[2019-07-18 17:05] gpcastro commented on #287
Thanks for reaching out, we'll investigate.

[2019-07-18 18:00] gpcastro commented on #288
we interpret it as if you don't want your node app to be built and skip it; can you change its value to `true` or remove it?
Here's the list of variables we interpret: https://github.com/microsoft/Oryx/blob/master/doc/configuration.md

[2019-07-18 19:03] artygus commented on #288
Aha, I see. I deploy prebuilt code and only need a `serve` package installed to serve static content, no build actions required.

Problem I encountered today, maybe not related to the oryx itself, is that I use sub-directory for node project (i.e. package.js, package-lock.json file located in sub-directory), which I specify as PROJECT config variable, but it stopped working.

Moving out node proje

[2019-07-18 19:12] gpcastro commented on #288
Great, so I will close the issue. Totally agree we need a better error message, I had already created a work item on our side to fix it. Thanks for the feedback!

[2019-07-18 19:12] #288 closed

[2019-07-23 00:16] arroyc commented on #287
this seems to be an issue/bug with appservice's kudulite implementation, we will track it till it gets solved by appservice team.

[2019-07-24 23:34] arroyc commented on #283
As discussed, instead of running those commands `mkdir test && cd test
npm init
yarn add body-parser` in runtime container (ssh-ing takes you to runtime container), try running those commands as preinstall script in package.json. make sure for npm init or yarn init you use -y :)

[2019-07-24 23:36] arroyc commented on #282
Hi @e-compton , di you get a chance to find the version you are using? or did you try recently and still have this issue?

[2019-07-24 23:39] arroyc commented on #99
@kevinjamesbaker this should have been fixed now. Please reach back if you still see this issue.
Note: ssh-ing into your environment and manually installing node packages won't work because ssh-ing will take you to run images. To build (npm install or yarn add) you need to keep your packages listed in package.json wither as package dependency or as a script (pre or post build etc)

[2019-07-24 23:39] #99 closed

[2019-07-25 13:19] e-compton commented on #282
Yeah, I'm still seeing the issue on my build. The registry is a Sonatype Nexus private repository.
[code]

[2019-07-26 23:21] arroyc commented on #282
ok thanks … @e-compton .. I will get back to you on this  as soon as I can repro this on my side

[2019-08-05 12:00] e-compton commented on #282
Are there any updates on this? We're still getting it every time an Azure Web App has the `npm_config_registry` environment variable set.

[2019-08-05 22:43] praveendath92 opened #309 "npm run build failing with permission error"
### Bug Report

- At what date and time did you most recently experience the problem?
It started this noon and can't deploy new builds since.

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Web Apps

- If your repo is publicly available please share its URL:
https://github.com/praveendath92/whos-in-bot

- What happened?

[2019-08-05 22:58] praveendath92 commented on #309
I just created a new Web app to see if the same commit deploys fine, and it did! Just to be clear, the issue still persists on my main Web app.

[code]

[2019-08-05 23:12] kichalla commented on #309
Thanks for trying out again and giving us the details. Feels hard to guess what could be the cause behind the 'Permission denied' error. Wondering if any other process is still holding onto the file('dist/public/css/main.css') being updated but that feels unlikely.
BTW the commits of the build and the one you say it stopped working do not match:

![image](https://user-images.githubusercontent.com/

[2019-08-05 23:15] praveendath92 commented on #309
Appreciate a quick response. Yes, they do not match. The commit in the logs is the current HEAD. The commit I reported as stopped working is when it stopped working. There were a couple of commits to master since then

[2019-08-05 23:17] praveendath92 commented on #309
@kichalla  Is there a way for me to do a fresh redeploy on the current web app? I'm guessing that would work again

[2019-08-05 23:20] kichalla commented on #309
@sanchitmehta or @patricklee2  can probably answer that question

[2019-08-06 00:11] praveendath92 commented on #309
I deleted the app and created a new one with the same name (in a different region). Recreating with the same name in the same region gave the same error - I think it reused the container

Probably not the best way to go about it but works for my minimal config setup

[2019-08-06 19:08] arroyc commented on #282
@e-compton  we are actively working on this, will update you once we have something. Would it be possible for you to share the app or portion of package.json for better troubleshooting from our end? I'm curious because, I wanted to see  your .npmrc  configuration and also other configuration as needed. I'm using Gemfury, but you probably using something different where your configuration may be di

[2019-08-06 19:14] arroyc commented on #309
@praveendath92 are you still seeing this error or shall this considered to be resolved?

[2019-08-06 19:14] #283 closed

[2019-08-06 19:16] arroyc commented on #171
we are doing this actually  and it will be published in the next release. Thank you for the suggestion, we appreciate your feedback and please keep using the product and report any issues or suggestions that you may have. For the time being I'm closing the issue

[2019-08-06 19:16] #171 closed

[2019-08-06 19:30] praveendath92 commented on #309
I would say worked around for now but yes, closing it since there's no reliable repro

[2019-08-07 11:37] praveendath92 commented on #309
I'm getting this again 😞

I may have a repro this time. I had make the repo private and deployment center could't get the repo anymore. To fixed that I used "disconnect" in the deployment center and added the repo again. Now the error is back 😢

[2019-08-07 11:47] praveendath92 commented on #309
My repo is based on https://github.com/microsoft/TypeScript-Node-Starter I will try and make a public fork with minimal setup and see if I can get a reliable repro.

I love how easy it is to setup auto deployment using Oryx, will do my best to help in anyway I can

[2019-08-08 18:30] arroyc commented on #282
@e-compton , I see http://<registry-address>:8080/ in  the log … where is your private registry hosted? Usually with app service you want a .npmrc file in your source repo which will have login/access token info of that private registry etc.

[2019-08-08 18:42] arroyc commented on #309
@praveendath92 .. I am looking at your logs and have some questions for you ... are you doing local git push to deploy the webapp? the microsoft repo for typescript-node-starter seems to have a mongo db portion, how are you setting it up in cloud? because locally it will work but when you deploy in cloud(appservice) you need to set up a cloud mongo db (mongo lab?) and you will get authentication d

[2019-08-08 19:00] praveendath92 commented on #309
No, I set up a connection to the Github repo using Azure Deployment center. I was hoping that way any changes to master will be auto deployed. It was working fine - except it ran into this issue after a few successful deployments.

@arroyc thanks for help so far. I'm waiting for approvals to make the repo public. However, I can add you as a collaborator since you are already a member of Microsoft

[2019-08-09 08:23] e-compton commented on #282
So I used a PRE_BUILD_COMMAND to create the `.npmrc` just before the build started:
[code]
The private registry is hosted on an AWS EC2 server, and all traffic goes over port 8080.

I managed to get it working by using the PRE_BUILD_COMMAND to also inject the registry:
[code]
But if the url is set using `npm_config_registry`, then I still get that same error.

[2019-08-12 17:16] arroyc commented on #282
I think what you are doing as a pre_build_command is a right thing. Additionally are you using npm_config_registry as an environment variable in

 in your app service? Are you following any quickstart document or anything as such that says using npm_config_registry as environment variable ?
There are some existing issues I saw where NPM_CONFIG_REGISTRY works and npm_config_registry doesn't etc. I

[2019-08-12 18:36] arroyc commented on #282
@e-compton , I was able to successfully deploy the app using `NPM_CONFIG_REGISTRY`. This is what my application settings look like
![image](https://user-images.githubusercontent.com/16231002/62888909-2711d400-bcf5-11e9-9850-b54de1d59209.png)
and this is what my package.json looks like
`{
  "name": "node-js-sample",
  "version": "0.2.0",
  "description": "A sample Node.js app using Express 4",
  "m

[2019-08-12 19:56] arroyc commented on #309
@praveendath92 , please let me know once it's ready

[2019-08-12 19:59] praveendath92 commented on #309
My bad, you already have access to the repo. I assumed you would have got an email about it. About 4 days ago

[2019-08-13 00:16] praveendath92 commented on #309
It looks a deployment is being built in a temporary folder without sufficient permissions

Log when deployment was successful
[code]

Log when failure
[code]

[2019-08-14 18:28] arroyc commented on #309
was able to access https://github.com/microsoft/whos-in-bot.git … will work on to see if I can repro

[2019-08-14 20:03] praveendath92 commented on #309
Thanks to a lot of patience from @arroyc, we found out that this is being caused by the app setting, `NODE_ENV` set to `production`

[2019-08-14 20:43] praveendath92 commented on #309
Specific to my project setup. Turns out, my `npm build` is configured to run `build-sass` and other tasks that require devDependencies. However, as I'm setting `NODE_ENV` to `production`, those aren't available!

[2019-08-14 20:43] #309 closed

[2019-08-15 17:16] arroyc commented on #282
@e-compton did you get a chance to verify this?

[2019-08-16 10:40] e-compton commented on #282
@arroyc I'm afraid for different reasons we're now using custom docker containers to deploy our Azure Web Apps. So I no longer have access to an Oryx server to verify this on. But thanks for all your help.

[2019-08-16 10:40] #282 closed

[2019-08-16 17:49] arroyc commented on #282
@e-compton , thanks for writing back to us. We are sorry seeing you moving away from Oryx, but please feel free to share any pain points/negative experiences  which made you choose custom docker containers to deploy your web apps. Your feedback will immensely help us.

[2019-08-16 18:26] e-compton commented on #282
There were a couple of reasons why we moved away from Oryx, but I think they're more to do with Azure Web Apps than Oryx itself.

Firstly, the Oryx container doesn't rebuild until a new commit has been pushed to the repository. There is a rebuild button, but it seems to take a long time to trigger the rebuild. And there is no rebuild button when remotely deploying code through a build server like

[2019-08-21 01:46] arroyc commented on #282
@e-compton , thanks for taking time to share this, really helpful to understand the pain point. I would channel it to the right team

[2019-08-28 19:10] patricklee2 opened #336 "php missing mcrypt in php 5.6"
### Bug Report
see https://icm.ad.msft.net/imp/v3/incidents/details/142218082/home

- At what date and time did you most recently experience the problem?

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

- If your repo is publicly available please share its URL:

- What happened?

- What did you expect or want to happen?

- Ho

[2019-08-29 22:29] arroyc commented on #336
thanks for reporting this, it should be a problem for PHP 7.0 as well. Also we need to know what to be done from PHP 7.2 onward

[2019-09-09 04:37] arroyc commented on #336
Necessary changes have been checked in  .... #345

[2019-09-09 04:37] #336 closed

[2019-09-12 06:55] janekkkk opened #348 "Building fails because of missing node_modules"
### Building fails because of missing node_modules

I'm setting up a CI/CD pipeline with Azure Devops. When the Nuxt Universal (Node) application gets build by my pipeline everything goes well. However when Oryx builds the application it's missing modules.

I wasn't expecting it to build again as I've already build it and added the zip for deployment. I'm quite new with Azure Devops however so cor

[2019-09-19 09:44] janekkkk commented on #348
@arroyc, I can't share it. That app isn't a good example because I'm using the new nuxt-ts API.
https://typescript.nuxtjs.org/guide/

[2019-09-19 10:27] valeriob opened #358 "When an aspnet core application fails to start a core dump is generated, but i can't find it"
We have a running aspnet core 2.2 application in azure web apps from many months.
Last week we found this problem, the web application looks like running from the azure console, but if we browse to it's url we see the default azure webapp application.
If we stop and start the application again everything works again for a few days.
I would like to know why the system runs the default application o

[2019-09-19 17:24] kichalla commented on #358
Thanks @valeriob. Since you would have access to the runtime container, have you tried to see if coredump was enabled or not and if not have you tried enabling it and see? https://linux-audit.com/understand-and-configure-core-dumps-work-on-linux/

I am in touch with another team about your question and will keep you posted.

[2019-09-19 19:34] valeriob commented on #358
Thanks @kichalla, i'm doing code deployment and i did not know i could access the runtime container nor if it's enabled in the default aspnet core 2.2 images.

[2019-09-19 20:00] arroyc commented on #348
@janekkk, what were the steps in npm build scripts?

[2019-09-21 22:06] mohakevin opened #361 "Failing node modules through azure devops CICD"
Hello,

About a month ago, i was able to deploy through Azure Devops to a Linux WebApp
In build pipeline, i build a package and then i release that package.
In the package i include node_modules compressed as node_modules.tar.gz
I set the following value in Application Settings:

compressedNodeModulesFile : node_modules.tar.gz

In this way, in the deployment process, Oryx decompress that file into

[2019-09-23 18:18] gpcastro commented on #361
Hi @mohakevin, the compression/extraction of node_modules is an internal implementation used by Oryx which we did not intend for users to explicitly use; therefore, things might change behind the scenes without us notifying users.

It stopped working because we had a change where we now no longer get values from app settings but rather inspect the build properties from a file that Oryx creates in

[2019-09-23 20:11] mohakevin commented on #361
Hello @gpcastro and thanks for the answer.

I've discovered that tip saturday, but, i fear that it would change in the future too. How sure can i be that it's not going to change?

i) i found out the compressed node_modules uploading a node app through `az webapp up` and i feel it was a great way to do it.
So, i tried (and got it) to achieve the same process through Azure Devops.
ii) It's not abou

[2019-09-23 20:31] gpcastro commented on #361
Thanks for your responses. We don't have any plans to change the behavior of the node_modules compression in the near future, so for now you can keep using it.

We'll look into your suggestion of creating a DevOps task to run Oryx, I agree it is a great use case.

[2019-09-23 20:32] gpcastro commented on #361
I will close this issue since your problem has been solved. Let us know if there's anything else we can help!

[2019-09-23 20:32] #361 closed

[2019-09-24 10:42] janekkkk commented on #348
[code]

[2019-09-25 13:53] mchudinov opened #364 "node_modules.tar.gz is not uncompressed"
### Bug Report

- I experience problem 25.09.2019 15:41 CET
- Problem is at Azure Web Apps in Application Environment. North Europe location.
- I deploy a Node.js application as a zip archive.
After deploy node_modules.tar.gz stays uncompressed.
Application does not work.
In order to start application I need manually login into container and run
npm install command
SCM_DO_BUILD_DURING_DEPLOYMENT i

[2019-09-25 18:24] kichalla commented on #364
Thanks for the detailed information @mchudinov...We will investigate this now.

[2019-09-25 18:47] arroyc commented on #348
Thanks janekk, investigating this .. will update you at my earliest

[2019-09-25 19:02] kichalla commented on #364
@mchudinov I am wondering if there is something else that is going on. I tried the following just now and was not able to repro the issue you are mentioning...Could you share how your `package.json` looks like?:

1. Created an app service app in the portal in North Europe region
2. Added an app setting `SCM_DO_BUILD_DURING_DEPLOYMENT` to `true`
3. Ran the  `az` command that you shared in your post

[2019-09-25 19:24] mchudinov commented on #364
Hello,

This is strange.

Here are my package.json and tsconfig.json files.

And the full deployment log.

Cheers,

Mikael

От: Kiran Challa <notifications@github.com>
Отправлено: 25 сентября 2019 г. 21:03
Кому: microsoft/Oryx <Oryx@noreply.github.com>
Копия: Mikael Chudinov <mikael@chudinov.net>; Mention <mention@noreply.github.com>
Тема: Re: [microsoft/Oryx] node_modules.tar.gz is not uncompress

[2019-09-25 19:27] kichalla commented on #364
@mchudinov you seem to have forgotten to share the contents of package.json and other files

[2019-09-25 19:55] mchudinov commented on #364
Oh.. Lets try again. Here they are.
I have just uploaded same files to the case in Azure portal.

Cheers,
Mikael

On September 25, 2019 at 9:27:41 pm +02:00, Kiran Challa <notifications@github.com> wrote:

[2019-09-25 19:58] kichalla commented on #364
I still do not see the files @mchudinov

[2019-09-25 20:10] kichalla commented on #364
@mchudinov Can you clarify on what you meant by "I have just uploaded same files to the case in Azure portal." ?

[2019-09-25 22:43] mchudinov commented on #364
Oh. I have created a support ticket in Azure and thought that you are from Azure support team.
I attached files to the email but they disappear. Here are files:
package.json and tsconfig.json

[package.json.txt](https://github.com/microsoft/Oryx/files/3655109/package.json.txt)
[tsconfig.json.txt](https://github.com/microsoft/Oryx/files/3655110/tsconfig.json.txt)

[2019-09-25 22:48] kichalla commented on #364
Thanks @mchudinov I am able to see the file content. Based on these files, I do not see a reason why your app is not up and running.
**Question**: Are you seeing that your app is not running?
AppService uses 2 containers (build & runtime). In the build container we install, run the build scripts (npm run build) and then compress the node_modules and then in runtime container we extract these modul

[2019-09-27 03:06] capraynor opened #367 "Oryx Won't Deploy Dotnet Core Website When Deploying With Bin Files"
### Bug Report

- At what date and time did you most recently experience the problem?
Sept. 26th, 2019 - Sept. 27th, 2019

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Azure Web Apps. On Linux.

- If your repo is publicly available please share its URL:

Deploy source:
https://github.com/capraynor/oryx-bug-dotnet-core-2.1-

[2019-09-27 03:14] capraynor commented on #367
More information provide in here.
I found a line of code https://github.com/microsoft/Oryx/blob/87aa7bdb10168c735f8a214b2b8a19665e605ec7/src/BuildScriptGenerator/DotNetCore/DotnetCoreLanguageDetector.cs#L49

The code is basically like this:
[code]

What if I just upload the binary files? Binary files don't have a csproj file, and this method will return null.

[2019-09-27 03:19] capraynor commented on #367
More information provide in here

https://github.com/microsoft/Oryx/blob/697269ef7f8e5821b8d6a1b42f40b120ba3877f0/src/BuildScriptGenerator/DefaultBuildScriptGenerator.cs#L111

Obviously when fixing this bug, we need to consider investigate this todo.

[2019-09-27 03:21] capraynor commented on #367
Looking forward for your reply!

[2019-09-27 18:39] aeikman commented on #364
Experiencing the same bug.  node_modules/  is empty while tar never unzips. the good module folder is renamed for deletion.

[code]

[2019-09-27 22:49] kichalla commented on #364
Hi @aeikman The node modules are extracted to a different folder (at the root ex: `/node_modules`). We are aware of an issue that is currently present and are working actively with App Service team which delivers our fixes to production.

[2019-09-27 22:50] kichalla commented on #364
cc @arroyc @gpcastro

[2019-09-27 23:02] kichalla commented on #367
@capraynor Thanks for the information!

Since you are just deploying the binary files basically you should not be going through the 'build' process as you can imagine we do not have information to do the build (i.e .csproj etc.)

How are you deploying your app? if you are zip deploying your app, then you need to set `SCM_DO_BUILD_DURING_DEPLOYMENT=false` to disable running the 'build' step.

[2019-09-29 01:30] capraynor commented on #367
AMAZING!!!!!!!!

I think that this is your spec / manual
https://github.com/projectkudu/kudu/wiki/Configurable-settings
I'm I correct?

[2019-09-30 16:42] kichalla commented on #367
https://github.com/projectkudu/kudu/wiki/Configurable-settings
I'm I correct?

It is not exactly my team's but my partner team's but yeah you would get additional information about Azure App Service from the above link that you shared.

[2019-10-01 16:44] kichalla commented on #367
Hopefully what I mentioned above resolved your issue, so closing it.

[2019-10-01 16:44] #367 closed

[2019-10-03 08:34] mchudinov opened #373 "zip deployment fails with rsync error: some files/attrs were not transferred"
### Bug Report

- We experience problem 03th of October 2019 (03.10.2019) at 10.16 CET

- We experience the problem at Azure Application Service Environment, Linux, Node.js 10.14

- Zip deployment fails
with the following
[code]
application does not start after this error.

Our application uses error.log file for logging. It looks like the error.log file is somehow locked and that's the reason dep

[2019-10-03 20:09] patricklee2 opened #376 "php build image is missing bcmath"
runtime images have bcmath but the build does not
See: https://icm.ad.msft.net/imp/v3/incidents/details/150685260/home

[2019-10-04 01:42] Callius opened #378 "Directory did not sync caps change."
### Bug Report

- At what date and time did you most recently experience the problem?
03/10/2019 (d/m/y)

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Web Apps

- If your repo is publicly available please share its URL:
*x*

- What happened?
A directory from the previous project "Api" was not renamed to the directory

[2019-10-04 18:21] kichalla commented on #376
This has been fixed.

[2019-10-04 18:21] #376 closed

[2019-10-04 19:08] kichalla commented on #373
Thanks for reporting @mchudinov . We will investigate this issue.

[2019-10-04 19:35] kichalla commented on #373
@mchudinov How many instances of your app is running in App? and also curious why the file name is `error1.log` instead of `error.log` as in your settings?

[2019-10-04 20:21] kichalla commented on #378
@Callius Thanks for the details. Can you please confirm if you indeed see the renamed folder when you visit `/home/site/repository`? I say this because renaming folders or files and git does not work as you usually expect to.

For example, `git status` does not show that the file has actually been renamed:

[code]

[2019-10-04 20:33] Callius commented on #378
The "/home/site/repository" appears to be empty ("ls" command reveals nothing).

This could be my bad. I rebuild my api from scratch using a fresh repo. The old repo had a folder named "Api", and the new repo has a folder named "api". I assumed since it was a new repo, it would perform a clean build.

I will clear the App Service before changing repos next time :)

Thanks for looking at this. If i

[2019-10-07 14:22] mchudinov commented on #373
We are running 5 slots and at least 2 instances. Inside ASE.
I'm not sure why error1.log instead of error.log. I will ask developers about it.

[2019-10-07 16:53] kichalla commented on #364
@mchudinov , @aeikman : Just FYI...a fix for this should be rolling out soon.

[2019-10-07 20:42] kichalla commented on #373
Thanks @mchudinov . Given your scenario, we recommend you to use a different directory under `/home` for writing out log files(or any files which you would like to persist) to prevent from files being locked during deployment. You can try this out and let us know if you still face any issues.

[2019-10-07 21:53] kichalla commented on #378
Closing this issue as it is not related to Oryx. Feel free to re-open this issue with more details.

[2019-10-07 21:53] #378 closed

[2019-10-08 09:04] mchudinov commented on #373
Thank you! We are going to try this.

[2019-10-12 05:47] capraynor opened #386 "Azure App Service Node.js Deployment Reports node_modules not found"
### Bug Report

- At what date and time did you most recently experience the problem?

11:00 Oct. 12, 2019 GMT +8

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Azure App Service

- What happened?
Please see: https://github.com/projectkudu/kudu/issues/2946
Well this is not randomly. This bug always occurs when I deploy.

I

[2019-10-13 15:28] richardstrutt commented on #386
Same issue as well:
`Command: kudusync -v 50 -f /home/site/repository -t /home/site/wwwroot -n /home/site/deployments/6b56eaa9c155c21279fd47b3ef4dd597997345ee/manifest -p /opt/Kudu/Scripts/firstDeploymentManifest -i ".git;.hg;.deployment;.deploy.sh"
Kudu sync from: '/home/site/repository' to: '/home/site/wwwroot'
Error: ENOENT: no such file or directory, stat '/home/site/wwwroot/node_modules'
\n/o

[2019-10-14 20:25] cormacpayne commented on #90
The fix for this has been merged and will be available in the next release of the Oryx build image.

[2019-10-14 20:25] #90 closed

[2019-10-14 23:15] beb3704 commented on #386
I'm having the same issue. Any fix for this? I can't update any of my sites.

[2019-10-15 01:52] capraynor commented on #386
Please see response in here:
https://github.com/projectkudu/kudu/issues/2946#issuecomment-541980416

[2019-10-16 08:40] sdementen opened #392 "pip install not installing in virtualenv"
### Bug Report

- issue observed in the last days (~ 1 week max)

- issue when deploying a django app on an Azure Webapp on Linux ASE

- repo not publicly avail

- pip install is started
[code]
- when running `/home/site/wwwroot/antenv/bin/pip freeze`, I would expect to see new package from the requirements.txt to be installed yet they are not anymore installed (1 week ago it was OK) => I need to

[2019-10-18 04:33] bharatdwarkani commented on #91
Any update on this when it going to be fixed?

[2019-10-18 07:38] sdementen commented on #392
This bug is getting really painful.
Oryx is reinstalling the whole requirements.txt at every deploy not even in the virtual env (/home/site/wwwroot/antenv) ==> eating 5 minutes at each deploy!!!

[2019-10-18 11:32] kichalla commented on #392
@sanchitmehta

[2019-10-18 16:05] sanchitmehta commented on #386
This has been fixed and Kudu has been patched for all affected customers.

[2019-10-18 16:12] kichalla commented on #392
@sdementen The virtual environment `antenv` should be extracted to the root folder, for example: `/antenv`

[2019-10-18 18:19] kichalla commented on #392
@sdementen Adding to my earlier comment, I did a deployment just now from VS Code and following is the content from the runtime container of my app.

[code]

[2019-10-18 18:50] sdementen commented on #392
When pushing via git on the webapp repo (local git deployment) the first time, it created the virtual env in the /home/site/wwwroot/antenv folder. At each deploy, it was pip installing the requirements in this folder too, installing only new packages.
Since a couple of days, it is not the case anymore. The pip install command is running and install all packages each time (before, only non previous

[2019-10-18 23:41] derekbekoe opened #395 "Support finding executables in package manager bin directories"
### Bug Report

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Offline use.

- What happened?

Executable installed with `pip install` not found on PATH.

The executable can be found in /opt/python/3/bin/pylint but it is not on PATH.

- What did you expect or want to happen?

The executable was found and ran as expected.

-

[2019-10-18 23:46] derekbekoe commented on #395
Also happens with npm.

[code]

[2019-10-18 23:47] derekbekoe commented on #395
Is this a scenario you'd expect to work or you expect users to add the required paths themselves?

[2019-10-19 10:24] sdementen commented on #392
I just read issue https://github.com/microsoft/Oryx/issues/172 and settings BUILD_FLAGS to Off restore the old behavior.
Would you know if the default value of this flag could have changed recently ?

[2019-10-19 14:55] kichalla commented on #395
Thanks @derekbekoe

For an out of the box experience, I would expect this scenario to work. I tried to see what is the experience of installing Nodejs in a `debian:stretch` image and there by installing global tools like in your scenario and I think here the gap is about adding `/opt/nodejs/lts/bin` in the path by default instead of just adding the `/opt/oryx/defaultversions` (or maybe not even ad

[2019-10-21 00:06] kichalla commented on #392
Thanks @sdementen...my guess is this behavior is a recent regression. It would help if you could share the original behavior that you saw. I am specifically looking for build output that you see for 2 successive deployments. I think I know the issue but just want to confirm again.

[2019-10-21 02:16] capraynor commented on #386
Yes thanks for solving this issue, I'll close this bug.

[2019-10-21 02:16] #386 closed

[2019-10-21 06:31] sdementen commented on #392
Original behavior was identical to the one I get now with BUILD_FLAGS=Off

On Mon, Oct 21, 2019, 02:06 Kiran Challa <notifications@github.com> wrote:

[2019-10-21 17:05] kichalla commented on #364
Folks, this issue should be fixed now. Can you check again?

[2019-10-21 17:06] kichalla commented on #348
@janekkkk  This issue should be fixed now. Can you please check again?

[2019-10-21 21:15] markwolff commented on #287
I believe this is resolved now since we moved to runtime image and always set `NODE_OPTIONS`? Closing the issue, but reopen if it wasn't actually resolved.

[2019-10-21 21:15] #287 closed

[2019-10-28 16:27] kichalla commented on #395
@derekbekoe this is fixed in our new release 20191028.3

[2019-10-28 16:27] #395 closed

[2019-10-28 17:29] janekkkk commented on #348
I'll change my deployment settings when I've got the time. Probably next week.

[2019-10-29 16:34] kichalla commented on #392
Thanks @sdementen We identified the issue and discussed with our partner team (Azure App Service). The fix would be from them and should roll out in next release. I will keep this issue open and will post any updates.

[2019-10-29 23:42] Chuxel opened #404 "Oryx base image prevents installation of OS tools that use python, can break apt"
### Bug Report

Currently it looks like the base Oryx Docker image moves or removes the default Python installation that comes with Ubuntu.  This causes two problems:

1. Installing a package that adds a command like `apt-add-repository` breaks apt-get entirely since it relies on Python in this location.
2. A number of tools expect the OS python location to be present.

These two points make it di

[2019-10-30 00:31] kichalla commented on #404
Thanks @Chuxel We removed the default installations of Python to make sure by default Oryx installed python versions are picked up (since they are later in the PATH environment variable) but did not anticipate the issue you mentioned above (even though we had a slight apprehension before making our change)...which version of Oryx build did you try this on?

[2019-10-30 00:35] Chuxel commented on #404
@kichalla I am working with @derekbekoe on the VS Online team. The image that service uses as a base is `mcr.microsoft.com/oryx/build:20191028.3`

[2019-10-30 06:32] MashB opened #405 "Deployment center build fails"
I have configured Deployment center with Bitbucket repository, Whenever I checkin the build triggers and it successfully deploys, but on the Dashboard/UI, I see its failed.

I'm deploying Nodejs application to App service. Selected Node stack environment.

Issue:
Successful builds are shown as failed build.

Expected:
Fix the status

[2019-10-30 08:23] capraynor commented on #171
Still not solved on azure app service.

[2019-10-30 10:23] kichalla commented on #405
@MashB This is not the repo to file the issue that you are mentioning.

@sanchitmehta is this something handled by your team?

[2019-10-30 10:28] kichalla commented on #171
@capraynor what is the issue that you are seeing? could you file a separate issue with more details?

[2019-10-30 11:09] mchudinov commented on #364
I checked our deployments and everything works as expected now. Problem is fixed.

[2019-10-30 11:09] #364 closed

[2019-10-30 16:28] sanchitmehta commented on #405
@MashB did you also check the scm status <scm url>/newui -> status bar. Does it show it as failed, if yes could you share your deployment logs from the same place?

[2019-10-31 03:51] capraynor opened #409 "Multiple node_modules Installed But Not Copied to Website Production Environment"
There should be multiple node_modules in my project when the npm install command completed.

But not all the node_modules directory correctly copied to the production website directory.

Repro Steps:

This is my example project.

https://github.com/capraynor/kudu-bug-multiple-node-modules-not-copied-correctly

When I deployed this project to azure web app, I cannot see /home/site/wwwroot/another-d

[2019-10-31 03:52] capraynor commented on #171
https://github.com/microsoft/Oryx/issues/409

[2019-10-31 03:52] capraynor commented on #409
Still not solved on azure app service, linux instance.

https://github.com/microsoft/Oryx/issues/171

[2019-10-31 11:55] MashB commented on #405
HI @sanchitmehta , yes scm URL shows failed status but logs look ok.

Log:

[{
	"log_time": "2019-10-31T11:47:04.8464182Z",
	"id": "2731d776-b001-4d0d-9c48-74da96a78a85",
	"message": "Updating submodules.",
	"type": 0,
	"details_url": null
},
{
	"log_time": "2019-10-31T11:47:04.9130773Z",
	"id": "3cef64d7-e129-4207-9712-32aaee814b70",
	"message": "Preparing deployment for commit id 'ef8d2e4c72'.",

[2019-11-03 20:57] ClientIco commented on #91
Also would like to know ?

[2019-11-04 19:34] arroyc commented on #409
@capraynor .. thanks for reporting … can you help me repro this issue by providing little more information as following?
region of your webapp
from build log you can see oryx version
will be nice to know the node_modules which are not getting copied

I'm also trying to repro this with my sample app, but it is always nice to compare apple to apple, so the above information will help a lot troublesh

[2019-11-05 05:42] cedric05 opened #415 "support java"
i created visualstudio online, it seems `mvn` command is not working. i used https://github.com/microsoft/vscode-remote-try-java/blob/master/.devcontainer/Dockerfile still i'm not able to get `mvn` working. please consider support java.
Thanks

[2019-11-05 12:49] MrTwiggles commented on #409
@arroyc I'm having the same issue in my project. Oryx logs that it's installed the node modules but it never moves them to the destination directory. Below is my build logs. Efter deployment there are no node_modules or node_modules.tar.gz in home/site/wwwroot.
Oryx version 0.2.20191004.5.

2019-11-05T12:33:06  Updating submodules.
2019-11-05T12:33:06  Preparing deployment for commit id '7148b0f93

[2019-11-05 18:30] kichalla commented on #358
@valeriob FYI, currently it is not possible to capture the dumps in AppService since that capability is not built-in yet.

[2019-11-05 21:13] valeriob commented on #358
Thanks @kichalla if you have an issue i can subscribe to let me know.

[2019-11-05 21:13] #358 closed

[2019-11-06 00:14] arroyc commented on #409
@capraynor  thanks for detail logs, I was able to repro the issue and working on the fix. In the mean time I would suggest you to build the app locally and use deploy the built code to azure app service. You can use vs code to do it. Let me know if this works till we get a fix.

[2019-11-06 01:56] capraynor commented on #409
@arroyc   Sorry that is not my log.

The app service is located in Central US.
Please just deploy that repo into an app service, node.js latest version (NOT LTS), Linux. you will see that in runtime directory, `./another-directory/node_modules` not exists

@MrTwiggles
Maybe you mean that you cannot find `./node_modules`. Please find your node_modules in `/node_modules` but not `./node_modules`. Th

[2019-11-06 09:19] dschniepp commented on #364
@mchudinov did you change something? Unfortunately we have the same issue in West Europe.

[2019-11-06 19:40] charlbury commented on #373
I am seeing a similar problem deploying code via github to an Azure Python Linux Web App.

I was originally storing the log files in a subdirectory when I first received this error. I have now moved them to the app root and still see the error. The deployment fails and restarts the previous deployment of the web app.

This is a flask app using python logging that is configured to create the log fi

[2019-11-06 19:51] kichalla commented on #373
@charlbury Thanks for the details. As a workaround can you see if you would still see the issue if you the logs files were written outside the `/home/site/wwwroot` folder?

[2019-11-06 20:52] Chuxel commented on #404
@kichalla Quick ping here - with Visual Studio Online now being live, we're starting to hear about this from customers.

[2019-11-07 07:01] capraynor opened #421 "Failed to Remove _del_node_modules"
### Bug Report

- At what date and time did you most recently experience the problem?
7th Nov. 2019

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure app service
Linux
Node.js 10.14

- If your repo is publicly available please share its URL:

No.
- What happened?
Oryx failed to remove _del_node_modules directory.

- What

[2019-11-07 07:02] capraynor commented on #421
[code]

[2019-11-07 07:07] capraynor commented on #421
This issue happens on my app service again and again, and also, wasting my time.
Time is money my friend.

I searched on the internet, the only related issue is
https://github.com/projectkudu/kudu/issues/2946

I only know that "home" directory is mounted with a network drive?
[code]

Also, removing contents under node_modules also can run into a "removal failed"

The only way to solve this issue i

[2019-11-07 07:12] capraynor commented on #421
That instance will be reserved for your team.

[2019-11-07 17:40] kichalla commented on #421
@capraynor Thanks for the details and sorry for the bad experience. We actually made a fix which should be available during next release of Kudu. cc @sanchitmehta

[2019-11-07 18:01] wilr commented on #421
@kichalla how often are releases made? Currently experiencing the same issue preventing deployments. Any workaround in the short term?

[2019-11-07 18:06] kichalla commented on #421
@wilr Is your app being built in Kudu (i.e through Oryx), then as a workaround remove the existing `node_modules` folder under `/home/site/wwwroot` folder and try again.
@sanchitmehta can you think of another workaround?

[2019-11-07 18:49] charlbury commented on #373
@kichalla I was able to modify the log file location to be outside the `/home/site/wwwroot` folder.

    if not os.path.exists('/home/applogs'):
        os.mkdir('/home/applogs')
    file_handler = RotatingFileHandler('/home/applogs/flaskapp.log', maxBytes=10240,backupCount=10)

This does now allow me to deploy without errors. Is this expected behaviour? Is this how I should have had it setup from

[2019-11-07 19:33] wilr commented on #421
Tested that, `rm -rf node_modules` and retriggering the deploy doesn't help.

Same errror

[code]

[2019-11-07 19:38] kichalla commented on #373
@charlbury  What error are you seeing?

@sanchitmehta Is there a written guidance for users regarding where to put the logs files to so that they are persistent? if yes, could you please share the link to it.

[2019-11-07 19:45] charlbury commented on #373
@kichalla

I no longer see any errors now that my log files are located outside of the `wwwroot` folder.

[2019-11-07 19:49] kichalla commented on #373
Great, thanks for confirming!

[2019-11-08 01:28] capraynor commented on #421
Hi, @kichalla, @sanchitmehta
Thanks for your concern.

I have a few questions on this.

1. When will this release dropped?
1. What do I need to do **after** this version of kudu released to fix this bug?

We really this bug fixed because in every week, I need spend 1 day to solve & investigate this issue, and this really disturb our team's productivity.

[2019-11-08 18:35] srivatsn opened #425 "Flatten layout of dotnet versions to allow dotnet to pick versions."
I was looking at how the different versions are installed in the Oryx build image and it looks like this:

/opt/dotnet/sdks/1.1/dotnet
/opt/dotnet/sdks/1.1/sdks
/opt/dotnet/sdks/1.1/sdks/1.1.x
/opt/dotnet/sdks/1.1/2.1/dotnet
/opt/dotnet/sdks/1.1/sdks
/opt/dotnet/sdks/1.1/sdks/2.1.x

Is there a particular reason that there are two levels of versions? The dotnet executable is a multiplexer itself an

[2019-11-08 18:56] arroyc commented on #425
currently we have defaulted to dotnet 2.1, but we can change it to any of the installed dotnet core versions. Can you please explain the scenario or user story behind this ask?

[2019-11-08 18:58] srivatsn commented on #425
We use this image as the base for VS Online and so when someone creates an environment they think it only has 2.1 installed. The problem is not the default version but the fact that dotnet that's on the path doesnt know about all the other versions that are installed.

[2019-11-11 07:16] wilr commented on #421
Can confirm this is still an issue - tried another deploy tonight and still the same error

[2019-11-11 14:28] JoakimFFCG opened #428 "'project' setting in .deployment file ignored"
I use a Azure Linux Web App configured to deploy from a GitHub repository.
My repository contains a .deployment file with the following content:
[code]

However, when I deploy using Oryx (as now is the default) the .deployment file, or at least the 'project' setting, seems to be ignored, since /home/site/wwwroot/ contains the htdocs directory (not its content).

If I set ENABLE_ORYX_BUILD to false

[2019-11-11 19:07] arroyc commented on #428
hi @JoakimFFCG .. thanks for reporting .. can you please tell little more about your app? Also it will be nice if you can provide us a sample app to repro the issue. what's the content in .deployment file and what is the purpose to set the project = htdocs .. I may be able to give you workaround

[2019-11-11 19:10] arroyc commented on #415
@cedric05 thanks for reporting .. oryx doesn't support java yet, but this is in our future workitem list

[2019-11-11 19:11] #415 closed

[2019-11-11 19:21] arroyc commented on #348
@janekkkk  did you get a chance to change your deployment settings and retry? Are you still facing the issue?

[2019-11-12 08:40] JoakimFFCG commented on #428
I made a [sample app](https://github.com/JoakimFFCG/azure-deployment-test) for you.

The .deployment file contains only what I told you it contains, nothing more. See the sample app.

The purpose is to separate the actual app files (those in htdocs) from those I don't want to deploy, but still would like to have in the repository. Like, for example, the readme file in the sample app.

My workaroun

[2019-11-12 22:54] arroyc commented on #428
Thanks for explanation .. here are two things that I can say based on my understanding …

1. If you only want to deploy source code (actual app files) you can filter them via .gitignore. Now you may ask I still want to modify the readme (for example) time to time and upload that to actual git repo, but I don't want that updated readme to be the part of azure app service (hope I'm understanding you

[2019-11-12 22:58] kichalla commented on #428
@arroyc Regarding the approach no. 2, we would not be installing the PHP packages though  right, for example if the `composer.json` is present under a sub-folder 'oryx build' would not be able install the packages?

[2019-11-12 23:10] arroyc commented on #428
@kichalla that is correct, we currently look for composer.json in the root and if it is in subfolder it won't be able to install the packages, they need to be manually installed in run image.

[2019-11-13 13:24] JoakimFFCG commented on #428
1.
I assume you mean a file structure like this?

From what I understood I will then need to use [git submodule](https://git-scm.com/book/en/v2/Git-Tools-Submodules) and have two git repositories.
That should technically work since the deployed repo will only contain the app files and won't be located in a subfolder.
However, I don't think we want to have an extra repository. (This is an app for w

[2019-11-13 19:37] arroyc commented on #428
@JoakimFFCG … oryx build currently supports project environment variable only for dotnetcore, we are planning to support it for all other platforms (e.g. php) in future, but for now if you want to use this variable I guess the right approach would be setting ENABLE_ORYX_BUILD to false which you are already doing. As per #56 azure app service do support it but not via oryx build rather via their le

[2019-11-18 06:02] capraynor commented on #421
@sanchitmehta

Still an issue now.

Do you think that this is acceptable since we are paying to use app service?

[2019-11-18 15:33] JoakimFFCG commented on #428
@arroyc thanks for your help and suggestions for alternative approaches. I will use the ENABLE_ORYX_BUILD = false setting for now.

You might want to add some information about this in your documentation.

I currently don't use VS code and it sounds like that solution avoids the GitHub repo, which I don't want. I want to make sure that the deployed code is the same as in the repository.
Anyway, as

[2019-11-20 04:04] capraynor commented on #421
@sanchitmehta

Met this bug again.

Japan East

[code]

[2019-11-20 20:00] Hazhzeng opened #436 "Support V3 Function App in Oryx Build"
### Feature Request
The function team has recently previewed Function V3.
However, when using Oryx Build, seems like the latest ASP.NET Core version is missing in Oryx.

### Dotnet Core Csproj
[code]

### Oryx Build Log
[code]

Please advice, thanks.

[2019-11-26 00:35] arroyc commented on #436
thanks @Hazhzeng  .. we will look into this

[2019-11-26 14:00] bottoy opened #437 "rsync issues with deployment"
Hi,

We encountered today an issue with the deployment of a new version of our Django.
When deploying on an App Service via git, we got following error:

`remote: rsync: failed to set times on "/home/site/wwwroot/antenv/lib64": Operation not permitted (1)`

Each time we re-deploy the same issue persist.

[code]

Any clue what causes these errors?

Kind regards,
Bram

[2019-11-26 14:28] kichalla commented on #437
cc @sanchitmehta

[2019-11-27 05:11] sdementen commented on #437
hello, this bug is really painful for us.

We wanted to fix a bug in our app and deploy it and now we are facing theses bugs in the build&deploy script on Azure Webapp forbidding us to deploy this hotfix.
We did not get any notifications about potential issues regarding a next deployment so we are totally caught by surprise. No fun :-(

[2019-12-02 18:13] arroyc commented on #437
@sdementen , we are really sorry for the bad experience, we are working on the fix to be deployed (as far as last update), I will follow up as soon as I have some good news. Once again we apologize for the poor experience, and at the same time really appreciate you reporting these bugs and issues to improve our product. Looking forward to your support as always

[2019-12-02 18:34] sanchitmehta commented on #421
@capraynor are you still experiencing this problem ? We have now deployed the fix everywhere. Could you share you [app name indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly) ?

[2019-12-03 09:05] bottoy commented on #437
It would be nice that via an environment variable we can select the version of the script to run. If not set it will run the latest version, if set, it will run that version.  This will allow a roll-back scenario ...
Condition off course is that redundancy in the script is possible....

[2019-12-03 19:09] arroyc commented on #437
@bottoy .. thank you for suggestion, there is deployment freeze due to holiday season, still we are trying our best to deploy this fx to production.
Regarding roll back scenario, in general app settings you can try setting this ENABLE_ORYX_BUILD to false, let me know if that works for now

[2019-12-03 21:50] wilr commented on #421
@sanchitmehta works for me now, no issue with `_del_node_modules` however deploys still fail with the following. App ID KMCred-Production-RG

[code]

[2019-12-03 22:01] kichalla commented on #421
cc @gpcastro

[2019-12-04 10:07] bottoy commented on #437
@arroyc IT works with this flag, we can deploy and the website starts up via kudu.

Could you give a sign when we can use the Oryx build-script again? Thx

[2019-12-04 21:10] arroyc commented on #437
I will certainly do that .. thanks @bottoy

[2019-12-04 21:10] Hazhzeng commented on #436
@arroyc @kichalla .NetCore 3.1 is released yesterday. Please update me when you're working on support for V3 function app. Thanks.

[2019-12-06 12:53] pooja-sketch opened #441 "Oryx Version"
An outdated version of node was detected (10.1.0). Consider updating.\nVersions supported by Oryx: https://github.com/microsoft/Oryx

[2019-12-06 12:53] pooja-sketch commented on #441
npm WARN tar ENOENT: no such file or directory, open '/tmp/8d77a4945a1b417/node_modules/.staging/readable-stream-c6b87ed5/package.json

[2019-12-06 12:54] pooja-sketch opened #442 "npm WARN"
npm WARN tar ENOENT: no such file or directory, open '/tmp/8d77a4945a1b417/node_modules/.staging/readable-stream-c6b87ed5/package.json

[2019-12-10 10:46] HayHiTee commented on #373
I am getting the same errors even though I had removed the file and ignored from local repo

[2019-12-10 11:06] HayHiTee opened #444 "antenv is compressed"
I cannot use antenv to run some commands in the azure ssh anymore. I use python and django, sometimes i would want to run some manage.py commands on file. Is there any alternative?

[2019-12-10 11:41] kichalla commented on #444
@HayHiTee Could you please give more details on your scenario? Can you use a custom startup file or command as described here? https://docs.microsoft.com/en-us/azure/python/tutorial-deploy-app-service-on-linux-04#create-a-startup-file

[2019-12-10 19:10] charlbury commented on #373
@kichalla is the answer here that log files cannot reside within the `/home/site/wwwroot` folder?

[2019-12-11 04:06] capraynor commented on #421
![image](https://user-images.githubusercontent.com/3467515/70590684-694d1280-1c0e-11ea-980d-2c742558ec7a.png)
Again, node_modules cannot be deleted.
@gpcastro @sanchitmehta

The app name is: ar-...-ja/staging
You have no chance to access this app because we are going to remove the app now.

I'm wondering if you are really working on this?

Another hour wasted on this issue.

[2019-12-13 12:10] garycr opened #447 "Issue pulling image"
W: Conflicting distribution: https://packages.microsoft.com/debian/9/prod stretch InRelease (expected stretch but got stable)
W: Conflicting distribution: https://packages.microsoft.com/debian/9/prod stretch InRelease (expected stretch but got stable)
E: Failed to fetch https://packages.microsoft.com/debian/9/prod/dists/stretch/main/binary-amd64/Packages.bz2  Hash Sum mismatch
   Hashes of expecte

[2019-12-13 13:50] kichalla commented on #447
@garycr It is unclear which image you are referring to?

[2019-12-13 17:35] arroyc commented on #447
@garycr , if this for php, I am also seeing this same error since last night

[2019-12-13 17:47] arroyc commented on #447
seems like many are affected .... https://github.com/dotnet/core/issues/3598

[2019-12-13 23:16] arroyc commented on #447
@garycr  .. give it a try now .. looks like the  issue has been resolved

[2019-12-13 23:16] arroyc commented on #441
Can you elaborate what is the issue you are facing .. what is your scenario?

[2019-12-16 18:35] CobraClutch commented on #409
I've been seeing this issue too. I'm using Azure Pipelines, and my node_modules are in a subdirectory. It doesn't publish the directory though. Sometimes I see a node_modules file that never seems to get unzipped/moved to the proper location.

[2019-12-16 20:29] #447 closed

[2019-12-16 21:57] CobraClutch commented on #437
I fought with this for way too many hours before finally disabling Oryx altogether. Once I set ENABLE_ORYX_BUILD to false, my node_modules folder magically appeared. Could it be something to do with my package.json being in a subdirectory?

[2019-12-18 03:52] robi-ng opened #449 "Oryx did npm run build but not using build folder"
Hi,
I'm trying to deploy react app to Azure App Service Linux instance. It's using Microsoft Oryx in the deployment, and correctly executing "npm run build" to generate React production files and copy all the files to /home/site/wwwroot, however the web server is not using the "build" folder to serve content. How can I configure it to use the "build" folder? (default React production folder)

[2019-12-23 12:27] rlataguerra opened #452 "Oryx is using the wrong node.js version"
Oryx is using the wrong node.js version while it is properly set in the package.json under engines.

Oryx build output :
<img width="359" alt="Capture d’écran 2019-12-23 à 13 26 32" src="https://user-images.githubusercontent.com/2256150/71358039-e752d700-2587-11ea-96f5-01f5fb89eafd.png">

package.json file :
<img width="423" alt="Capture d’écran 2019-12-23 à 13 26 05" src="https://user-images.

[2019-12-26 18:20] arroyc commented on #452
@rlataguerra  thanks for reporting .. we will look into this, in the mean time can you please also share the region where you faced this issue.

[2019-12-26 18:25] arroyc commented on #449
Hi @robi-ng thanks for reporting, will you be please able to provide little more context? From your description my primary assumption is we need to configure the app so that it knows where is the "build" folder. Can you please verify if "build" folder resides in /home/site/wwwroot. Also it would be nice if you can share a sample repro app for this issue.

[2019-12-26 18:27] arroyc commented on #444
@HayHiTee , following up here with the issue you reported earlier, any luck?

[2019-12-26 18:27] arroyc commented on #442
@pooja-sketch , please provide more context/description for the issue you are reporting here

[2019-12-26 22:00] rlataguerra commented on #452
no, problem, Im using western europe region 👍

[2019-12-27 01:23] robi-ng commented on #449
Hi @arroyc yes "build" folder resides in /home/site/wwwroot. I found the option on Azure portal, Configuration > General settings > Setup Command, to configure my startup command "npx serve -s build" so that it doesn't use the default "npm start" (meant for React development environment).

[2019-12-27 01:23] #449 closed

[2019-12-27 18:41] arroyc commented on #449
Thank you for sharing @robi-ng .. hopefully things are resolved at your end .. please let us know for any future issues.

[2019-12-31 17:51] arroyc commented on #452
@rlataguerra .. I tried to repro .. worked for me …
`remote: Running oryx build...
remote: Build orchestrated by Microsoft Oryx, https://github.com/Microsoft/Oryx
remote: You can report issues at https://github.com/Microsoft/Oryx/issues
remote:
remote: Oryx Version      : 0.2.20191105.2, Commit: 67e159d71419415435cb5d10c05a0f0758ee8809, ReleaseTagName: 20191105.2
remote: Build Operation ID: |nCDbh

[2019-12-31 20:28] Ryan-McPartlan commented on #373
This issue also affected me today and was resolved by the solution mentioned by @charlbury on November 7th

[2020-01-01 12:15] rlataguerra commented on #452
here are my general settings :
<img width="501" alt="Capture d’écran 2020-01-01 à 13 14 21" src="https://user-images.githubusercontent.com/2256150/71641240-b6b22200-2c98-11ea-8ddc-b457a6a3f2e4.png">

[2020-01-03 18:41] arroyc commented on #452
I was able to repro this issue … I will update you once the patch is there in prod, in the mean time I suggest you to use specific LTS as workaround

[2020-01-06 17:13] NoNameProvided opened #453 "Cannot deploy NodeJS based app to linux plan"
### Bug Report

#### At what date and time did you most recently experience the problem?

Today while trying to run a NodeJS application in App Service.

#### Where did you experience the problem?

Azure Web apps with a NodeJS based app on a Linux plan.

#### What happened?

When deploying via local git option Oryx doesn't seem to extract the node_modules folder into the container root. So when I

[2020-01-07 19:26] arroyc commented on #452
update: As per node maintenance schedule this is what I see
@rlataguerra this is what I see in node's official page

Release | Status | Codename | Initial Release | Active LTS Start | Maintenance LTS Start | End-of-life
-- | -- | -- | -- | -- | -- | --
v10 | Active LTS | Dubnium | 2018-04-24 | 2018-10-30 | 2020-04-01 | 2021-04-30
v12 | Active LTS | Erbium | 2019-04-23 | 2019-10-21 | 2020-10-21 | 2

[2020-01-08 20:27] arroyc commented on #453
Thanks for reporting, Please correct me if I am understanding wrong .. node_modules folder was not found in the root but there was an empty node_modules folder in /home/site/wwwroot. Can you please share which region you are seeing this? Also can you try a different region and share a screenshot of what you see in the root and /home/site/wwwroot?

[2020-01-09 21:39] HayHiTee commented on #444
@arroyc and @kichalla This issue is still persisting. I want to run some custom commands. Before I used kudu ssh home/wwwroot/site/antenv where the python environment and app packages were residing. Right now antenv is compressed to antenv.tar.gz such that I cannot run python from this environment to run app commands. Commands like migrations, custom managements command created for the apps itself

[2020-01-15 22:22] arroyc commented on #453
@NoNameProvided any update?

[2020-01-15 22:22] #441 closed

[2020-01-15 22:22] #442 closed

[2020-01-15 22:23] arroyc commented on #405
@MashB  is it still an issue?

[2020-01-18 07:39] annie95 opened #458 "Rsync error code 23 while running Oryx build during deployment of Laravel PHP web app on Azure Linux App Server"
Deployment Status failed due to rsync error during Oryx build. The current behaviour of the web app is that the latest commits are updated and working fine whereas the deployment status is being marked as failed. Is there any impact to this error and also how to resolve this so that deployment can be successful?
Have tried disabling oryx build but still, it does not work. It was able to deploy suc

[2020-01-22 11:05] kassem-tohme opened #460 "Azure Function App deployment fails during Oryx command"
I'm having trouble deploying my Python Azure Function App via Azure Pipelines (using zip deployment). The deployment randomly succeeds or fails. It seems to me that it fails during the oryx command, having issues closing/processing some .zip files. Could you elaborate?

[code]

[2020-01-25 19:08] eafpres opened #465 "Add support for libgomp.so in linux image for Python"
### System Package Request

I'm building models in Python and some of them use xgboost, as in this example of a Flask app:
[code]

Model is trained using xgboost, and that is needed at runtime

Oryx language runtime and version "Python v3.7".

Name of the package in the latest stable Debian release?
There does not appear to be a Debian release, however the problem appears actually to be with a low

[2020-01-28 22:22] kichalla commented on #91
Are you still able to reproduce this issue?

[2020-01-28 22:29] kichalla commented on #460
@Hazhzeng From the log above, it appears the error happens _after_ Oryx is done with the build. Could you take a look at this?

[2020-01-28 22:43] Hazhzeng commented on #460
Hey @kassem-tohme,
Thanks for reporting this issue, could you share us with your function app name?

[2020-01-28 22:48] kichalla commented on #465
@eafpres Were you able to resolve this issue? does this issue get resolved if you run the commands `apt-get update; apt-get install libgomp1` in the runtime container. I suppose you are seeing this issue when running the app and not when building the app, right?

[2020-01-30 06:01] jahead opened #470 "Best practice for customising Oryx/Python image"
Hey guys,

Just looking for extra information.
Due to some constraints with an upstream vendor, we require some extra system packages and that Django is installed **before** pip install is ran. We all can agree that it is sub-optimal, but it's out of our control.

At first, I thought we could use the ``PRE_BUILD_SCRIPT_PATH`` and ``POST_BUILD_SCRIPT_PATH`` but it seems to lack the elevated system

[2020-02-03 08:40] valeriob commented on #91
Hi,
i just tested a few times, yes it still require a manual restart to work.

[2020-02-03 11:04] capraynor opened #473 "Dotnet Core 3.1 Not Supported On Azure."
Hi,
When will you deploy the latest version to azure app service?

Now the Dotnet Core 3.1 is not supported on azure app service linux, and it shows that using an old version of Oryx.

App service Name:
sjs-...e-test-net-core
Log attached.
[code]

Thanks for your concern.

Raynor

[2020-02-10 18:05] shotyme commented on #91
This issue occurs in the Linux based Azure Functions as well. The workaround to stop and start the azure function does not work.
Can somebody help me please?

[2020-02-11 11:31] bharat-98 commented on #458
I am getting the same error  performing a local git deployment. What is the solution?

remote: Copying files to destination directory '/home/site/wwwroot'...
remote: rsync: failed to set times on "/home/site/wwwroot/vendor/bin/carbon": Operation not permitted (1)
remote: rsync: failed to set times on "/home/site/wwwroot/vendor/bin/commonmark": Operation not permitted (1)
remote: rsync: failed to s

[2020-02-11 18:43] gpcastro commented on #458
Hi @annie95 and @bharat-98 , thanks for letting us know of this issue. A fix for this will be rolling out soon, with all regions being updated in the next couple of weeks.

I will reach out again when the roll out is finished, and check if you're still seeing this problem.

[2020-02-11 19:41] gpcastro commented on #470
Hi @jahead, the Oryx build doesn't run with elevated privileges, so if you need that during the build here's a few things that you can try:
- You can use our new GitHub action: https://github.com/marketplace/actions/app-service-web-app-build-action which allows you to specify the `PRE_BUILD_SCRIPT_PATH` and run with root privilege.
- As you've mentioned, revert to App Service for Containers; you c

[2020-02-11 19:44] ddisqq commented on #473
Also seeing this issue.

[2020-02-11 19:51] gpcastro commented on #473
Thanks for letting us know. A new version is rolling out in the next couple of weeks, so you should see the 3.1 SDK soon. @sanchitmehta can give us more details about the roll out.

[2020-02-11 19:54] gpcastro commented on #409
This should be solved by now. Let us know if you can still this problem.

[2020-02-11 19:54] #409 closed

[2020-02-11 19:55] gpcastro commented on #392
This should be fixed now. Let us know if you still see this issue.

[2020-02-11 19:55] #392 closed

[2020-02-11 19:58] gpcastro commented on #465
@eafpres you can read more about custom commands [here](https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-configure-python#customize-startup-command).
You should be able to run `apt install ... && <your app startup command>` using this feature.
Let us know if that doesn't work.

[2020-02-11 19:58] #465 closed

[2020-02-12 03:34] jahead commented on #470
Hey @gpcastro thanks for your information.

We use bitbucket, but maybe we could test this on Github. I'll look into seeing if this is a possibility

This is our current thinking, we plan to use the `--os-requirements` to include the missing system packages. We have an issue where Django needs to be bootstrapped into the venv before `pip install ` has run, we have the commitment from the vendor to

[2020-02-12 03:48] eafpres commented on #465
Could one of you clarify how to do the sudo apt- on the container?  I'm using the standard Azure CLI deploy, so I'm not building the container.

[2020-02-12 10:25] FinVamp1 opened #482 "Logging the contents of the Requirements.txt"
### Feature Request

For Azure Functions app deployment sometimes the customers mention that they have a missing module after deployment.

E.G

Question: What deployment exception are you experiencing?
Answer: Exception: ModuleNotFoundError: No module named 'azure.cosmos'

It would help for these scenarios if we can log the output for Oryx of what it has found in the requirements.txt.

[2020-02-12 17:11] eafpres commented on #465
I suppose you are seeing this issue when running the app and not when building the app, right?

Actually what happens is on deploy, when it tries to build the container, it fails.  However, the linux instance is there, so it might be feasible to then do the install and try to start it, but I'm not familiar with how to do this.  I can experiment and try to get something to work, but at present I've

[2020-02-14 01:24] paulbatum commented on #91
File locking issues are common on .NET Core because it does not have the shadow copying behavior that was present on .NET Framework. There are two common approaches to this problem:
1. Modifying the publish profile to take the app offline during deployment. The setting is called `EnableMSDeployAppOffline`. I know this setting works when deploying Azure Functions, but I haven't tried it for a linux

[2020-02-17 14:42] kichalla commented on #436
.NET Core 3.1 is present in our recently released images, so closing this issue as resolved.

[2020-02-17 14:42] #436 closed

[2020-02-18 13:39] nitin-barthwal commented on #465
I am still facing this issue.

Any tips how to get past over it?

[2020-02-18 14:49] davjfish commented on #373
We are running into a similar issue when trying to deploy a python linux web app (django) to a web app service through a release pipeline, i.e. zip deployment.

When starting with a clean sandbox / deployment slot, the zip deployment is successful. Upon any subsequent release, deployment fails with the following output:

[code]

The file that it is complaining about `azure_oauth_settings.yml` is n

[2020-02-18 16:30] davjfish commented on #437
We are running into a similar issue when trying to deploy a python linux web app (django) to a web app service through a release pipeline, i.e. zip deployment.

When starting with a clean sandbox / deployment slot, the zip deployment is successful. Upon any subsequent release, deployment fails with the following output:

[code]

The file that it is complaining about `azure_oauth_settings.yml` is n

[2020-02-19 12:11] svenskmand commented on #473
Hi :) Any updates on this? :)

[2020-02-22 20:42] hihorika opened #499 "Circular reference is generated in `/node_modules`"
### Bug Report

- At what date and time did you most recently experience the problem?
-> The time when App Service on Linux (Node.js blessed image) starts more than 3 times

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
-> I think that it happens on only App Service on Linux (Node.js blessed image), because the issue is caus

[2020-02-24 23:00] arroyc commented on #499
Thank you for reporting in detail, we will try to repro it and if possible a fix at our earliest.

[2020-02-26 00:49] Hazhzeng opened #507 "pip install should support --no-cache-dir option"
### Feature Request
One of our Azure Functions Python app customer wants to install the PyTorch 1.4.0 on the Oryx build machine. The PyTorch package with CUDA has a size of 700MB and we're running out of memory on our machine.

We need a way to pass the pip --no-cache-dir flag from Oryx Build command.

[2020-02-26 08:05] hihorika commented on #499
Hi @arroyc
Could you repro this behavior?
Please let me know if you cannot repro this.

[2020-02-27 02:52] tryan702 commented on #473
I tried an azure linux app service 4 times this evening.  Tried in East US, Central US, West US, and UK South regions and receive the same error:
[code]
Any updates?  Timing when this will be fixed?

[2020-02-27 15:32] rafaelberrocalj commented on #458
I have the same issue when deploying a zip package from CI/CD in azure pipelines.
Seens like the some javascript file is locked by the azure appservice (SPA).

I'm running an linux appservice to serve angular static files on linux service plan (B2 with 2 instances).
Maybe be related to #373

Azure Pipelines CD Log
`
2020-02-27T13:49:34.1453464Z ##[section]Starting: Deploy
2020-02-27T13:49:34.16362

[2020-02-27 15:32] rafaelberrocalj commented on #458
I have the same issue when deploying a zip package from CI/CD in azure pipelines.
Seens like the some javascript file is locked by the azure appservice (SPA).

I'm running an linux appservice to serve angular static files on linux service plan (B2 with 2 instances).
Maybe be related to #373

Azure Pipelines CD Log
`
2020-02-27T13:49:34.1453464Z ##[section]Starting: Deploy
2020-02-27T13:49:34.16362

[2020-02-27 20:42] sanchitmehta commented on #473
@svenskmand  @tryan702 We have started the rollout for the latest platform release for App Service, you should be able to see ASP .NETCore 3.1 over next two weeks, as we upgrade globally.

[2020-03-02 12:42] rafaelberrocalj commented on #458
Hey guys, got another deploy error today. Same problem but in another file.

`
2020-03-02T12:03:29.2461749Z Copying files to destination directory '/home/site/wwwroot'...
2020-03-02T12:03:29.2462254Z rsync: rename "/home/site/wwwroot/assets/img/app/headers/.sm01.jpg.8COz0A" -> "assets/img/app/headers/sm01.jpg": No such file or directory (2)
2020-03-02T12:03:29.2462868Z rsync error: some files/attr

[2020-03-12 00:57] shirhatti opened #526 ".NET Core base images should include the dotnet-gcdump tool"
### Feature Request

The .NET Core base images currently include all dotnet diagnostic tools except the gcdump tool. Can we please have it added?

[2020-03-12 12:18] milisievert commented on #473
Any updates?

[2020-03-12 13:51] R-penguins commented on #473
I'm having the same issue. I can choose dotnet 3.1 during deployment but actually orxy doesn't seem to support it.

[2020-03-12 16:57] arroyc commented on #507
Thank you for using Oryx. We will try to get back to you once we decide when this feature can be released.

[2020-03-12 17:04] arroyc commented on #499
@hihorika can't repro this .. lets chat over teams and show me if you can still repro this

[2020-03-12 17:14] sanchitmehta commented on #473
@milisievert @R-penguins we would complete our upgrades in a few more days, then you should be able to access the ASP .NETCore 3.1. What regions are your apps hosted in ?

[2020-03-12 18:24] milisievert commented on #473
@sanchitmehta uk west

[2020-03-13 03:11] R-penguins commented on #473
East US

[2020-03-13 05:00] qing-bzi opened #527 "Python version 3.7 or 3.8?"
I think the oryx build image (mcr.microsoft.com/oryx/build:latest) was updated to Python 3.8 recently.

That is greate except my Flask app is built using Python 3.7, and this template docker file won't work.

ARG RUNTIME=python:3.7

FROM mcr.microsoft.com/oryx/build:latest as build
WORKDIR /app
COPY . .
RUN oryx build /app

FROM mcr.microsoft.com/oryx/${RUNTIME}
COPY --from=build /app /app
RUN cd

[2020-03-13 08:28] arroyc commented on #527
how about using

instead of what you are using now

![image](https://user-images.githubusercontent.com/16231002/76603144-ab197d80-64c9-11ea-8b5a-4d1f05bdb28e.png)

[2020-03-13 08:30] arroyc commented on #527
you can type

 to see the supported platforms and corresponding versions in the build image

[2020-03-13 11:39] pkwieci1 commented on #473
West EU here.
Seriously, it was my first attempt to publish a web app in my entire life and I was struggling hard to get everything to work (first experiences and troubles with Git etc.). Having insufficient knowledge about how everything works, only a huge amount of luck in finding the error and then this thread has prevented me from having a nervous breakdown, lol.

[2020-03-13 23:03] hihorika commented on #499
We shared repro steps.
Thanks @arroyc

[2020-03-14 00:07] mijabr commented on #473
works on AWS, haha

[2020-03-14 04:25] LukeStephen commented on #473
Same, need this for my East US 2

[2020-03-16 06:42] capraynor commented on #473
@sanchitmehta

MS team said like this few month ago, and now 4 weeks passed since your post.

What's going on with this issue then?

[2020-03-22 19:29] pkwieci1 commented on #473
I think I found a solution.
Look into App Services -> Configuration -> General Settings -> Major/Minor Version and set it to 3.1.
I could finally deploy my app to the cloud. The fact I'm getting an ":( Application Error" is another thing but that may be my fault.

[2020-03-22 19:39] milisievert commented on #473
@pkwieci1 mine were set to 3.1 . Still not supported ...

[2020-03-23 13:02] tambu22 commented on #473
I have a work around, I'm building in a amazon spot instance and deploying the zip file via Azure Cli

[2020-03-25 10:04] qing-bzi commented on #527
Thank you both!

[2020-03-25 10:05] #527 closed

[2020-03-26 02:55] R-penguins commented on #473
My build finally seems to be working! 🎉 The orxy version has changed to 0.2.20200114.13 on Azure hosting in East US. Thanks!

[2020-03-26 03:07] R-penguins commented on #473
By the way, could anyone kindly point to me where to find help on this issue?

[code]
My solution works fine locally on IIS, but failed after deployment on Azure..

[2020-03-26 03:11] capraynor commented on #473
@R-penguins
Hi,

have you ever tried to "Copy referenced assemblies to local" when build?

Have you checked that the assembly "System.Text.Json" is in artifact or not?

[2020-03-26 03:54] R-penguins commented on #473
Thanks for pointing out! I added the "System.Text.Json" NuGet package (which I thought was included by default in dotnet 3.1...) and it worked😂 so excited 😆

[2020-03-26 15:59] QEDHamburg opened #541 "Azure Function App (python HttpTrigger) failed to publish with fbprophet"
### Bug Report

- At what date and time did you most recently experience the problem?
Today, at 4:30 pm

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Azure Functions

- If your repo is publicly available please share its URL:
No, but it's the standard template from the Azure Functions HttpTrigger in Python with the followi

[2020-03-28 23:14] knut-erik opened #545 "POST_BUILD_COMMAND - used for global install of npm package?"
### Bug Report

- At what date and time did you most recently experience the problem?
  - _29th March 2020._

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container
 Registry, or offline use.
  - _Azure Web Apps (Node.js)_ - NorwayEast

- If your repo is publicly available please share its URL:
  - _Sorry - no._

- What happened?

I can't start docsify.
So -

[2020-03-29 17:12] knut-erik commented on #545
Tried also the same using light-server, which then is a dependency install on the local node_modules within the container. Howerver, the Azure Web App container refuses to start this. Everything working normal locally , with the light-server just install locally in the repo, not globally.

This is all that remains in the package.json - nothing else installed :
{
    "dependencies": {
        "ligh

[2020-03-31 11:54] rafaelberrocalj commented on #458
Hello, when this will be deployed?

![image](https://user-images.githubusercontent.com/231597/78023480-1a49fb00-732d-11ea-8783-2a704cda5e3e.png)

[2020-03-31 12:41] kichalla commented on #545
@knut-erik Based on your second comment above, this should have worked fine. We will investigate further.

[2020-03-31 12:43] knut-erik commented on #545
Many thanks for feedback @kichalla !

[2020-03-31 12:43] kichalla commented on #473
AppService has finished deploying this, so it should be available to you.

[2020-03-31 12:43] #473 closed

[2020-03-31 12:46] #425 closed

[2020-04-01 08:10] sjwaight commented on #453
Confirming I'm seeing this behaviour in West US 2 right now when deploying either via Kudu or GitHub Actions. I have been unable to deploy two Node-based apps into two different Linux Web Apps because of this issue. I also notice that Oryx seems to be complaining about an unsupported "old" version of Node (10.18) which isn't defined for my application, nor available as a supported.

[2020-04-02 17:13] arroyc commented on #499
@hihorika  just waiting for ant-88 deployments, once that completes hopefully this issue will be resolved. Tagging it as tracking for now.

[2020-04-02 17:14] arroyc commented on #507
please feel free to reach us back if you have any issues

[2020-04-02 17:14] #507 closed

[2020-04-02 17:16] arroyc commented on #482
@FinVamp1 we do log output of the build, can you please explain a bit more of your scenario?

[2020-04-03 04:45] gkgaurav31 opened #549 "How do I set Oryx to build using Python 2.7 on Azure WebApp?"
It seems that Oryx uses Python 3.x by default. Is there a way to set is to use Python 2.7?

[2020-04-03 09:52] arroyc commented on #348
feel free to reopen in case you have any issues

[2020-04-03 09:52] #348 closed

[2020-04-03 09:53] arroyc commented on #549
how are you using oryx build?

if you are experimenting locally you can use the command oryx build <source dir> --platform python --platform-version 2.7

[2020-04-03 09:55] arroyc commented on #91
please feel free to reopen this issue if you are experiencing it

[2020-04-03 09:57] arroyc commented on #453
@sjwaight  can you please share some information about the repro steps? is it only west us 2 you are experiencing it? do you have any sample app which resembles  your  current app with which you are experiencing it

[2020-04-03 09:59] #453 closed

[2020-04-03 10:00] arroyc commented on #404
is this issue still something to be worked upon?

[2020-04-03 10:43] gkgaurav31 commented on #549
I found that Oryx uses linuxFxVersion to determine the python version. Since 2.7 has been removed from the Azure portal, I wasn't able to use it. However, I could change the runtime using az cli. It works now.

[2020-04-03 11:58] valeriob commented on #91
Pls do not close it, we still have this problem.
Thanks

[2020-04-03 14:18] kichalla commented on #91
@valeriob AppService team now supports 'running from package' which is supposed to fix issues like this. Could you try with this and let us know if you are still seeing this issue?
https://docs.microsoft.com/bs-latn-ba/azure/app-service/deploy-run-package

[2020-04-03 15:57] valeriob commented on #91
thanks @kichalla, i will try this feature, but it will drastically change our automated deployment pipeline, last time i tried az cli was a nightmare to script due to escape problems https://github.com/Azure/azure-cli/issues/7874

[2020-04-03 16:12] kichalla commented on #91
How are you deploying your app to AppService? by zip deploying already built bits or zip deploying and making the build to happen on app serivce or pushing your repo? more details will help us narrow the problem.

This run from package feature is just an appsetting so not sure what you meant by `script`

[2020-04-05 23:53] sjwaight commented on #453
It looks like this situation occurs if you are missing at least one entry in package.json for a required package. I don't think this can be solved by Oryx as the missing package only shows up at runtime so I would suggest this is expected behaviour. The Oryx version number is unrelated to this specific issue. Happy to be closed from my side.

[2020-04-06 05:38] arroyc commented on #549
@gkgaurav31  can you please explain what are you trying to do .. I'm not sure how you are trying to build with oryx based on images available in azure portal.

[2020-04-06 05:40] arroyc commented on #452
@rlataguerra, this should have been fixed now, please reopen this bug if you still see this issue or create a new issue.

[2020-04-06 05:40] #452 closed

[2020-04-06 05:41] #405 closed

[2020-04-06 05:41] arroyc commented on #405
feel free to reopen this issue or create a new one

[2020-04-06 05:44] arroyc commented on #444
@kichalla  is that pre-run script feature solving this issue?

[2020-04-06 05:45] arroyc commented on #404
please feel free to reopen this issue or create a new one.

[2020-04-06 05:45] #404 closed

[2020-04-06 05:47] arroyc commented on #421
@capraynor, are you still facing this issue? app-service recently updated latest version of tools across all their regions. That should fix this issue. Can you please try and report  back?

[2020-04-06 05:50] arroyc commented on #437
hey guys, app service recently updated toolings across their regions .. can you please retry and report us back in case you are facing similar issues?
Also, AppService team now supports 'running from package' which is supposed to fix issues like this. Could you try with this along with setting ENABLE_ORYX_BUILD to true and let us know if you are still seeing this issue?
https://docs.microsoft.com/

[2020-04-06 05:52] arroyc commented on #499
@hihorika , I'm closing this issue for now, feel free to create a new one if you are still seeing similar incidents after ant-88 is released which is  roughly 1.5 months from today

[2020-04-06 06:07] arroyc commented on #373
@kichalla  can this issue be solved? is it still a bug?

[2020-04-06 06:13] arroyc commented on #470
@jahead  .. did you try using custom startup command .. did that solve your problem?

[2020-04-06 06:25] arroyc commented on #458
AppService team now supports 'running from package' which is supposed to fix issues like this. Could you try with this along with setting ENABLE_ORYX_BUILD to true and let us know if you are still seeing this issue?
https://docs.microsoft.com/bs-latn-ba/azure/app-service/deploy-run-package

[2020-04-06 09:58] jahead commented on #470
@arroyc
Hey, We actually ended up using that route!
[code]
We actually got in touch with MS, and you guys have been helping us. And our vendor moved to wheels which solved our bootstrapping needs.

We ended up leveraging pipelines, and are able to get something up and running!
all this just for `libcairo2 libcrack2 libgdk-pixbuf2.0-0 libpango1.0-0 shared-mime-info libxslt1.1`

Currently, we are `c

[2020-04-06 13:43] davjfish commented on #437
We ended up implementing a work-around, sorry.. the problematic code is long-gone... Thanks anyways for the followup

[2020-04-06 13:48] Chuxel commented on #404
We have worked around this issue by copying the content back as follows:

[code]

https://github.com/microsoft/vscode-dev-containers/blob/master/containers/vsonline-linux/.devcontainer/Dockerfile

It's not ideal, but it gets the job done.

[2020-04-06 14:25] rafaelberrocalj commented on #458
The default valur for ENABLE_ORYX_BUILD is true or false?

[2020-04-06 17:39] arroyc commented on #458
default is True ..  i  will check with documentation team , in deed they need some major updates .. sorry about that

[2020-04-06 21:34] arroyc commented on #458
@rafaelberrocalj  .. sorry for your struggle .. would it be possible for you to share a sample app that resembles your current app which you are trying to deploy to app service. Also please do share your region. Oh one more thing to ask, did you try 'running from package'?

[2020-04-06 22:23] arroyc commented on #470
Thank you @jahead  … in that case I'm closing this issue .. please feel free to open a new one for performance (longer startup time) if you want.

[2020-04-06 22:23] #470 closed

[2020-04-06 22:26] arroyc commented on #437
@davjfish  . .thanks for responding ..  would you like to share the work-around?  In that case, I will be closing this issue, please feel free to open a new one

[2020-04-06 22:26] #437 closed

[2020-04-06 22:28] vit100 opened #555 "Files deployed to local folder can't be deployed to Azure Application service Git."
### Bug Report

- Issue with Azure App Service local git deployment
- When you `git push` files deployed by dotnet or VS into Azure App Service Oryx tries to compile project and fails:

- What did you expect or want to happen?
If "deployed" files pushed, deployment should be just copy to target, something like this in prev version:

- How can we reproduce it?
Create Asp.Net core project. Deploy it

[2020-04-06 22:29] arroyc commented on #444
@HayHiTee, did you try using post-build script?

[2020-04-07 10:36] rafaelberrocalj commented on #458
@arroyc we have a angular 6 app, the pub is usind -prod env. we have more then 15k users accessing the site everyday.

our serviceplan in azure is using a p2v2 in linux, using 2 instance in outscale out during 8am to 22pm
the appservice in azure is using a node stack, major/minor version 12lts, with always on and http 2.0
configs:
[code]

azure pipelines:
- CI
running default values, using npm ins

[2020-04-07 14:49] kichalla commented on #555
@vit100 I am suspecting if you enabled the environment setting which kicks off a build on publishing the files? Could you please check and let us know? Thanks.

[2020-04-07 15:00] vit100 commented on #555
Here is env from Azure service:

[2020-04-07 19:08] kichalla commented on #555
@vit100 Thanks for the details but seems like those settings are from the `runtime` container. I am looking for settings from the `build` container. Could you share that too?

[2020-04-07 19:12] vit100 commented on #555
@kichalla , Yes, of course I can, if you tell me how -))

[2020-04-07 20:44] kichalla commented on #555
@vit100 When you go to the SCM website, you should see a link which says 'bash'. Clicking this link will give you a console in a browser window. This console is for the build container whereas the 'ssh' link is to the 'runtime' container

[2020-04-07 21:17] vit100 commented on #555
ah.. Kudu.. got it.
Btw, I created site from wizard, didn't select any specific different setting compared to .NetCore 3.0 in Windows.

here it is:

[2020-04-07 21:29] arroyc commented on #458
@rafaelberrocalj  how about you make SCM_DO_BUILD_DURING_DEPLOYMENT to false and follow the rest of things as same as you are doing now/

[2020-04-07 21:35] kichalla commented on #555
@sanchitmehta any ideas why @vit100 is seeing his already built and deployed bits being tried to be built again?

[2020-04-07 22:36] rafaelberrocalj commented on #458
@arroyc my angular app dist folder has a package.json file which need npm to install some packages before runing my server.js file under node.
so my zip package doesnt have the node_modules folder.
so i need the "npm install" run before the appservice starting.. using SCM_DO_BUILD_DURING_DEPLOYMENT=false and WEBSITE_RUN_FROM_PACKAGE=1 will make the correct deploy?

[2020-04-09 14:11] kichalla commented on #526
This is fixed.

[2020-04-09 14:11] #526 closed

[2020-04-09 14:12] kichalla commented on #91
Gentle ping.

[2020-04-09 21:49] aholler2 opened #557 "Oryx doesn't create antenv and install requirements.txt - Python 3.7 Linux Web App"
### Feature Request

Time: 04/09/2020, Feature request UPDATE: 04/15/2020

Server: Azure Web Apps (Linux, PYTHON|3.7)

Repo: https://github.com/Azure-Samples/djangoapp

- What happened?

Oryx is failing to create the virtual env "antenv" and run pip install -r requirements.txt

- What did you expect or want to happen?

I want antenv to be created and to have the requirements in requirements.txt be

[2020-04-10 08:59] sayalraza opened #559 "Azure Function Python 3.6 Consumption Plan Deployment Issue"
**I am using Python 3.6 and VS Code to deploy to Azure Function App.
Azure Function App Name : ResumeExtractFuncProd
FunctionApp Plan : Consumption Plan
Location : South Central US
Function Name: ResumeExtractAPI**
Because of some issue, I am not able to publish my code to FunctionApp.
I tried publishing with up arrow in VS Code Azure function extension. There was no error but the publish did not

[2020-04-10 11:50] RJFerguson commented on #557
I am encountering the same issue, my temporary work around was to create a custom startup script and explicitly install the requirements file.

`pip install -r requirements.txt && gunicorn --bind=0.0.0.0 --workers=4 startup:app`

(I have a flask app with pandas failing to install)

screencap below stating the same thing as aholler2

![image](https://user-images.githubusercontent.com/22607390/78988

[2020-04-10 14:36] kichalla commented on #559
Thanks for the details @sayalraza. Will get back to you on this.

[2020-04-10 17:24] arroyc commented on #549
Hopefully this issue is reolved, please feel free to create a new one in future

[2020-04-10 17:24] #549 closed

[2020-04-10 17:27] arroyc commented on #557
Thanks for reporting .. we will try to repro this and get back to you soon.

[2020-04-10 18:31] aholler2 commented on #557
@arroyc It's easiest to reproduce with a simple Azure Pipeline app service deployment task or deploying to web app via the VS Code app service extension. Both do a zip deployment and the antenv virtual environment is not being built before deployment as well (expect Oryx to do that).

[2020-04-10 19:32] arroyc commented on #557
@aholler2,  for zip deployment .. oryx is not enabled by default . https://docs.microsoft.com/en-us/azure/app-service/deploy-zip @sanchitmehta , is there any way to enable oryx for zip deployment right now or it will be only in ant-88?

[2020-04-10 20:35] arroyc commented on #557
@RJFerguson  can you please create separate issue for panda being failed .. hope you saw my answer for zip deployment

[2020-04-11 00:51] arroyc commented on #545
@knut-erik … did you try set website_port to 8080 (as per your 2nd comment), seems like your light-server is listening to 8080 which may not be opened in runtime container. You can set it in app settings via azure portal or by azure cli command. Please refer to https://docs.microsoft.com/bs-latn-ba/azure/app-service/containers/configure-custom-container

Let us know if this worked for you !

[2020-04-11 00:58] arroyc commented on #458
@rafaelberrocalj  .. so it sounds like you are using  default zip deploy, but without node_modules inside your zip. Currently app service zip deploy expects users to provide all the dependencies within the zip, so please zip node_modules and other dependencies from your CI inside the zip and use the zip deploy.

And do not set anything as I suggested earlier, just follow the steps for default zip

[2020-04-11 00:59] arroyc commented on #482
@FinVamp1  ..  please feel free to reach us back if you need help on this

[2020-04-11 00:59] #482 closed

[2020-04-11 05:31] knut-erik commented on #545
@arroyc thanks for feedback.

I thought 8080 was one of the presets. Anyway it works with setting the `WEBSITE_PORT` to 8080. However a couple of questions. I was forced to go through ssh to do the `npm install` - the webapp service itself did not trigger a install, so the light-server module was not installed. (Se screenshot of the default files below - no `node_modules`directory which you expect

[2020-04-11 06:12] knut-erik commented on #545
Ok - so I've no changed the deploy script to do the `npm install`, looking on my deploy files now all the node_modules are there. However, the startup script tries to fire off the light-server form a global installation. :-(

[code]

[2020-04-11 17:15] knut-erik commented on #545
Success. ping @kichalla @arroyc

So this is how I resolved my own issue.

I found [this section](https://docs.microsoft.com/bs-latn-ba/azure/app-service/containers/configure-language-nodejs#run-gruntbowergulp), where there are references to the `deploy.sh` and `.deployment` configuration.
Reading through the default 'deploy.sh' file, it clearly do the `npm install` in the last section.

I added th

[2020-04-12 00:03] andyzhu opened #560 "deploy azure web apps (from local git) failed during Oryx Build step"
### Bug Report

- At what date and time did you most recently experience the problem?
April 11th, 2020 7:58PM EST

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Web Apps

- If your repo is publicly available please share its URL:
No

- What happened?
When try to follow instruction on this learning course (https://docs.

[2020-04-13 10:01] valeriob commented on #91
Hi,
we are using octopus deploy at the moment.
https://octopus.com/docs/deployment-examples/azure-deployments/deploying-a-package-to-an-azure-web-app

[2020-04-13 18:58] arroyc commented on #545
@knut-erik  .. thank you so much for the details, it's really helpful.. the thing which is working for you is the legacy kudu build … which is good .. but I wonder why it shouldn't work with current kudu (which has oryx build) …

This small hack should not be necessary. I hope for future releases that the default deploy scripts automatically do the npm install when the script discover a package.js

[2020-04-13 18:59] knut-erik commented on #545
Tx for looking into this!

[2020-04-15 01:17] rafaelberrocalj commented on #458
okay, first deploy did fine! working as you said :)
thanks @arroyc

[2020-04-15 05:42] sidbhat1979 commented on #557
Hi Team, i am also facing a similar problem. In my git push it is saying 'could not find requirements.txt'. The following is the log of my git commit & git push. Let me know how it can be resolved. Without installing the packages my app will not work.

D:\MSLUIS\Weather-Chatbot-Using-Luis-master>git push weatherbot master -f
Enumerating objects: 37, done.
Counting objects: 100% (37/37), done.
Delt

[2020-04-15 05:51] sidbhat1979 opened #562 "Git push not picking up requirements.txt file for pushing to azure."
### Bug Report

- At what date and time did you most recently experience the problem?
15/04/2020

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Web Apps

- If your repo is publicly available please share its URL:
https://github.com/sidbhat1979/siddhartha/blob/master/Weather-Chatbot-Using-Luis-master.zip

- What happene

[2020-04-15 19:31] arroyc commented on #562
@sidbhat1979  .. seems like you are trying to do a zip deploy using local git push. App service currently expect all your dependencies to be present in the zip file to have a successful build. If you want to do a git push. Then please do git push the unzipped folder.. Let me know if it solves your problem

[2020-04-15 19:53] arroyc commented on #458
great .. @annie95  @bharat-98  @rafaelberrocalj  .. I'm closing this issue .. please feel free to create a new issue instead of reopening this one. If the issue is related, please mention/link the old issue while describing the new issue. Thank you all !

[2020-04-15 19:53] #458 closed

[2020-04-15 19:54] arroyc commented on #444
@HayHiTee  I'm assuming the issue is resolved, if not please create a new one and link this issue there. I'm closing this issue

[2020-04-15 19:54] #444 closed

[2020-04-15 19:55] arroyc commented on #421
@capraynor , I'm assuming this issue may have been resolved by now. If not please feel free to create a new one.

[2020-04-15 19:55] #421 closed

[2020-04-15 19:57] arroyc commented on #373
Please feel free to create a new issue and link this old one there if you are still having some problems with rsync. Otherwise I'm closing this item here. Thank you al l!

[2020-04-15 19:57] #373 closed

[2020-04-15 20:00] arroyc commented on #460
@Hazhzeng  @kassem-tohme  is this issue still active or got resolved. Please update this thread, otherwise I can close this issue for now assuming it has been resolved

[2020-04-15 20:11] aholler2 commented on #557
@arroyc Thank you for that information. I eventually figured out that Oryx will only do the building with a local git deployment and that you have to do the environment building in the pipeline when you do a ZIP deployment. Maybe I can update this issue to a feature request that Oryx builds dependencies with ZIP deployments if the venv specified in the Oryx manifest does not exist?

[2020-04-15 20:35] arroyc commented on #557
@aholler2, thanks for responding … as far as I kne there is a feature for that (what you are asking) already and is pending for deployed across app service region in their next update. @sanchitmehta  can confirm ...

[2020-04-15 20:47] #562 closed

[2020-04-15 21:19] aholler2 commented on #557
After reading the ZIP deployment documentation that you linked and some experimenting with deployments, you can get Oryx to do the dependency building by setting the app setting SCM_DO_BUILD_DURING_DEPLOYMENT=true. @arroyc Thank you for working through this with me.

[2020-04-15 21:19] #557 closed

[2020-04-20 04:09] lovettchris opened #567 "node_modules.tar.gz is not uncompressed properly"
### Bug Report

Sunday, April 19, 2020, 8:56:38 PM GMT-7 I tried to deploy my react node.js website to https://f99teleprompter.azurewebsites.net/ and the logs said everything worked, but the site returns ":( Application Error" because the node_modules did not uncompress properly.

- Where did you experience the problem? **Azure Web Apps**

- If your repo is publicly available please share its URL:

[2020-04-20 08:18] lovettchris commented on #567
I have been able to reproduce this again with the following steps:
1. Create new Azure Web App, node.js version 12, on Linux
2. Deploy git repo https://github.com/lovettchris/TeleprompterBuild using kudu
3. Wait for deploy to succeed
4. Navigate to your new web app url
5. ":( Application Error"
6. Now open the kudu BASH prompt and run this:
7. cd site/wwwroot
8. tar -xvf node_modules.tar.gz --dire

[2020-04-21 14:54] QEDHamburg commented on #541
Any News?

[2020-04-29 04:00] parixitgautam commented on #559
facing the same issue. Have been struggling to find the root cause for last couple of days.
Similar to @sayalraza  I am also developing Azure Function Python App and deploying in Linux Consumption Plan
Here is requirement.txt and the logs using Python 3.7
# Minimum packages for azure functions
azure-functions
azure-functions-worker==1.1.0
grpcio==1.26.0
grpcio-tools==1.26.0
protobuf==3.6.1
six==1.

[2020-04-29 04:03] parixitgautam commented on #559
Tried the deployment using Devops CD pipeline as well. Deployment Succeeds but receive module not found issue for regex package which is present in the packages folder
Everything Works smoothly in local in .venv environment

[2020-05-03 14:47] Santhosh-KS opened #574 "POST_BUILD_COMMAND configuration to install new packages using 'pip install' doesnot get included in the venv."
### Bug Report
I am building simple Flask web app and trying to deploy it using Azure App services.
Here is the [github link to my project](https://github.com/Santhosh-KS/FlaskAppAzureDeployment).

As part my project I need `pytorch` and `torchvision` libraries which I'm trying to install using the  `POST_BUILD_COMMAND` configuration parameter.

Here is the gist of the script which I'm trying to r

[2020-05-03 21:01] Santhosh-KS commented on #574
One more observations in the docker logs is that.

[code]

Notice the couple of `WARNING` in the error. When we run the `POST_BUILD_COMMAND` script some how it is not copying the contents of the `venv`.

[2020-05-04 15:11] kichalla commented on #574
Since Oryx runs pip install within the context of a virutal environment, you would also need to do the same to see the packages show up. For example, can you give a try like the following (sure, you can do the same in a sh file too):
[code]

[2020-05-04 15:13] kichalla commented on #574
One more thing: You can only use `Post` build command to install packages as mentioned in my earlier post since virtual environment is not yet created for `Pre` build command to access it.

[2020-05-04 15:33] kichalla commented on #560
@andyzhu do you still see this issue? If yes, could you share a simple repro for it?

[2020-05-07 08:31] vkuehn opened #581 "DOTNET Core 3.1 not supported for git push"
### Bug Report

-Today after succesfully creating the dotnet core 3.1 webapp locally on a windows machine and on azure as described in [QuickStart](https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-dotnetcore#code-try-7) with

on azure powershell
az --% webapp config set --resource-group myResourceGroup --name <app-name> --linux-fx-version "DOTNETCORE|3.1"

which worked well

[2020-05-11 14:48] manekinekko opened #583 "Add Rust toolchain"
### System Package Request

- **Why do you need this package? For example, are you using a language-level package which depends on this system package?**

More and more developers use Rust to compile their apps to WASM, and eventually deploy them to Azure Functions, on a Node.js runtime. It'd be great if Oryx adds support for Rust toolchain e.g. `rustup `, `rustc` and `cargo`.

- **Which Oryx lang

[2020-05-12 08:30] parixitgautam commented on #559
@kichalla  was there any further investigation on the issue. I see the last update on April 10th

[2020-05-12 08:33] parixitgautam commented on #559
@sayalraza  did you get any workaround for the time being while the team is investigating. We are facing same issue for past 7 days. Tried all possible scenarios but same issue.
We tried to publish both from VS Code on MacOS  as well Windows

[2020-05-12 22:23] CalvinAllen opened #586 "Add Ruby / RubyGem Support"
### Feature Request

I would love to have the Ruby / RubyGems / CMake toolchain available for Oryx auto-detection/build.

I.e., automatically detect a Gemfile, perform an installation of those gems (via bundler?).

It may also be needed to detect a `.ruby-version` file to lock in a specific version of Ruby for `rbenv` before hand.

[2020-05-13 16:30] minhphan88 opened #587 "Could not build wheels for , since package 'wheel' is not installed."
### Bug Report

- At what date and time did you most recently experience the problem?
13/05/2020- 13:12:45( London )

- Where did you experience the problem? AZURE WEB APPS

- If your repo is publicly available please share its URL:

- What happened?

I was using CI/CD build for an Azure Web Apps.
I tried to include nlpk, sklearn and other packages in the requirements.txt
However, after upgrading

[2020-05-13 19:51] jkeech opened #588 "pip3 and python3 resolve to different versions of python"
### Bug Report

- At what date and time did you most recently experience the problem? **5/13/20**

- Where did you experience the problem? **Codespaces**

- If your repo is publicly available please share its URL: **N/A**

- What happened?

1) Fired up a repo with no `devcontainer.json`
2) Codespaces seemed to realize it was a python repo, and created a `pythonenv37` folder
3) If I execute the `py

[2020-05-14 06:48] Santhosh-KS commented on #574
Got it. Thanks Kiran. You can close this bug.

[2020-05-14 06:48] #574 closed

[2020-05-14 23:52] kichalla commented on #588
This has been fixed in https://github.com/microsoft/Oryx/commit/66c22929a8024f9686315dd519f53c4a6f3cdb12

[2020-05-14 23:52] #588 closed

[2020-05-14 23:53] kichalla commented on #581
cc @sanchitmehta @purva-vasudeo

[2020-05-15 20:36] guy-shahine opened #593 "Azure WebApps NodeJS version deployment error message"
Every time we deploy our app, we get an error message that the Node.JS version is outdated and that we should check this repo for supported versions.  Azure portal is not up to date on these versions and the readme.md on this repo is still at 10.15.0. so where's the best place to check for the supported versions?

remote: Build orchestrated by Microsoft Oryx, https://github.com/Microsoft/Oryx
remo

[2020-05-18 03:51] shaktiug opened #594 "ln: failed to create symbolic link './node_modules': No such file or directory"
ln: failed to create symbolic link './node_modules': No such file or directory
It happens intermittenly because application fails to start.
Sometimes , ? ? ???? starts to appear on the node_modules dir and it says no such file or directory.

Few logs from the startup :-

2020-05-15T05:00:12.174117557Z Removing existing modules directory from root...
2020-05-15T05:00:12.188697196Z Extracting module

[2020-05-18 13:06] kichalla commented on #587
@minhphan88 Which `region` are you deploying your app to? I was not able to repro this issue when I tried on the `West US 2` region. Also could you share your `requirements.txt` file? For example, when I tried with the following, I was not able to reproduce the issue:

[code]

[2020-05-18 13:17] minhphan88 commented on #587
@kichall: it's in UK south,
In addition, I forgot to mention that I couldn't set the GITHUB_WORKSPACE variable and I received the following warning:

Upgrading pip...
WARNING: The directory '/github/home/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you

[2020-05-18 13:34] kichalla commented on #587
So are you longer seeing this issue? Yeah I am not familiar with `GITHUB_WORKSPACE` variable and is probably related to Azure App Service (it uses Oryx for building apps). I would suggest to read their docs.

[2020-05-19 02:24] shaktiug commented on #594
Any update on this ????

[2020-05-19 08:45] minhphan88 commented on #587
@kichalla  thanks for that. However, there's no option to manipulate GITHUB_WORKSPACE in the build. Hence I think that could be a bug.

[2020-05-19 18:07] eloekset commented on #586
Agree. Strange that Ruby isn't one of the first platforms to be supported, since Jekyll is **the** static web app of GitHub.

[2020-05-20 09:43] timeu opened #601 "Support for hugo extended binaries (Docsy)"
### Feature Request

[Docsy](https://www.docsy.dev/docs/getting-started/) requires the extended version of hugo to work properly. Currently only the regular hugo binary is available and thus doscy themed hugo pages fail to build.
Additionally docsy requires autoprefixer and postcss-cli to be installed to build the final CSS resources.

[2020-05-20 11:07] jahead opened #602 "unexpected EOF on docker build"
### Bug Report

- At what date and time did you most recently experience the problem?
As of the ticket creation

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Web App

- If your repo is publicly available please share its URL:

- What happened?
Dev ops pipeline and local docker-machine fail for some reason on the docker buil

[2020-05-20 11:41] jahead commented on #602
It seems ``` 422a488bc160 ``` can't download for some reason. is there something wrong with mcr.microsoft.com? I'm not sure if this the right place for this anymore :/

[2020-05-20 13:27] panesofglass opened #603 "F# Azure Function project is not found and fails the build/deployment from App Service Static Apps"
### Bug Report

Oryx appears to only work with C# projects (i.e., .csproj). I created an F# (.fsproj) dotnet Azure Functions Project which failed to build through App Service Static Apps. The error logs (below) noted that it could not find a `.csproj` file, though I should think any supported `.**proj` file should work just fine.

- At what date and time did you most recently experience the proble

[2020-05-20 13:28] panesofglass commented on #581
I noticed this today, too. It affects #603, though I didn't include that in the report as I saw this issue was already opened.

[2020-05-20 14:11] kichalla commented on #603
Hi @panesofglass , the message printed out to stdout is misleading and we do support F# projects. That said we do not C#/F# projects in App Service **Static Apps** yet and are actively working on to add support for it.

[2020-05-20 14:39] kichalla commented on #601
Thanks @timeu ..Oryx currently has 0.59.1 version of Hugo and based on the documentation [here](https://www.docsy.dev/docs/getting-started/#install-hugo), it appears this version should be good enough. And regarding `autoprefixer` and `postcss-cli`, [this](https://www.docsy.dev/docs/getting-started/#install-postcss) link appears to indicate that `autoprefixer` will not work unless it is a local np

[2020-05-20 15:08] timeu commented on #601
Hi @kichalla
thanks for the quick response.
Thanks for the `package.json` suggestion. I will give it a try.
The hugo version should be fine, however docsy requires the `extended` hugo binary.
My github action task failed with following error:

[code]

[2020-05-20 15:17] kichalla commented on #601
Thanks @timeu We will look into it and will update you

[2020-05-20 21:28] EdSF opened #605 "Azure Static Site (Preview) Build And Deploy: ERR! code ELIFECYCLE"
### Bug Report

- At what date and time did you most recently experience the problem?

5/20/2020 2:00 PM Pacific

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Azure Static Sites (Preview)

- If your repo is publicly available please share its URL:

It's private...nothing special, just trying out Azure Static Sites (preview

[2020-05-21 13:17] RajatDoshi opened #606 "Error in "Build using AppService-Build""
I am trying to deploy my web-app on azure but when I try to build and deploy my python web-app, I get the following error in the GitHub actions area.

Build using AppService-Build4s
Error: Couldn't detect a version for the platform 'python' in the repo.
Run azure/appservice-build@v1
/usr/bin/docker run --name be76db05733f291aa64600801e34fd0af54828_771a97 --label be76db --workdir /github/workspace

[2020-05-21 15:21] kichalla commented on #606
Hi @RajatDoshi , Is that the whole build log that you see? Could you share your workflow run link?

[2020-05-21 20:35] EdSF commented on #605
Comparing `package.json` taken from [Quickstart: Building your first static web app](https://github.com/staticwebdev/react-basic/), _specific_ to `react` since it seems to be failing on `react-scripts-build`:

<table>
<tr>
<td>Quickstart</td>
<td>Mine</td>
</tr>
<tr>
<td>

[code]

</td>
<td>

[code]

</td>
</tr>
</table>

[2020-05-21 21:20] kichalla commented on #605
Thanks @EdSF . It could be a temporary issue. I did try to repro now with content as you mentioned above and the build went through fine. Here it is: https://github.com/kichalla/react-basic/runs/697716404?check_suite_focus=true

[2020-05-21 23:01] EdSF commented on #605
Thank you for that! My repo is still failing. **BUT**, I went through the logs again and did find this log msg:

`Treating warnings as errors because process.env.CI = true`

and I do have *warnings* .

 _Assuming_ that is the reason for the failed `build`, I'm looking at the workflow script and can't seem to find that setting. This is more of an education process for me as to learning how this new

[2020-05-21 23:47] EdSF commented on #605
Solved
---

For n00bs to all this like myself:

This discussion, [Treating warnings as errors because process.env.CI = true](https://github.community/t5/GitHub-Actions/Treating-warnings-as-errors-because-process-env-CI-true/m-p/52593/highlight/true#M8570) is the answer.

If you have code level _warnings_ the build process will **fail** unless you add the setting to your Github actions `Workflow Sc

[2020-05-21 23:47] #605 closed

[2020-05-23 06:27] lalitadithya opened #614 "Add support for dotnet core 3.1 in Azure Static Web Apps (preview)"
### Add support for dotnet core 3.1 in Azure Static Web Apps (preview)

I tried deploying a dotnet core 3.1 Azure functions app along with a React front end (https://github.com/lalitadithya/PlanetScaleTodoApp) and I noticed that dotnet core 3.1 is not supported. Moreover it doesn't tell me what versions are supported, so I'm assuming that dotnet is not supported at all.

Build logs:
[code]

[2020-05-23 10:20] christiannagel commented on #614
Not supported yet, but actively working on to add support - see #603:  https://github.com/microsoft/Oryx/issues/603#issuecomment-631498275

@timheuer has a sample using ASP.NET Blazor with the preview of Azure Static Web Apps - this might help in the meantime: https://timheuer.com/blog/hosting-blazor-in-azure-static-web-apps

[2020-05-23 14:20] lalitadithya commented on #614
Thank you @christiannagel
I will have a look at the link you shared and see if that is something I can use for my app.

[2020-05-24 18:15] kozw opened #615 "Hugo build twice"
Following the instructions on [publishing a Hugo site to Azure Static Web Apps](https://docs.microsoft.com/en-us/azure/static-web-apps/publish-hugo), it seems the Hugo build step is executed twice. Once in Build and once in Build and Deploy. By itself that is not necessarily a major issue, however the Build and Deploy step performed by Oryx uses Hugo v0.59.1 while I require at least Hugo 0.62, and

[2020-05-24 22:56] wictorwilen commented on #615
This is a major issue and very confusing. Hugo 0.59 is very old and I would like to see either in option in the SWA deploy action to specify Hugo version or use Hugo 0.71/latest.

[2020-05-25 16:41] BorisWilhelms commented on #615
Not only latest should be an option, but also the extended version of hugo!

[2020-05-25 17:09] BorisWilhelms commented on #615
I have researched more, and if you follow the documentation, hugo build is NOT run twice. The custom steps will build hugo and output to /public. The step Azure/static-web-apps-deploy@v0.0.1-preview will then pickup the files from /public and assume that they are already build. You should get the message

`Oryx was unable to determine the build steps. Continuing assuming the assets in this folder

[2020-05-25 17:53] kozw commented on #615
Great find! I can confirm this works. My previous settings which causes Oryx to ignore the output of the custom Hugo build step:
[code]
When changing app_location to 'public' and app_artifact_location to empty as described above, this seems to work great!

Oryx does output an error though, which can be safely ignored:
[code]

[2020-05-25 19:23] BorisWilhelms commented on #615
The error message you posted is related to the api_location and can be ignored when there is no API project.

[2020-05-25 19:30] kozw commented on #615
I don't think this error is related to the api_location. The error did not occur previously and for missing API location, the following warning is issued:
[code]

Agree that the error can be ignored.

[2020-05-26 03:28] sytone opened #616 "Deployment Failure Reason: Failure during content distribution"
### Bug Report

- At what date and time did you most recently experience the problem?
5/25 8:00 PM PDT

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Static Web App

- If your repo is publicly available please share its URL:
Private, but can share offline the details.

- What happened?
First run when fine, action built

[2020-05-26 08:00] SeaDude opened #617 "Deployment failed: `Malformed SCM_RUN_FROM_PACKAGE when uploading built content`"
### Bug Report

- At what date and time did you most recently experience the problem?

**20200525 2200 PST**

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

**VS Code Azure Functions Extension**

- If your repo is publicly available please share its URL: N/A

- What happened?
Deployment to Azure appears to be working fine, t

[2020-05-26 08:11] timeu commented on #601
FYI: I found this workaround for my issue: https://github.com/microsoft/Oryx/issues/615#issuecomment-633655882

[2020-05-27 19:20] kichalla commented on #601
@timeu This issue has been fixed. Please try again and let us know if you still see the issue.

[2020-05-27 19:20] #601 closed

[2020-05-27 19:20] kichalla commented on #606
Gentle ping

[2020-06-04 01:24] SandeepShah89 commented on #616
Having the same issue. 3 of the last 5 deploys have failed for the same reason...

[2020-06-04 03:47] sytone commented on #616
I managed to resolve it out, there is a issue where files have the same name but different case. So if you have `fileName.html` and `filename.html` in the same directory the deployment will fail.

[2020-06-04 10:28] HowardvanRooijen opened #623 "Support for static files?"
Hi,

I have an existing static site (just .html files) which is currently deployed to netlify.

What configuration do you have to use to just deploy these files? At the moment the build is failing with the error `Error: Could not detect the language from repo.`

Many thanks!

Howard

[2020-06-04 21:22] qianz2 commented on #623
Hi Howard,

Thanks for bring up the issue. Currently, we are working on supporting static websites. We'll update the release when the static webs detection and builds are supported by Oryx.

Stella

[2020-06-05 13:52] kichalla commented on #623
cc @miwebst

[2020-06-08 18:53] #606 closed

[2020-06-10 06:11] ParthiBa opened #632 "Unable to deploy Multiple .NET core Projects to App service"
### Bug Report

- At what date and time did you most recently experience the problem?
5 AM UTC on 10 June 2020

Azure Web Apps  for .NET Core . I am having .net core solution with multiple projects .

- What happened?
Unable to deploy with Error . Oryx says that it cannot select project

- What did you expect or want to happen?
To select each project and deploy them in different path

- How can we

[2020-06-12 11:24] yvandeghellinck opened #636 "Javascript app - install private repositories"
### Feature Request

There is a way to install some private repository from npm? I try to add ```.npmrc``` with read only credential. But script failed while downloading my private repository. Can we override the ```npm install``` script? Or any other way?

Many thanks!

[2020-06-16 07:07] arroyc commented on #617
@SeaDude  thanks for reporting the issue .. sorry for late response .. we are looking to repro it, we will keep you updated on this

[2020-06-16 07:09] arroyc commented on #602
@jahead  I could n't repro this issue .. possibly some network issue with mcr ... are you still facing the issue?

[2020-06-16 07:12] arroyc commented on #594
@shaktiug .. .would you be able to provide some sample app that closely resembles your production app? Also please share the full log ..

[2020-06-16 07:14] arroyc commented on #583
thanks for reporting .. we will keep you updated ...

[2020-06-16 07:16] arroyc commented on #499
should be available in the coming deployment of ant-88 ..

[2020-06-16 07:16] #499 closed

[2020-06-16 07:18] arroyc commented on #559
is it still an issue?

[2020-06-16 18:43] kichalla commented on #616
cc @miwebst

[2020-06-17 09:08] jahead commented on #602
Hey,

Talking to some ms tech support guys, we think it may have happened due to the changes to MCR that recently happened, seems I haven't seen it happen again in the last week, I would have reported it sooner but I've been sick last week.

"networks", I'm just going to close the issue, thanks for your help

[2020-06-17 09:08] #602 closed

[2020-06-17 21:35] qianz2 commented on #632
Hi @ParthiBa ,
Oryx doesn't support multiple .NET projects during the deploy because it's ambiguous on which on to deploy, this error messages will show up when multiple projects found in the repo. In this case, you'll need to set up environment variable `PROJECT ` with a relative path to the project so that it indicates which project to deploy.

Thank you,
Stella

[2020-06-18 12:51] mmcux opened #643 "PRE_BUILD_COMMAND for apt-get installation: permission denied"
I am relatively new to programming and Azure App Service and don't know if I am right here.

My Python web app is running without a problem, but now I want want to add a feature which requires the installation of `libhunspell-dev` with apt-get.
It must be installed before the `pip install` commands, so I tried to use oryx's `PRE_BUILD_COMMAND`.
But I get the error message:
[code]

Is it even possi

[2020-06-19 12:46] kichalla commented on #643
Hi @mmcux App Service's build runs in a container which is a constrained environment and so you will not be able to install system packages using `apt-get` commands.

cc @sanchitmehta

[2020-06-19 12:47] kichalla commented on #636
Hi @yvandeghellinck Could you please share what errors did you see when you tried this out? Was it related to authentication/authorization of your private repository?

[2020-06-19 12:50] kichalla commented on #632
@ParthiBa Based on your log output seems like you are trying out a Blazor app in AppService. Did you choose the option of 'ASP.NET Core Hosted' in your case? This works currently so wanted to check.

[2020-06-19 12:52] kichalla commented on #615
Is this still an issue? Static Web Apps recently made an update where you can install a specific version of Hugo by using the environment variable `HUGO_VERSION`. Could you give it a try and see if that works fine for you?

[2020-06-19 18:16] mmcux commented on #643
Hi @kichalla
Thanks for your response. The deployment process was easy to handle until this point and I guess I have to dive deeper now into different Azure services.

[2020-06-19 18:16] #643 closed

[2020-06-20 07:49] kozw commented on #615
Will try, is this documented somewhere?

[2020-06-23 02:16] shaktiug commented on #594
Hi Arjun,

You can create any linux node webapp and use local git deployment to deploy the code. You restart it, in sometime, there would be question marks in the file attributes. App will not find the node_modules, hence fails to start.
-????????? ? ? ? ? ? node_modules

I observed a pattern for this.
You deploy your code/app, everything just runs fine. And at any point of time, your node_modules

[2020-06-23 02:17] shaktiug commented on #594
it uses /opt/startup/startup.sh script to start the container.

[2020-06-23 02:39] arroyc commented on #594
@shaktiug can you do oryx --version in your runtime or just simple "oryx" and that will show you the version it is running

[2020-06-23 03:30] shaktiug commented on #594
root@f29c9ef4b98e:/home/site/wwwroot# oryx version
Oryx Version: 0.2.20200522.2, Commit: bf724c0e83f3da74487f55cd304c63331dab7067, ReleaseTagName: 20200522.2

it gets permission denied,
root@f29c9ef4b98e:/home/site/wwwroot# /opt/startup/startup.sh
Found tar.gz based node_modules.
Removing existing modules directory from root...
Extracting modules...
mv: cannot move 'node_modules' to '_del_node_mod

[2020-06-23 03:45] shaktiug commented on #594
@arroyc , can you please me  to understand, whats happening with the webapp. This is bit urgent now.
As i am using this oryx build process on every env now, from dev to prod.

Currently, Prod is not reliable because of this

[2020-06-23 04:42] shaktiug commented on #594
![image](https://user-images.githubusercontent.com/26669039/85361597-fd8f1f00-b539-11ea-81fc-7b8c4a6957b0.png)

[2020-06-23 04:48] arroyc commented on #594
ok .. I will take a look into this at earliest ..

[2020-06-23 05:10] shaktiug commented on #594
@arroyc , it is a nodejs app service- linux

[2020-06-23 08:03] prernarp opened #650 "Deployment failed with Error: Platform 'nodejs' version '14' is unsupported."
1:25:39 PM preTestWindows: Command: oryx build /tmp/zipdeploy/extracted -o /home/site/wwwroot --platform nodejs --platform-version 14 -i /tmp/8d8174ad21a2dc0 -p compress_node_modules=tar-gz --log-file /tmp/build-debug.log
1:25:43 PM preTestWindows: Build orchestrated by Microsoft Oryx, https://github.com/Microsoft/Oryx
1:25:43 PM preTestWindows: You can report issues at https://github.com/Microsof

[2020-06-23 11:03] shaktiug commented on #594
Log file for your reference:-
[2020_06_22_RD2818787A976C_default_docker.log.txt](https://github.com/microsoft/Oryx/files/4818903/2020_06_22_RD2818787A976C_default_docker.log.txt)

[2020-06-23 12:38] ParthiBa commented on #632
@kichalla  yes if Use ASP .NET Core hosted Solution . Then , Only Build Server Project and deploy it . It will call and render wasm app too .

@qianz2  do you mean I have create Environment variable for each project . ?  So I have create under Application Settings of  Azure App Service ?
Is t

[2020-06-23 12:39] ParthiBa commented on #632
@kichalla  yes if Use ASP .NET Core hosted Solution . Then , Only Build Server Project and deploy it . It will call and render wasm app too .

@qianz2  do you mean I have create Environment variable for each project . ?  So I have create under Application Settings of  Azure App Service ?
Is there any documetation to read on hosting multiple apps

[2020-06-24 11:42] shaktiug commented on #594
@arroyc

I just did another deployment on dev webapp using local-git method. And again, it is creating link inside node_modules dir. Here is the screenshot :-

![image](https://user-images.githubusercontent.com/26669039/85549704-e0437900-b63d-11ea-9ca5-30ee70564a52.png)

Thanks
Shakti

[2020-06-24 11:44] shaktiug commented on #594
@arroyc

I just did another deployment on dev webapp using local-git method. And again, it is creating link inside node_modules dir. Here is the screenshot :-

![image](https://user-images.githubusercontent.com/26669039/85549945-1aad1600-b63e-11ea-85bd-77f1fe6946b6.png)

Thanks
Shakti

[2020-06-24 19:58] arroyc commented on #594
I'm sorry for your struggle, I tried and couldn't repro this issue ...  doesn't matter the inconsistency .. a bug is a bug .. so I'm still trying to rerpo it .. int the mean time can you please use BUILD_FLAGS=UseTempDirectory as an environment settings in portal to avoid compression of node_modules? Let me know if that helps !

[2020-06-24 20:37] arroyc commented on #594
Also ... screenshots not always help .. there may be lot of things that you are doing inside your package.json .. for example  you may have some relative path in one of your script inside package.json that is hard to discover from my side, do you have specific path dependency from node_modules ... like for example  you may have used something like "prod:serve": "node --icu-data-dir=./node_modules/

[2020-06-25 05:03] shaktiug commented on #594
@arroyc
Package.json has already been shared with Nikhil.

[2020-06-25 08:35] shaktiug commented on #594
Hi Arjun,

I dont think this has anything to do with the code. It is the issue with startup script which cannot create symlink as it gets permission denied and at any random attempt, it succeeds.

Thanks
Shakti

[2020-06-25 17:32] arroyc commented on #594
@shaktiug  .. I think you didn't get what I meant here .. I saw the sample package.json, and there are many scripts many steps inside .. to work with that sample package.json I need to create/mock the repo that you are using ... at this moment whatever sample apps we have we tried to repo .. but couldn't repro it ... I'm not blaming your app has problem .. I'm only trying to say may be your app ha

[2020-06-25 19:11] arroyc commented on #594
@shaktiug  In addition to that .. Can you please share following information?
How many instances of the app you are trying to run? Can you try stopping all the instances before deploying your app? Does that solve this problem?
Can you please share the content of /opt/startup/startup.sh
Can you please try using deployment_slot to deploy your app https://docs.microsoft.com/en-us/azure/app-service/de

[2020-06-29 05:42] arroyc commented on #650
@prenarp did you select node lts as runtime stack?

[2020-06-29 21:52] jessicanevesmachado-zz opened #662 "deploy web app with vs code"
hello, has anyone had this error when deploying a react application?
how can i solve?

<img width="980" alt="erro" src="https://user-images.githubusercontent.com/12597532/86059592-69412280-ba39-11ea-8329-2482f0311641.png">

[2020-06-30 22:46] kichalla commented on #636
Here is an example on how you could do...I have a private npm registry hosted in GitHub and this is how I have in my npm registry:
Here the ${GITHUB_TOKEN} is expanded by npm when ‘npm install’ is called. You just need to make sure this variable's value is available as an environment variable.

[code]

[2020-07-01 15:38] landgenoot commented on #594
I am having the same issue. However, the difference is that I am not able to delete the unknown file `node_modules` (also indicated with ?????? in `ls -la`) inside `/home/site/wwwroot` at all.
Tried several methods, including deleting by inum, but without success. My guess is that is has something to do with the home folder being mounted as CIFS that breaks somewhere with symlinks.

Is there a way

[2020-07-01 20:31] arroyc commented on #594
@landgenoot  .. thanks for reporting ... did you try stopping all the instances  and then push your changes (that will trigger a new build) or just redeploy after stopping your app ... I would like to know

[2020-07-02 08:43] landgenoot commented on #594
@arroyc, yes I tried. Assuming that you mean the stop button on the overview screen.

[2020-07-02 11:53] shaktiug commented on #594
@arroyc, there is something wrong somewhere. could be the container image or oryx build or filesystem NFS/CIFS ??

[2020-07-02 20:32] arroyc commented on #594
@shaktiug .... thats what I'm trying to find out .. where the issue is ..as it  is hard to repro and doesn't consistently show up ... Did you try the steps I suggested specially using slots?

[2020-07-04 15:10] gnmaxim commented on #662
Yes, same issue when trying to deploy the build directory with vs-code.

[2020-07-08 13:31] NoNameProvided commented on #453
Sorry for the delay, we have been in a progress to transition to Azure and got no time to reflect on this issue.

In the end we opted in for using `WEBSITE_RUN_FROM_PACKAGE="1" ` so now we have started deploying the exact snapshot of our applications which works great for us.

[2020-07-09 12:33] br0cky opened #675 "Oryx can't find antenv during startup"
Hi all,

deploying a flask app to app service via localgit and VS code.

Here is output of startup:

antenv folder doesn't exist in /home/site/wwwroot hence error but i noticed there is /antenv which contains all dependencies from my requirements.txt so why does it end up there? Also during deployment logs i notice antenv gets created and dependencies are installed, then the antenv is compressed.

[2020-07-09 12:40] landgenoot commented on #594
I just removed the entire web app from Azure and started all over again. Things are working fine now.

[2020-07-09 13:23] #675 closed

[2020-07-09 13:24] br0cky commented on #675
Closing as i think it was something i messed up during deployment

[2020-07-09 14:21] getfatday commented on #636
@kichalla I can confirm this approach is not working in my case. Also following this issue in Azure/static-web-apps#44, since they appear to be the same.

Here is my `.npmrc`:

[code]

And my Github Action configuration:

[code]

I'm not understanding how Oryx would pickup on this environment variable, since it's not being passed into Docker. Here is the command as posted in the Github Action log.

[2020-07-09 15:02] mahmoudajawad commented on #636
Yup. This and #44 are the same. I would suggest closing and following one of them to track this issue until it's resolved.

[2020-07-09 17:27] kichalla commented on #636
@getfatday Thanks for the details. Could you share the following details?

- If possible could you share a repro project or a picture of root directory structure of your project?
- You were saying that `npm` is being used even though `yarn.lock` exists. This should not be happening. Could you share the repro? I just now tried a sample app with package.json, yarn.lock and I see yarn being used.
- O

[2020-07-09 17:33] kichalla commented on #636
Adding to my earlier questions: Could you please share the build output of your workflow run?
Interesting article about .yarnrc: https://joegornick.com/2019/04/15/yarn-with-private-npm-registries-and-authentication/

[2020-07-09 18:03] getfatday commented on #636
@kichalla thanks for the follow up. Here is the directory structure, with most of the source code files removed:

[code]

Keep in mind that this repo uses a [Yarn workspace](https://classic.yarnpkg.com/en/docs/workspaces/) to support multiple packages.

Also, the article you mentioned is in regard to alternative NPM registries (private or public). The issue here is accessing private packages hoste

[2020-07-09 18:10] getfatday commented on #636
@kichalla I also wanted to mention that I did attempt a build by hard coding the NPM auth token directly into the stored `.npmrc` file. This, unfortunately, did not work either, but it does show that, regardless of variable expansion in `.npmrc` file, that authentication with an `.npmrc` isn't working as expected.

[2020-07-09 18:27] kichalla commented on #636
Thanks for the quick response @getfatday Will get back to you. I have only tested with private repository on GitHub and do not have a private repository on NPM itself.

[2020-07-09 18:28] kichalla commented on #636
BTW could you please share the build output (removing any irrelevant/privacy related parts). I want to confirm if yarn or npm is being used to build your app. I would expect yarn to be used since we give preference to Yarn if we find yarn.lock file.

[2020-07-09 18:52] getfatday commented on #636
Thanks @kichalla here's the output:

[code]

And if needed, here is the root `package.json` file:

[code]

[2020-07-09 19:25] getfatday commented on #636
@kichalla some progress made regarding the Yarn detection and `.npmrc`, it looks like setting `app_location` determines where Oryx runs its commands.

My original configuration was:

[code]

Making the following adjustment works

[code]

This makes sense if Oryx was running from `packages/app`, since that directory doesn't contain a `yarn.lock` (Yarn detection) or `.npmrc` authentication.

I still

[2020-07-09 19:53] getfatday commented on #636
@kichalla one last post to follow up. I was able to verify a successful deployment with the following Github Action configuration which includes creating the `.npmrc` at build time.

[code]

[2020-07-09 20:09] kichalla commented on #636
Awesome, thanks @getfatday. I took a note of the suggestions you provided in the earlier post. We will try to make the experience better.

@mahmoudajawad Could you also check your workflow again?

[2020-07-10 07:15] mahmoudajawad commented on #636
Unfortunately, @kichalla, it's not working for me. I updated the workflow to:
[code]

I added `Confirm NPM Token` step in order to confirm whether the file is created or not, and can confirm it's being created correctly. However, for some reason, it's still not being used to access the package.

[2020-07-10 07:17] mahmoudajawad commented on #636
Unfortunately, @kichalla, it's not working for me. I updated the workflow to:
[code]

I added `Confirm NPM Token` step in order to confirm whether the file is created or not, and can confirm it's being created correctly. However, for some reason, it's still not being used to access the package.

[2020-07-10 07:43] mahmoudajawad commented on #636
@kichalla, I noticed this in the logs:
[code]
 Since, the talk here is about file not being copied when the app is being built, could these previous lines from `Oryx` step could mean it again is copying the files leaving behind `.npmrc` file?

[2020-07-10 15:16] kichalla commented on #636
Thanks for the details @mahmoudajawad...is the package dependency that you are having problem with is part of "dependencies" or "devDependencies"? if it is part of "dependencies", could you try and see if you are hitting the same issue when you move it to "devDependencies"? Could you please confirm? If this works, it can be used as a temporary workaround. We will get out a fix to make this work me

[2020-07-11 08:12] mahmoudajawad commented on #636
@kichalla, I can confirm moving the package from `dependencies` to `devDependencies` fixes the problem and it successfully gets Oryx to build the app, other parts concerning SWA are also working and the app has been successfully deployed.

Great tip and I can live with this as long as it's stated as well-known issue with the resolution suggested here.

[2020-07-11 15:21] danieljaguiar commented on #593
Same here... but mine is 10.10

[2020-07-12 14:59] kichalla commented on #636
Thanks you very much! @mahmoudajawad From Oryx's side we will be getting out a fix asap and will update this thread when it is out.

[2020-07-13 17:53] arroyc commented on #594
Thanks, feel free to report a new issue  and if  that issue feels similar like the one in the past please link it, I'm closing this issue now

[2020-07-13 17:53] #594 closed

[2020-07-25 04:02] jkeech opened #699 ".NET Core install is corrupted, leading to broken intellisense for C# projects in Codespaces"
Reported in the following issues which affect Codespaces for all C# projects:
* https://github.com/MicrosoftDocs/vscodespaces/issues/674
* https://github.com/microsoft/vscode-dev-containers/issues/428
* https://github.com/OmniSharp/omnisharp-vscode/issues/3913

The underlying issue is described by @JoeRobich in https://github.com/microsoft/vscode-dev-containers/issues/428#issuecomment-663767092

[2020-07-25 04:58] jkeech commented on #699
It looks like this is actually caused by the [symlinking script](https://github.com/microsoft/vscode-dev-containers/blob/master/containers/codespaces-linux/.devcontainer/symlinkDotNetCore.sh#L19) that Codespace is using, which doesn't take into account different version numbers in the *.Ref folders.

I'm working on verifying this now, and if so, I'll close this issue and work on a fix in the dev-c

[2020-07-25 06:30] jkeech commented on #699
Ok, this did turn out to be an issue in how Codespaces was consuming/modifying the Oryx image. Closing.

[2020-07-25 06:30] #699 closed

[2020-07-30 16:31] dmgardiner25 opened #703 "Conflicting apt sources in vso Oryx image"
### Bug Report

- At what date and time did you most recently experience the problem?
7/30 at 9:15am PDT.

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Visual Studio Codespaces and directly in the Oryx image version `vso-20200719.1` through `docker run`.

- If your repo is publicly available please share its URL:

- What ha

[2020-08-03 19:23] matcha440 commented on #615
I tried `HUGO_VERSION` and it worked like a charm.  Doesn't seem to work if you specify `latest` though, but I'd love to see documentation this too.

[2020-08-04 08:41] alikazai commented on #636
Hi all.
I am still having this issue after trying out all your tips. The repo i am trying to add is the Fontawesome Pro ones. this is the error i am getting..
npm ERR! code E404 npm ERR! 404 Not Found - GET https://registry.npmjs.org/@fortawesome%2fpro-light-svg-icons - Not found npm ERR! 404 npm ERR! 404 '@fortawesome/pro-light-svg-icons@5.13.0' is not in the npm registry. npm ERR! 404 You should

[2020-08-04 13:13] kichalla commented on #636
@alikazai Could you try the workaround that is specified below for now and see if it works:
https://github.com/microsoft/Oryx/issues/636#issuecomment-657013125

We fixed this issue at Oryx's end but are waiting on AppService and Azure Static WebApps to pick it up for their next release.

[2020-08-04 13:49] alikazai commented on #636
@kichalla thank you for responding, i did this before it didnt work and just tried it again after your comment and this is what i get

``
npm WARN 404 SKIPPING OPTIONAL DEPENDENCY: Not Found - GET https://registry.npmjs.org/@fortawesome%2fpro-duotone-svg-icons - Not found
``

the build continues and doesnt throw and error on this like before but then again its not really installing it. so to concl

[2020-08-04 13:53] kichalla commented on #636
@alikazai could you share how your package.json looks like after the change?

[2020-08-04 15:35] alikazai commented on #636
[code]

[2020-08-04 15:37] alikazai commented on #636
[code]

[2020-08-04 15:39] alikazai commented on #636
i have attached my package.json and my build workflow

after removing the pro fontawesome packages and adding them manually in the repo this build workflow works and the app deployed but i would rather have the npm packages working in the build script than to include them in my repo.

thanks

[2020-08-04 16:50] kichalla commented on #636
Thanks for the attachments.

I am not clear what you meant by adding them 'manually' and `but i would rather have the npm packages working in the build script than to include them in my repo.`...Could you please clarify?

[2020-08-05 08:21] alikazai commented on #636
I downloaded the fontawesome pro files from their site and added them into my repo in my assets folder, then linked to them.
it would be better if these files were not in my repo and were being downloaded and built during the npm install stage.

[2020-08-13 15:10] jracc commented on #636
@kichalla  - do you have a timeframe for the release?

[2020-08-14 23:52] wyrmling opened #724 "Deploy failed on "oryx build" (rsync error, code 23)"
Problem occurs regularly on B2 Web App Service with react app during one of the last `oryx build` operations:

[code]

[2020-08-17 13:10] apalmer commented on #623
@HowardvanRooijen I was able to get a site that was 100% static html, css, and javascript to deploy. It was definitely a workaround style approach but it did work:

1. remove everything from my repository except
- git related files (.gitignore)
- .github directory
- directory (i called mines 'pregen') containing html, css, js, gifs, etc
2. in the .github/azure-static-web-apps-*.yml file set the ap

[2020-08-18 13:24] kichalla commented on #703
@dmgardiner25 Sorry for the delay in getting back to you on this. We will get out a fix for this.

[2020-08-19 13:55] poornagollakoti commented on #724
Same problem here for App Service
Command: oryx build /home/site/repository -o /home/site/wwwroot --platform nodejs --platform-version 12 -i /tmp/8d84445e51e40de -p compress_node_modules=tar-gz --log-file /tmp/build-debug.log
Build orchestrated by Microsoft Oryx, https://github.com/Microsoft/Oryx
You can report issues at https://github.com/Microsoft/Oryx/issues

Oryx Version      : 0.2.20200522.2,

[2020-08-20 07:27] arroyc commented on #703
@dmgardiner25  ... did you check if ca-certificate is already installed? I think it is already there

[2020-08-24 18:39] jracc commented on #636
I searched for this issue in the releases area, and it does not appear to be referenced.  Did it somehow fall through the cracks?  Will a fix be released?

[2020-08-25 18:40] larrywal opened #749 "Build started failing this morning"
### Bug Report

This morning around 8:30 AM my deployments to my app service started failing.  I didn't change anything material.  I have my app service hooked up to a git repo.  When I clone the repo and run npm run build locally, it installs and runs fine.

My repo is not publicly available but I can provide a private link to whomever needs it.  You can reproduce the problem by making a new app

[2020-08-25 18:48] kichalla commented on #749
From the log it says the following...do you have the package 'woker-loader' as one of the dependencies?

[code]

[2020-08-25 18:53] larrywal commented on #749
Yes, below is my client package.json.  Note locally and before checking in, I've triedboth npm install worker-loader and npm install worker-loader --save-dev.

![image](https://user-images.githubusercontent.com/43455985/91215509-74c36980-e6c9-11ea-95c1-aeb5628b8650.png)

[2020-08-25 18:53] larrywal commented on #749
And I didn't change anything this morning about package.json when it started failing...

[2020-08-25 19:01] arroyc commented on #749
hi @larrywal , sorry to see you in trouble ... trying get more data point from you .. ... when it started failing this morning .. can you please share what change trigger this build? Did you just redeploy? any other application settings that have been changed or something in portal?
Note: can you try moving "worker-loader" to dependencies and see if that make any  difference

[2020-08-25 19:06] larrywal commented on #749
Thanks for such quick responses.  This morning made a checkin to app.js and I added an environment variable to get the deployment working in the first place.  Once those worked (around 7:30 AM this morning) everything was working great.

So I started my normal work.  I tried to make a check in after that at around 9:00 AM and that failed.  I've tried several checkins since but each has failed simi

[2020-08-25 19:09] arroyc commented on #749
thanks for sharing those datapoints, that helps. if you can share the repo here or in email whichever you are comfortable with that would be great help, or else I can try to deploy a hello-world app to try your scenario ... let me know

[2020-08-25 19:11] larrywal commented on #749
@arroyc I have added you as a collaborator to the GitHub repo.

[2020-08-25 19:20] kichalla commented on #749
We use `yarn` to do install if we find a `yarn.lock` file. Could you try and see if it works locally with `yarn`?

[2020-08-25 19:52] larrywal commented on #749
Yarn worked fine locally.  Pushed the yarn.lock file up to the repo and triggered a redeploy and that failed just like the others.

[2020-08-25 20:06] kichalla commented on #749
Thanks @larrywal . We will investigate more and will get back to you.

[2020-08-25 20:27] arroyc commented on #749
@kichalla I got access to larry's repo .. I ran locally ... build worked fine ... checking end to end now in portal

[2020-08-31 09:33] alexhudson opened #752 "Oryx fails to detect platforms in Hugo blog"
### Bug Report

I created a new Hugo-based blog this morning, and am trying to deploy it via Azure Static Apps preview.

During the CI/CD, I get this response:

[code]

There seems to be an issue with the platform detection, but I don't seem to be able to enable Oryx debug mode to get a better backtrace, and there doesn't appear to be an obvious workaround. I'm not using Oryx to do the build - I h

[2020-08-31 13:52] schauhan232 commented on #91
Did you find any solution, we are using same and I have been facing same issue.

[2020-08-31 14:09] valeriob commented on #91
You can use deployment slots or just restart the WebAp with a script

$webAppName = '#{Octopus.Action.Azure.WebAppName}'
$rg =(Get-AzureRmWebApp -Name $webAppName).ResourceGroup
Restart-AzureRmWebApp -Name $webAppName -ResourceGroup $rg

[2020-08-31 15:38] kichalla commented on #752
@alexhudson if possible could you please share your repro app or the repository where we can take a look at the code?

[2020-08-31 15:40] kichalla commented on #703
@dmgardiner25 Thanks for reporting this issue. This was fixed and will be available in our next release

[2020-08-31 15:43] kichalla commented on #636
@jracc I apologize for the delay reply. In which platform are you trying to build? Is it in Azure Web Apps or Azure Static Web Apps? I ask this because each of these platforms have their own release cycle and I would like to know which one has the fix that I was talking about.

[2020-09-01 07:10] schauhan232 commented on #91
I have been using slot and facing issue with that too.

[2020-09-01 17:51] alexhudson commented on #752
I can't share the blog unfortunately, but I've managed to create a minimal case. The problem appears to be the Hugo config.toml:

[code]

This content as config.toml appears to confuse the parser. If I reorder it so the [params] section appears first, it works! Hugo appears to accept it either way; I'm not necessarily claiming it's _valid_ TOML at this point (I don't know), but this was an existin

[2020-09-01 18:10] kichalla commented on #752
@alexhudson Thanks for the details. We will try to see what can be done about it.

[2020-09-02 05:40] TataKim opened #753 "Could not detect any platform in the source directory."
### Bug Report

## Development Environment
Node / React latest version / Windows 10
IDE: Visual Code (with Azure App Service Extension)

## Outline
When deploying React App by Visual Code Azure App Service Extension, I have faced the below issues during progress. I had success several times almost the same code yesterday. suddenly it makes an error from today. I could not find any root cause of th

[2020-09-02 07:11] TataKim commented on #753
it seems one of an azure issue. I resolved this issue by changing Region of Azure app service.

[2020-09-02 07:11] #753 closed

[2020-09-03 12:54] connyho opened #755 "Oryx deployment ERROR on "detecting platforms...""
### Bug Report

- At what date and time did you most recently experience the problem?

Repeatedly since Wednesday, September 2 2020

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Deployment of Azure Linux Web App, Python 3.6 (Django app)

- If your repo is publicly available please share its URL:

- What happened?

Local GI

[2020-09-07 19:38] mjohn commented on #752
I have also countered with this issue. I have an .net core api and vuejs static web project. I was trying to create flow to publish static project through github. Projects are in same repo. Checked every file in ui project but i did not find any problem. Then, I tried to remove api location from flow file, wow, it works like a charm.

Not working:
[code]

Working:
[code]

[2020-09-08 11:08] crooz-co opened #757 "kudu- build generator execution failed"
Flask application is running under  azure web app and configured deployment center with kudu and github repo.

Deployment center configured to automate the build deployment. Today on wards, build generation is failing on the execution of shell script (/tmp/BuildScriptGenerator/82f1544a1ff44ddf803b755b5dbeb67c/build.sh).

Now the status of deployment is Running oryx build and become halted with sam

[2020-09-08 12:06] vkuehn commented on #581
no activity so far ?
things changed here and I could reproduce the issue at the moment

please close the issue if you stopped investigateion

[2020-09-08 16:14] binardo commented on #757
I am experiencing the same error (below) for a Azure Function App deployment using "func azure functionapp publish..." from an azure Devops pipeline. It occurs on all attempts today and still occurs re-releasing version of code that worked last week.

"message": "/tmp/BuildScriptGenerator/ddb85a9845804f73bf22d9d62f58a644/build.sh: line 91: source: filename argument required",

`[
    {
        "lo

[2020-09-08 18:13] kichalla commented on #755
@connyho Thanks for the detailed report. I looked up logs at our end and found the reason behind the error.

Short answer: As a workaround, create an app setting called `DISABLE_HUGO_BUILD` with value `true` to disable detection for Hugo platform style apps.

Long answer: Oryx tries to detect for different platforms used in a repo. In this process we try to detect for Hugo style apps too. As part

[2020-09-08 18:18] kichalla commented on #757
@crooz-co and @binardo Sorry to hear that you are experiencing issues. Could you please share a repro for this issue? are you using any pre or post build commands etc.?

[2020-09-09 04:24] crooz-co commented on #757
@kichalla Am not using any commands on pre and post build. And its a straight forward use case - deploying flask basic application.

startup command: gunicorn --bind=0.0.0.0 --timeout 600  app:app

[2020-09-09 04:58] ggarbutante commented on #757
I am experiencing  similar issue today. My deployment workflow works fine last week.

[2020-09-09 05:16] kichalla commented on #757
@ggarbutante Sorry to hear that. Could you share a repro app where you are seeing this issue? Thanks.

[2020-09-09 05:41] kichalla commented on #757
Thanks @crooz-co Which region is this app being deployed to?

[2020-09-09 05:49] crooz-co commented on #757
@kichalla Central US

[2020-09-09 07:46] ggarbutante commented on #757
Central US region as well.

[2020-09-09 07:47] jacksoncarl commented on #757
Hi @crooz-co,

I'm also seeing the same error for an Azure App Service deploy task  (Task Version 4.*) which is also deploying a Flask application.

The task has not been changed since March but started suddenly failing with the same error as above yesterday.

This is in North Europe.

[2020-09-09 13:07] kichalla commented on #757
I just now tried couple of deployments of a simple flask app to CentralUS and I am not seeing the issue that you all are seeing. Probably my app setup is different. I have a simple Hello World app like below:

![image](https://user-images.githubusercontent.com/6559784/92601703-02728d80-f262-11ea-8779-174f0bfc3cde.png)

@jacksoncarl
Could you try the following for me? Try clicking the 'Bash' link i

[2020-09-09 13:08] kichalla commented on #757
cc @sanchitmehta

[2020-09-09 13:20] jacksoncarl commented on #757
Hey @kichalla,

Hopefully, this helps:

`/tmp/BuildScriptGenerator>cat /tmp/BuildScriptGenerator/277a5d15d27d4bb39e532aff95ee3390/build.sh
#!/bin/bash
set -e

TOTAL_EXECUTION_START_TIME=$SECONDS
SOURCE_DIR=$1
DESTINATION_DIR=$2
INTERMEDIATE_DIR=$3

if [ ! -d "$SOURCE_DIR" ]; then
    echo "Source directory '$SOURCE_DIR' does not exist." 1>&2
    exit 1
fi

cd $SOURCE_DIR
SOURCE_DIR=$(pwd -P)

if [

[2020-09-09 13:33] kichalla commented on #757
Thanks @jacksoncarl for the prompt response. Seems like Oryx detection is incorrectly detecting that your app is a Conda based app. Do you have an `environment.yaml` file in your repo? If it is fine, could you share the contents of that file?

[2020-09-09 13:43] jacksoncarl commented on #757
No worries @kichalla happy to help.

I've double-checked our repository and we don't have an `environment.yaml` file in it.

The only yml file we have is the Azure Pipelines yaml file.

[2020-09-09 13:47] binardo commented on #757
Here the contents of the build.sh file for my Python function app deploy that is getting the same issue. I'm in deploying to "UK south".
Function app uses pip dependencies but we have an environment.yml file along side the requirements.txt which we use for the local environment when testing on our local machine. files below. The yml file has always been there so it is only something it has stopped

[2020-09-09 13:54] kichalla commented on #757
@binardo Thanks for the details. yeah in your case I believe you are seeing the issue because Oryx thinks that you are trying to use Conda to setup the environment based on the file name and presence of any of these keys in that file (dependencies, channels). Yes, please let me know if it works without the presence of this file.

[2020-09-09 13:58] kichalla commented on #757
@jacksoncarl Just realized that we also look for presence of any `.ipynb` files in the repo to determine if Conda environment is needed. Could you please check if you have any files with that extension in your repo and also if it is not required for your scenario, could you check if removing it fixes the error for you?

[2020-09-09 14:09] jacksoncarl commented on #757
We do have `.ipynb` files @kichalla in our repo. I'll get them removed now and will give it a go.

Not to throw another spanner in the works, but we have two Web Apps we deploy this Python API to.

We have a deployment task for each that look identical to me (excluding which Azure Web App they are pointing at), but one is continuing to function and deploy just fine but the second one is encounteri

[2020-09-09 14:16] crooz-co commented on #757
@kichalla Yes i do have .ipynb file extensions in repo and now I removed it. It completely working fine and deployment become successful.

Thanks for the support.

[2020-09-09 14:26] binardo commented on #757
huzza, my function app deploys fine now that I have removed the environment.yml file from the directory.
quite a gotcha that one.
Thanks for your help @kichalla, much appreciated

[2020-09-09 15:30] jacksoncarl commented on #757
Hey @kichalla,

Our second task is now up and running again when we moved the `.ipynb` files out of the root folder.

Thank you

[2020-09-10 04:19] crooz-co commented on #757
@kichalla I am gonna close this issue today, issue got resolved by seeing comments. if anyone need to keep this issue active, please let me know

[2020-09-10 04:27] ggarbutante commented on #757
Working fine now after deleting .pynb files. Thanks.

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Wed, Sep 9, 2020 at 11:19 PM crooz-co <notifications

[2020-09-10 09:39] connyho commented on #755
We don't have a file named "config.json" in our repository, but the deployment process is successful again with the additional app setting DISABLE_HUGO_BUILD, thanks a lot for the solution!

[2020-09-10 12:31] rkrakesh2690 commented on #755
Am also experiencing the same issue with an angular application deployed on the Linux App service.
The DevOps pipeline was working till last week but we see the same issue as mentioned by @connyho.

I followed the DISABLE_HUGO_BUILD solution mentioned but it doesn't seem to work for me. However, it does say its skipping detection in the logs but still goes on to detect and fails the deployment.

-

[2020-09-10 15:12] kichalla commented on #755
@rkrakesh2690 If possible could you share a repro for this issue?

[2020-09-11 02:53] rkrakesh2690 commented on #755
@kichalla It won't be possible to share the code base, but if you want to look at the structure of the repo to check for some files. Here it is.

![image](https://user-images.githubusercontent.com/46018474/92848558-f9bbbc00-f407-11ea-9f0f-e84c0283defa.png)

If you are looking for any specific configuration file, then please let me know.

[2020-09-11 03:24] capraynor opened #761 "App Service Reports Permission Denied When Running Installed Dotnet Tool Globally"
App Service Linux Instance.
Bind this repo to the Linux instance:

https://github.com/capraynor/appservice-dotnet-global-tool-not-working

This repo have a "prebuild" command configured:

[code]

Linux instance can successfully starts build (OK)
But the `dotnetsay` command cannot be correctly executed. and reports "permission denied"
Log attached.

[code]

[2020-09-11 03:26] capraynor commented on #761
Could you please look into this issue? We can know that most of our customer can meet this issue, when using app service together with our products.

[2020-09-11 13:14] Tredence-GitHub opened #763 "Getting error while deploying ReactJS application to Linux AppService using VS Code"
### Bug Report

- At what date and time did you most recently experience the problem?
11th September 2020

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure App Service

- If your repo is publicly available please share its URL:
No

- What happened?
While doing the deployment from the VS code editor to the respective App S

[2020-09-11 16:45] mo-zed opened #766 "Using VSCode Creating wheel for pyodbc fails"
### Bug Report

Apologies if this is not the right place to report this issue. I have very limited knowledge of Azure Functions, VSCode and Oryx and how it is used in Azure Functions. However my understanding is that Oryx is used to build a container for python and the function runs from there. So I'm posting my issue here hoping to get some help. Thank you.

## Brief description
Our function used

[2020-09-11 18:22] kichalla commented on #766
Thanks for reporting the issue @mo-zed . I was able to reproduce it. I am trying to get a workaround. Will update this thread.

[2020-09-11 19:42] kichalla commented on #766
@mo-zed As a workaround, could you try setting an environment variable key and value `DYNAMIC_INSTALL_ROOT_DIR="/opt"` and try again. This should fix your issue (I did try myself and the issue goes away). Meanwhile we will try fixing the actual issue and will keep this thread updated.

[2020-09-11 19:50] mo-zed commented on #766
@kichalla Thanks for the quick comment on this. As I mentioned before I am really new to Azure and VSCode. Can you please let me know where I should set this variable as you instructed? Thanks again.

[2020-09-11 20:03] kichalla commented on #766
@mo-zed Actually I am not sure how to set app settings in an Azure Functions app environment, but there is another way of accomplishing this with Oryx. You can create a file called `build.env` at the root of your repo and in that file add the following line `DYNAMIC_INSTALL_ROOT_DIR="/opt"` and try this deployment again. Oryx reads configuration information from `build.env` file, environment varia

[2020-09-12 08:29] mo-zed commented on #766
@kichalla Thanks. The solution worked as you suggested. I look forward to the actual fix.

[2020-09-12 11:08] #757 closed

[2020-09-13 08:08] praneshshzl opened #770 "Oryx build failing for linux web app in Azure Deployment Center - Bitbucket repos"
Hello all,

I'm using a azure web app (linux\php) and using deployment center to connect to a bitbucket repos.
after files copy over to **site/repository** , the deployment to **site/wwwroot** fails with below error
[code]

This is a new linux web app, should i be adding something in the repos to fix this?
The same repos builds fine in a asp.net web app (windows) w\o any issues and uses deploy.cmd

[2020-09-14 04:49] Tredence-GitHub commented on #763
any update on this?

[2020-09-14 05:05] Tredence-GitHub commented on #753
@TataKim atter changing Region did it worked for you? i am also facing same issue while deploying React JS application and currently we are usign WEST-US region. Can you be little more specific with the answer?

[2020-09-14 09:23] praneshshzl commented on #770
I used a composer.json file in my repo to fix this: copy the below code and create a composer.json and commit it to repo.
[code]
Now my build is successful.
[code]

[2020-09-14 09:23] #770 closed

[2020-09-14 19:08] jracc commented on #636
@kichalla - I figured it out.  There was a bit of user error on my part.  The following resolves my issue:

     - name: NPM Token Setup
        run: |
            echo "@MYSCOPE:registry=https://gitlab.com/api/v4/packages/npm/" > api/.npmrc
            echo "//gitlab.com/api/v4/packages/npm/:_authToken=$NPM_TOKEN" >> api/.npmrc
            echo "//gitlab.com/api/v4/projects/MYCENTRALPROJECT#/pack

[2020-09-14 19:56] kichalla commented on #636
Thanks for the update @jracc

[2020-09-14 23:46] #766 closed

[2020-09-15 08:11] kimtth commented on #753
I could not find root cause of this issues. but it seems a problem of azure. when this case happened, I change the region of app service to little far place, not same continent or country of current region. e.g . I changed it from japan east to central us or others. It has made always a success. sometimes the region of same continent and country makes a failure.

[2020-09-15 08:15] TataKim commented on #753
I could not find a root cause of this issues. but it seems a problem of azure. when this case happened, I change the region of app service to little far place, not same continent or country of current region. e.g . I changed it from japan east to central us or others. It has made always a success. sometimes the region of same continent and country makes a failure.

[2020-09-15 21:22] ejizba opened #775 "Remote debug Linux web app fails with "flag provided but not defined""
### Bug Report
_Originally filed by @Jason446620 in https://github.com/microsoft/vscode-azureappservice/issues/1764_

Repro steps:
1. Create a Node.js Linux Web App
1. Deploy this sample app https://github.com/Azure-Samples/nodejs-docs-hello-world
1. Remote debug in VS Code (https://code.visualstudio.com/docs/azure/remote-debugging)

Expected:
I should be able to hit a breakpoint in VS Code. I'm o

[2020-09-18 04:26] capraynor commented on #761
Any update on this opened on one week ago issue?

[2020-09-18 09:20] bhanutej-pr opened #780 "Not able to deploy Angular App to Linux NodeJs Web App Server from VS Code."
### Bug Report

- At what date and time did you most recently experience the problem?
18-09-2020

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
 Azure Web App Service Deployment

- If your repo is publicly available please share its URL:

- What happened?
 Using Vs Code to deploy angular build code to respective Web App Serv

[2020-09-18 16:10] ODH003 opened #782 "Oryx static web app heap out of memory"
Hi team.

I'm deploying my Angular 10 application in static web app Azure but I have a little problem. The problem is when deploy

![image](https://user-images.githubusercontent.com/48140216/93620138-27bc7580-f99f-11ea-86a7-febb3ec60c1f.png)

It can happen local enviroment but I use this sentence to fix it

`node --max_old_space_size=5048 ./node_modules/@angular/cli/bin/ng build --prod --configura

[2020-09-19 23:31] PaulDash commented on #770
Thanks, praneshshzl, this also worked for me.

Except that my Azure DevOps repo is a static HTML website. Why do I need a file like this if Oryx says platform parameter is not mandatory? There is nothing in its documentation that I found about HOW it detects the platform.

So yes, the composer.json file solved it, but... how about writing out all the values the detection could be looking for? What

[2020-09-21 23:34] praneshshzl commented on #770
@PaulDash You will have to check the Oryx configuration at https://github.com/Microsoft/Oryx/blob/master/doc/configuration.md#oryx-configuration.
And see which app setting in azure web app enables you to ignore platform parameters and such.
My guess is that its forcing the --platform php --platform-version 7.3 in the build command based on how the azure web app was setup initially, and looks like

[2020-09-22 05:04] phil000 opened #787 "NETSDK1045: The current .NET SDK does not support targeting .NET Core 3.1"
I've seen many differing posts on whether .NET 3.1 is supported via oryx build yet.
What's the story in **Australia East**

-----------------------------------------------------------------
Command: oryx build /home/site/repository -o /tmp/build/expressbuild --platform dotnet --platform-version 2.2 -i /tmp/8d85eb479913e8d
Operation performed by Microsoft Oryx, https://github.com/Microsoft/Oryx
You

[2020-09-22 06:35] bhanutej-pr commented on #755
@rkrakesh2690 I am also facing the same issue , have you got any workaround.

[2020-09-22 06:37] bhanutej-pr commented on #780
Hi I tried the **DISABLE_HUGO_BUILD** solution , but it is not working. Do we have any other solution for this?

[2020-09-23 02:12] Yorihito opened #788 "Zip deployment failed for Python."
### Bug Report
When I tried following the command line, deployment failed.

Here is the log.
[
    {
        "log_time": "2020-09-23T01:41:33.5354297Z",
        "id": "",
        "message": "Command: oryx build /tmp/zipdeploy/extracted -o /home/site/wwwroot --platform python --platform-version 3.7 -i /tmp/8d85f61cd49a938 -p compress_virtualenv=tar-gz -p virtualenv_name=antenv --log-file /tmp/build

[2020-09-23 04:01] niklevinsky commented on #787
Similar problem here, wondering if it has anything to do with the fact that I am trying to deploy to a function app that is tied to an older app service plan.  The .NET Core 3.1 function deployed from VSCode and runs great on the same plan, only getting the failed status in Deployment Center when trying to setup continuous deployment from GitHub.

[code]

[2020-09-23 20:39] kichalla commented on #787
@phil000 and @niklevinsky From the logs I see that `--platform-version 2.2` is being used but I suppose you are using `3.1` .NET Core app. Why are you choosing `2.2` version in AppService though?

cc @sanchitmehta

[2020-09-23 20:57] niklevinsky commented on #787
Likely my misunderstanding, I don't see a way to update the .NET version in AppService plans, but will do some additional research.  As I mentioned it is an older app service plan, but because the 3.1 function runs I assume it was present.

[2020-09-23 21:18] phil000 commented on #787
@kichalla
I didn't choose anything. As far as i can see thee is no way to choose or specify the -platform-version.
 All i did was setup CI in the Function App and the tool\SDK version (2.2) was chosen for me.

[2020-09-25 07:36] claitonbecoco commented on #788
We are also having this problem for the past 2 weeks.

[2020-09-25 15:57] Yorihito commented on #788
I saw the same issue today several times. But currently no more repro. Closing this.

[2020-09-25 15:57] #788 closed

[2020-09-25 18:46] EdFarrell opened #791 "Remote build fails for Azure Python Function app deployment using func azure functionapp publish <myapp>"
### Bug Report

- At what date and time did you most recently experience the problem?
9/25/2020 1pm EST

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Functions

- If your repo is publicly available please share its URL:
No

- What happened?
Attempted to redeploy a function app using cli

`func azure functionapp publis