[2020-09-25 18:53] HurricanKai opened #792 ".Net 5 RC1"
### Feature Request
Please update .Net Core to include .Net 5 RC1.
RC1 is supported in production, so I'd make sense to include it.

[2020-09-25 18:56] HurricanKai commented on #792
Well, someone else pointed out that apparently Oryx includes net5, so that must be some kind of cache/upstream issue. My apologies 😅

[2020-09-25 18:56] #792 closed

[2020-09-26 18:36] jacckjacck commented on #780
Hi, same error here!

[2020-09-28 05:01] Xodarap opened #794 "Pip parameters cause "--home not recognized" error"
### Bug Report

- At what date and time did you most recently experience the problem?
2020-09-27  9:30 PM PST

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure function

- If your repo is publicly available please share its URL:
https://github.com/Xodarap/tiktok-beautiful-azure

- What happened?
build failed

- What did y

[2020-09-28 08:17] claitonbecoco commented on #788
This is not our experience, we are still getting the same error as stated here, this has been happening for the past 3 weeks, an Azure function that used to deploy just fine started to get this error, and even new function plans are also doing the same.

[2020-09-28 08:30] Yorihito commented on #788
When I got the same error after I posted above, what I did was clean up the folder which has app.py. Actually, I had jupyter notebook in the same folder, and I moved that to a subfolder. After doing this I never saw the error. HTH.

[2020-09-28 08:33] claitonbecoco commented on #788
Thanks for the recommendation! I can give that a try.
When you mean clean up the folder, did you remove the Python cache? we havent added any new files to our folder.

[2020-09-28 09:00] Yorihito commented on #788
In my case, I didn't clear that. Folders as is, made files are app.py and requiremets.txt only.

[2020-09-28 10:39] claitonbecoco opened #795 "Python Azure Function deployment fails with Remote builde failed! - source: filename argument required"
### Bug Report

We have a Python Azure Function App we run on a Consumption Plan, and for the past 3 week the deployment from our local environment started to fail with the message
`Remote build failed!`
And the inner message:
`/tmp/BuildScriptGenerator/161dc4ea83d94d2fb8340c3ec25a5e85/build.sh: line 91: source: filename argument required`

We tried to create a new Function App, both Consumption P

[2020-09-28 17:03] kichalla commented on #795
@claitonbecoco Sorry to hear you are facing this issue. Could you please let me know if your repo has any Conda based `environment.yaml` file or `.ipynb` files? My suspicion is these files are being detected and Oryx is trying to create a conda envirnoment which is failing. Could you try removing these files and try again? We are currently working on a fix related to this.

[2020-09-28 17:07] kichalla commented on #791
@EdFarrell Could you please let me know if your repo has any Conda based environment.yaml file or .ipynb files? My suspicion is these files are being detected and Oryx is trying to create a conda envirnoment which is failing. Could you try removing these files and try again? We are currently working on a fix related to this.

[2020-09-29 11:09] EdFarrell commented on #795
I do have *.ipynb files, but no environment.yaml files. The remote builds have been working with the .ipynb files for a while. However, I figured out the file that was breaking the build. It was a .ipynb file that had a file name with spaces in it. Once this file was added to the .funcignore file, the build passed again.

[2020-09-29 14:33] joshdcar opened #801 "Oryx error for Hugo with valid config.toml"
### Bug Report

NOTE: This issue was originally reported at https://github.com/Azure/static-web-apps/issues/160 but was advised it should be moved here.

- At what date and time did you most recently experience the problem?

9/29/2020

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Azure Static Web Apps

- If your repo is pu

[2020-09-29 15:55] claitonbecoco commented on #795
Thanks Kichalla and Ed.
We just did a major clean up on all our files, basically removing any other files that are not the pure Python code for the function and that seems to do the trick. it is strange as these files were there for a good time, but only started to fail now.
Happy to close this as we found a way around it. but if it works to test the new version you are working on I can leave it o

[2020-09-30 20:31] ODH003 commented on #782
I could solve this issue adding this line in my file

`      - name: Build And Deploy
        id: xxxxxxxxxxxxxxxxx
        uses: Azure/static-web-apps-deploy@v0.0.1-preview
        env:
          NODE_OPTIONS: ${{ '--max_old_space_size=4096' }} `

[2020-09-30 20:31] #782 closed

[2020-10-01 07:57] connyho opened #804 "Virtual environment activation fails for python antenv3.6"
### Bug Report

- At what date and time did you most recently experience the problem?
always

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Linux Web App (Django), python 3.6
Deployment Method: Local GIT

- If your repo is publicly available please share its URL:

- What happened?

Tried to activate virtual environment

[2020-10-01 09:08] truokola opened #805 "Remote build for Azure Functions Python app fails during `pip install pyodbc` with /usr/bin/ld: cannot find -lpython3.6m"
### Bug Report

- At what date and time did you most recently experience the problem?
01-Oct-2020

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Functions, Python app deployment

- If your repo is publicly available please share its URL:
https://github.com/truokola/hello-fail

- What happened?
When the app requirements

[2020-10-02 10:17] dexajit opened #808 "Deployment failing with unknown error"
### Bug Report

- At what date and time did you most recently experience the problem?
2020-10-02 1140hours

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Functions

- If your repo is publicly available please share its URL:
Repo is private

- What happened?
Deployment failed. Error is unknown

- What did you expect or

[2020-10-02 10:43] dexajit commented on #808
Our last deployment was successful on 2020-09-22 with below versions of oryx.

  Oryx Version      : 0.2.20200310.1, Commit: f4b40f6ea0763678611b86b0ff9a48c922edcc46, ReleaseTagName: 20200310.1
  Build Operation ID: |CzM176naVGU=.8b87f836_
  Repository Commit : c9e4bbc06ccd427b8c007ba65726f217
  Source directory     : /tmp/zipdeploy/extracted
  Destination directory: /home/site/wwwroot
  Python Ve

[2020-10-02 19:09] qianz2 commented on #808
@dexajit Could you please share more details about the app you build. Does your repo has any Conda environment.yaml file or .ipynb files? Oryx added support for Conda and it's probably detecting these files as Conda environment. If you have these files, please clean these files and try again. We're working on fixing it, thanks!

[2020-10-02 20:41] dexajit commented on #808
@qianz2 I am not using environment.yaml file or .ipynb files in my app. function app is python 3.8 based Durable functions. There is a python package in activity function to call HTTP endpoint In activity function for maintenance activities for Azure accounts.

[2020-10-03 05:43] qianz2 commented on #761
Hi @capraynor, sorry for the late reply. It looks that you added prebuild command into your csproj file. Oryx has `PRE_BUILD_COMMAND` and `PRE_BUILD_SCRIPT_PATH` environment variables which are able to supply commands directly into script generator to run pre build steps. I suggest you to try this workaround and see if it works. Thanks!

[2020-10-03 05:51] qianz2 commented on #761
@capraynor, App Service's build runs in a container which is a constrained environment and so you may not be able to install and use system packages.

[2020-10-03 05:55] qianz2 commented on #586
@CalvinAllen @eloekset We recently added Ruby apps detect/build support, thanks for your attention. Feel free to try it and get back to use if you have any feedbacks. I'll close this issue for now.

[2020-10-03 05:55] #586 closed

[2020-10-03 06:25] qianz2 commented on #801
Hi @joshdcar ,
Thanks for reporting the issue. When Oryx detect if it's a Hugo app, it checks if a` .toml` file exists and parse the file to check if it's valid. If the parser failed to parse, Oryx will catch a `FailedToParseException `and so it will not be detected as a hugo app. In this case, the parser failed. Here is what it looks like when directly use Oryx to build.
When Azure static web app

[2020-10-05 21:11] qianz2 commented on #794
Hi @Xodarap , the repo link you provided is not valid any more, could you share an updated link of your repo so we could investigate the issue? Thanks!

[2020-10-05 22:25] Xodarap commented on #794
Hi, I replicated it in this repository: https://github.com/Xodarap/function-dep-example

This is just the default Python HTTP trigger function, except I added that dependency. When deploying I get this:
[code]

[2020-10-06 06:58] truokola commented on #805
Looks like this has been fixed with Oryx version 0.2.20200929.1.

[2020-10-06 06:58] #805 closed

[2020-10-06 16:52] kichalla commented on #808
@dexajit I checked our logs and found that the reason your build is failing is because Oryx is trying to parse a .yaml file in your repo to determine if it is a Hugo type app(Oryx tries to detect different kind of apps as part of the build process). We fixed this issue in later builds where we no longer throw an exception when we are unable to parse an yaml file. For now, as a workaround you can a

[2020-10-06 16:58] kichalla commented on #804
@connyho Thanks for the detailed information. We recently fixed this issue in Oryx and it will be available in the next deployment of AppService.

cc @sanchitmehta @JennyLawrance

[2020-10-06 17:11] kichalla commented on #794
@Xodarap Can you check if doing what the following link says helps resolving your issue?

https://github.com/UnitedIncome/serverless-python-requirements/issues/240#issuecomment-421433584

[2020-10-06 17:15] kichalla commented on #791
Based on your comments in the following issue, I am assuming your issue got resolved, so I am closing this issue and keeping the following one open.
https://github.com/microsoft/Oryx/issues/795

[2020-10-06 17:15] #791 closed

[2020-10-06 17:20] kichalla commented on #787
cc @Hazhzeng Do you know why this is happening?

[2020-10-06 17:25] kichalla commented on #780
@bhanutej-pr and @jacckjacck : are you trying to deploy locally built app to AppService? In that case you can use the following setting to fix it: `SCM_DO_BUILD_DURING_DEPLOYMENT=false`
More info here: https://github.com/projectkudu/kudu/wiki/Configurable-settings#enabledisable-build-actions

[2020-10-06 17:26] kichalla commented on #775
@arroyc This is the issue you are currently looking into right?

[2020-10-06 17:29] kichalla commented on #763
@Tredence-GitHub Are you still seeing this issue? Could you share how your repo structure looks like? Is it possible to get a reproducible sample app?

[2020-10-06 18:01] kichalla commented on #755
@rkrakesh2690 Oryx looks for `package.json` in the root directory to determine if it is a node app. From the app snapshot I do not see a package.json. What kind of app is this? are you trying to deploy a static files webiste?

@bhanutej-pr Is this the case in your scenario too? are you trying to deploy a static files webiste?

cc @sanchitmehta

[2020-10-06 18:04] kichalla commented on #703
This issue is fixed in our recent images. You can try them and remove any workaround that you might have added at your end to verify. Thanks.

[2020-10-06 18:04] #703 closed

[2020-10-06 18:16] Hazhzeng commented on #787
@phil000, This seems like the issue when your local project is targeting netcoreapp3.1, while your function app in Azure is targeting ~2. Try changing the appsetting in your function app **FUNCTIONS_EXTENSION_VERSION** to **~3** should solve this issue.

[2020-10-06 18:28] phil000 commented on #787
Hello.
I've just had a look and the runtime version is ~3 already.

It is running on Linux also.

![image](https://user-images.githubusercontent.com/9067236/95244630-b6ba0080-086e-11eb-8081-eeb0de2215a6.png)

[2020-10-06 19:06] qianz2 commented on #650
Hi @prernarp, do you still have the issue? I think Oryx current releases have supported Node 14 version. If it's no longer an error, we'll close this.

[2020-10-06 20:41] JV-conseil opened #809 "AttributeError: module 'django.db.models' has no attribute 'JSONField'"
### Bug Report

- At what date and time did you most recently experience the problem?
**October, 6th 2020 22:36:31 UTC+1**

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
**Azure Web Apps**

- If your repo is publicly available please share its URL:
**Private repo**

- What happened?
**Oryx ignores Django v.3.1 new JSONField

[2020-10-06 21:14] kichalla commented on #787
Thanks @Hazhzeng and @phil000 . I will consider this as fixed and closing the issue.

[2020-10-06 21:14] #787 closed

[2020-10-06 21:18] phil000 commented on #787
How is this fixed? The suggestion is not relevant as the function is already ion Runtime v3 as shown.

[2020-10-06 22:36] Hazhzeng commented on #787
Sorry @phil000, I misunderstood your question. Could you check if the LinuxFxVersion is properly set to DOTNET|3 in https://resources.azure.com/subscriptions/<subscription_id>/resourceGroups/<resource_group_name>/providers/Microsoft.Web/sites/<function_app_name>/config/web.

If not, please use "Read/Write" mode, edit the LinuxFxVersion field, and do a PUT request. This will ensure your function ap

[2020-10-06 22:38] phil000 commented on #787
linuxFxVersion
DOTNET|3.1

[2020-10-07 14:14] kichalla commented on #809
@JV-conseil  Thanks for the detailed issue report. This issue does not seem to be related to Oryx as such. Are you able to run this app successfully locally? Check if the following can help:
https://stackoverflow.com/questions/38513827/django-json-field-module-object-has-no-attribute-jsonfield

[2020-10-07 14:18] kichalla commented on #724
cc @sanchitmehta

[2020-10-07 14:56] JV-conseil commented on #809
@kichalla Thanks for your answer.

I am able indeed to run the app successfully locally: the error occurs when pushing to Azure.

I've opened a ticket on Django if you think it is not Oryx related:
https://code.djangoproject.com/ticket/32081#ticket

[2020-10-07 15:02] kichalla commented on #636
Closing this issue as it has been fixed. Please open a new one if you are still seeing similar issues.

[2020-10-07 15:02] #636 closed

[2020-10-07 15:22] sindexdev opened #810 "Deployment failure of App Service python webapp from vscode using AZURE:APP Service"
2020-10-07  11:05 EST

Issue : Azure Web App Service Deployment failure

Deploy failure with build.sh

11:05:26 AM sindexhello: /tmp/BuildScriptGenerator/742b4894c11a4ea49232d4f96490c044/build.sh: line 97: source: filename argument required
11:05:26 AM sindexhello: source: usage: source filename [arguments]
11:05:30 AM sindexhello: /tmp/BuildScriptGenerator/742b4894c11a4ea49232d4f96490c044/build.s

[2020-10-07 15:25] kichalla commented on #632
@ParthiBa Let us know if you are still seeing an issue here. I just now tried deploying a 3.1 ASP.NET Core Hosted Blazor app and it was successful.

[code]

[2020-10-07 15:28] #615 closed

[2020-10-07 15:30] kichalla commented on #614
Closing this issue as the support is currently available: https://devblogs.microsoft.com/aspnet/azure-static-web-apps-with-blazor/

[2020-10-07 15:30] #614 closed

[2020-10-07 15:33] kichalla commented on #603
.NET Core 3.1 support has been added to Azure Static Web Apps recently. Please try again and let us know if you still see the issue:
https://devblogs.microsoft.com/aspnet/azure-static-web-apps-with-blazor/

[2020-10-07 15:38] kichalla commented on #810
@sindexdev Thanks for reporting the issue. Could you please check if the workaround mentioned here would fix your issue? https://github.com/microsoft/Oryx/issues/795#issuecomment-700162458
We fixed it at our end and are waiting for AppService to deploy it.

[2020-10-07 15:45] kichalla commented on #581
Support for this is currently available. Please check again and re-open this issue if you are still seeing it.

[2020-10-07 15:45] #581 closed

[2020-10-07 15:48] kichalla commented on #460
@kassem-tohme  Closing this issue as we haven't heard back from you

[2020-10-07 15:48] #460 closed

[2020-10-07 15:54] sindexdev commented on #810
The workaround of removing the .ipynb file worked. App was successfully deployed. Thanks for quick turnaround on this issue.

[2020-10-07 15:54] #810 closed

[2020-10-07 16:08] kichalla commented on #541
I found that this issue is not specific to Oryx but in general a problem with `prophet`.
FYI: https://github.com/facebook/prophet/issues/401

[2020-10-07 18:40] kichalla commented on #809
Interesting. @JV-conseil could you share the content of your app's `requirements.txt` file? Does it have `jsonfield` in it as specified in the StackOverflow issue that I pointed earlier? Would it be possible to give us a minimal repro app?

[2020-10-07 18:42] kichalla commented on #560
Closing this issue as we have not heard back from you in a long time. Feel free to re-open it with additional details.

[2020-10-07 18:42] #560 closed

[2020-10-07 18:46] kichalla commented on #555
@vit100 Are you still seeing this issue? if yes, you can try the setting `SCM_DO_BUILD_DURING_DEPLOYMENT=false`
This will prevent from the app being built on AppService.

[2020-10-07 18:49] vit100 commented on #555
Looks like  it is working now, probably it was fixed.

[2020-10-07 18:49] #555 closed

[2020-10-07 21:57] Hazhzeng opened #811 "Oryx/Build official Python 3.9.0 support"
### Feature Request

Getting the 202009291 oryx/build image and the Python 3.9 is still using 3.9.0b1 (released on 05/19/2020). Since the Azure Functions team is working on releasing Python 3.9 now, the remote build depends on the latest offical 3.9.0 (released on 10/06/2020).

![image](https://user-images.githubusercontent.com/48038149/95392026-ea1b8000-08ac-11eb-881c-1171677db36c.png)

Please up

[2020-10-07 23:48] JV-conseil commented on #809
@kichalla The StackOverflow link you've shared is "outdated" in regard to Django v3.1 and JSONField, you no longer need to load extra packages in your `requirements.txt` file.

Furthermore, the app should crash while running locally as well, if as suggested in the StackOverflow issue a Json package was missing in my `requirements.txt` file, which does not happen.

Here is the Django documentation:

[2020-10-08 03:10] kichalla commented on #809
@JV-conseil Could you share a simple repro for us? It will help us to quickly reproduce and verify the issue.

[2020-10-10 08:01] capraynor commented on #761
@qianz2

So will you fix this on app service?

[2020-10-11 18:05] Xodarap commented on #794
Yep, this works, thanks. I don't know if this is a feature request for oryx or serverless Python, but it would be nice if the error message was more helpful. Feel free to close this otherwise though

[2020-10-12 13:52] kichalla commented on #794
@Xodarap Thanks for trying it out and giving us an update. Yeah this error message is not from Oryx as such so we would not try to fix it at our end.

[2020-10-12 13:52] #794 closed

[2020-10-12 13:52] kichalla commented on #811
This is fixed and available now.

[2020-10-12 13:52] #811 closed

[2020-10-12 13:53] kichalla commented on #809
gentle ping

[2020-10-12 13:53] kichalla commented on #780
gentle ping

[2020-10-12 13:59] kichalla commented on #761
As of now they do not have any plans to do this but can you try installing it as a 'local' tool? Following is an article which talks about it:
https://docs.microsoft.com/en-us/dotnet/core/tools/local-tools-how-to-use#install-botsay-as-a-local-tool

[2020-10-13 02:04] esttenorio commented on #724
Same here but instead it cannot find the zipped node_modules and the index.html:

Zipping existing node_modules folder...
Done in 175 sec(s).

Copying files to destination directory '/home/site/wwwroot'...
rsync: rename "/home/site/wwwroot/.node_modules.tar.gz.h6cjoB" -> "node_modules.tar.gz": No such file or directory (2)
rsync: rename "/home/site/wwwroot/build/.index.html.3Vt8n2" -> "build/index

[2020-10-13 18:23] arroyc commented on #617
@SeaDude  ... with the latest version .. I couldn't rpro this ... Can you verify if you are able to repro this now as well?

[2020-10-14 02:39] jacckjacck commented on #780
Hi @kichalla, today I tried to publish again from VSCode and it worked without problem but I did not change any configuration.

[2020-10-14 06:52] kichalla commented on #780
Thanks for the update @jacckjacck .

I am closing this issue now. If you are still facing this issue, please open a new one with more details so that we can reproduce on our side.

[2020-10-14 06:52] #780 closed

[2020-10-14 14:17] panesofglass commented on #603
Looks like the project built and deployed, but I don't see the function listed in the portal, and I cannot hit the API.

[2020-10-14 16:43] kichalla commented on #603
Thanks for the update @panesofglass

cc @Hazhzeng @miwebst

[2020-10-14 21:37] kichalla commented on #801
As discussed let us see if we have options to make the order of items less stricter.

[2020-10-14 21:49] kichalla commented on #755
@rkrakesh2690 Are you trying to deploy to Azure Static Web Apps? If yes, for the app folder you need to specify "app" folder present in the repo. I suppose that is the folder which has package.json in it.

[2020-10-14 21:52] kichalla commented on #801
Similar to issue: https://github.com/microsoft/Oryx/issues/752

[2020-10-14 21:58] kichalla commented on #650
@prernarp We believe this issue should already have been fixed. Feel free to re-open it if you still see it.

[2020-10-14 21:58] #650 closed

[2020-10-14 22:00] kichalla commented on #632
@ParthiBa We think this is no longer an issue. Feel free to re-open it with more details. Thanks.

[2020-10-14 22:00] #632 closed

[2020-10-15 05:34] SeaDude commented on #617
I'm not sure what the fix ended up being. Good to go now.

[2020-10-15 05:34] #617 closed

[2020-10-15 19:03] phdowling commented on #373
I got this issue out of the blue yesterday on a python web app, with no apparently build-relevant code changes made. One of the python libraries .so files are not successfully being copied (rename error). Anything I can try?

[2020-10-16 07:10] phdowling commented on #437
Hi, currently seeing this issue out of the blue on a python app service in Azure. Anything I can do except nuke the app service and start fresh?

[2020-10-16 07:58] phdowling opened #818 "rsync issue with deployment"
- At what date and time did you most recently experience the problem?
Starting October 14, 2020

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure App service

- What happened?
Deployment Pipeline started failing out of nowhere at the "Azure App Service Deploy" stage.

- How can we reproduce it?
Not sure, as this issue was

[2020-10-16 11:37] davjfish commented on #437
@phdowling I don't remember exactly how we worked around the issue, but here are some vague memories in case they might be helpful. The bug seemed to be triggered by _the way_ the application was trying to connect to the file. I think the package we were using to ingest the yaml file (possibly pyYAML) was locking it down and this is what was preventing subsequent deployments. In our case, we were

[2020-10-16 14:22] #808 closed

[2020-10-16 21:20] qianz2 commented on #761
As discussed, if we follow the link above to install dotnet tool locally, set the environment variable `PRE_BUILD_COMMAND` or `PRE_BUILD_SCRIPT_PATH ` to be the commands: `dotnet new tool-manifest` ,`dotnet tool install dotnetsay`  and `dotnet tool run dotnetsay`. The tool can be run successfully, here is the log info when we tried on our side.

[code]

[2020-10-17 18:10] JV-conseil commented on #809
@kichalla Sorry for the late reply… due to an unexplained resolution of the issue: the app is stable for a week and no longer crashing even though I did not make any change.

[code]

[2020-10-17 18:10] #809 closed

[2020-10-19 09:47] phdowling commented on #818
Update: we nuked the app service (delete and recreate), did one successful deployment, and immediately started getting the same error again.

[2020-10-19 10:52] surajsoni5 commented on #755
I'm also facing a similar problem starting recently. Though setting `DISABLE_HUGO_BUILD`  to `true` worked for me, but not sure what exactly happening here. I don't have any `config.json` files in my repo.

[2020-10-21 21:41] kichalla commented on #818
Thank for the information @phdowling . We will get back to you on this.
cc @sanchitmehta @JennyLawrance @purva-vasudeo

[2020-10-21 21:42] #761 closed

[2020-10-21 21:45] kichalla commented on #763
gentle ping

[2020-10-21 21:48] kichalla commented on #623
@qianz2 Please check with AppService folks about their purely static files image.

[2020-10-21 21:49] kichalla commented on #616
Closing this issue as it is not related to Oryx. Please feel free to re-open it with additional details.

[2020-10-21 21:49] #616 closed

[2020-10-21 21:55] miwebst commented on #623
@kichalla I think the main thing that is confusing here is that Oryx emits an error about detection. As discussed we probably want to have an option to not emit that error and just use the custom status code for saying detection failed. Static Web Apps assumes static content when we see that error code.

[2020-10-22 13:53] dphizler opened #822 "I get this message: "Error: Platform 'java' version '11.0.8' is unsupported. Supported versions:""
This started happening yesterday afternoon.

We have an azure app service which contains a PHP 5.6 app

We use local git to deploy to that app using git remotes.

The command we use is
`git push remote-name HEAD:master`

This is the entire message that appears in the git bash dialog:
[code]
(I've replaced a few urls with xxxx and yyyy)

I believe the key here is: Platform 'java' version '11.0.8' i

[2020-10-22 20:44] jpoiron opened #823 "Use npm ci instead of npm install"
### Feature Request

Hi, I was wondering if it's possible to use `npm ci` instead of `npm install` when building node.js apps.

It looks like I could possibly use a [custom build command](https://docs.microsoft.com/en-us/azure/static-web-apps/github-actions-workflow#custom-build-commands) such as `npm ci && npm run build` but if I'm understanding correctly, `npm install` will still always be run a

[2020-10-23 01:04] qianz2 commented on #823
Hi @jpoiron, thanks for providing us feedbacks. Your understanding is correct, currently we always run `npm install` command before any custom build command. We'll analyze and discuss within team about this feature request, and get back to you. Thanks!

[2020-10-25 18:38] grant-unwin commented on #822
Looking at the Oryx source, the java detector seems to be triggering as your project contains files with either `.java` or `.jsp` extensions.

This could potentially be because of a node module you are using that contains java files.

You can override this by configuring **Runtime Stack** property in your Azure App Service deploy step in Azure DevOps to the version of Node you require.

[![enter i

[2020-10-25 20:38] neilmario70 opened #824 "Pip fails to install the latest version of tensorflow | pip upgrade required"
I am trying to host a flask application that uses tensorflow 2.3.1 on azure web services with python 3.6 run time.

You can find screen shots and a detailed descriptions over here [here](https://stackoverflow.com/questions/64482622/azure-flask-web-app-with-python-3-6-runtime-unable-to-install-tensorflow-2-x-du)

Coming to my stack.

My **requirements.txt**

[code]

Now when I push my application t

[2020-10-27 11:14] thomasheartman opened #825 "npm install fails: 'Maximum call stack size exceeded'"
Hi,

I want to report an issue I ran into last week. I've spent some time trying to fix it, but I don't seem to be getting anywhere. I'd appreciate any thoughts and ideas you have around this. Thanks very much for your time and attention!

### Bug Report

- At what date and time did you most recently experience the problem?
On 2020-10-22T08:32:53.8713496Z (5 days ago)

- Where did you experience t

[2020-10-27 12:31] thomasheartman commented on #825
Update: it seems that this is likely because the internal repository (which holds the company's internal packages) isn't available on the wider internet, so npm can't reach the repo. I mistakenly thought the repository was open.

However, if that is the case, then the error message is a bit misleading. And while that would be an npm-issue, I'll leave this issue open for now in case the error is un

[2020-10-27 15:55] sdev99 opened #826 "Error: Couldn't detect a version for the platform 'nodejs' in the repo."
9:23:55 PM KellisprepWeb: Repository path is /tmp/zipdeploy/extracted
9:23:55 PM KellisprepWeb: Running oryx build...
9:23:55 PM KellisprepWeb: Command: oryx build /tmp/zipdeploy/extracted -o /home/site/wwwroot --platform nodejs --platform-version 10 -i /tmp/8d87a9082204486 -p compress_node_modules=tar-gz --log-file /tmp/build-debug.log
9:23:56 PM KellisprepWeb: Operation performed by Microsoft Or

[2020-10-29 12:19] aspexi commented on #822
Any ideas for PHP applications? Just recently issue has started. We don't have any .java or .jsp files in the repository.

The only work around for this that works is to change PHP version from 7.3 to 7.4.

[2020-10-29 18:04] arroyc commented on #749
@larrywal , I'm closing this for now. As we have already discussed about it and found an workaround. Please feel free to file issues if you find something not working.

[2020-10-29 18:04] #749 closed

[2020-10-29 18:05] arroyc commented on #662
@gnmaxim , @jessicanevesmachado-zz  Couldn't repro this ... please feel free to reopen this issue or create a new one

[2020-10-29 18:05] #662 closed

[2020-10-29 18:06] arroyc commented on #775
@EricJizbaMSFT  We are investigating this issue ... and a patch will be deployed soon.

[2020-10-29 18:08] arroyc commented on #567
@lovettchris  thanks for following up .. can you still repro this? I couldn't repro this when I tried those steps.

[2020-10-29 18:11] arroyc commented on #583
@manekinekko  .. we have this added in our story board .. but we have other priorities now ... Please subscribe to our repo for future releases .. you will get notified when this feature will be published .. closing this for now .. feel free to file new issues

[2020-10-29 18:11] #583 closed

[2020-10-29 18:13] #428 closed

[2020-10-29 18:14] arroyc commented on #428
@JoakimFFCG .. closing this issue for now .. as we have some workaround .. feel free to file a new one

[2020-10-29 18:19] arroyc commented on #545
@knut-erik  ... I was able to run an app succesfully with lightserver without using deploy.sh and etc... can you give it another try and see if it works with you?

[2020-10-29 19:29] lovettchris commented on #567
You couldn't repro because the github repo is gone right?

[2020-10-29 20:57] lovettchris commented on #567
Here's the new repro steps:
1. Create new Azure Web App, node.js version 12, on Linux:
![image](https://user-images.githubusercontent.com/18707114/97630301-a1a73c00-19ec-11eb-93cb-3540bedb0290.png)
2. Create "local git" with Kudu and clone that repo locally
3. Copy the bits from https://github.com/lovettchris/Teleprompter and "push" these bits up to the Azure local git repo.
4. Wait for "remote: D

[2020-10-30 16:50] MS-alsulli commented on #822
@aspexi @dphizler

Just as a disclaimer - I do not support the Oryx repo or any issues that come with it, but I have been working with someone that has had this issue. If you add an application setting "DISABLE_JAVA_BUILD" = true then this should stop oryx from looking for java platforms in the first place. Could give this a try as another workaround.

[2020-10-30 20:39] qianz2 commented on #801
We've updated toml file parser, so this issue is resolved and will be updated in the latest release. Thanks for reporting the issue. We'll close this.

[2020-10-30 20:39] #801 closed

[2020-10-30 20:45] qianz2 commented on #752
We've updated the toml file parser so that your minimal case should be considered as a valid toml file now. The update is in the latest release. Thanks for reporting the issue. We'll close this.

[2020-10-30 20:45] #752 closed

[2020-11-02 17:37] arroyc commented on #567
thanks @lovettchris  .. I will try again !

[2020-11-02 19:48] qianz2 commented on #825
Hi @thomasheartman It looks that this issue is specific to your repo, possible internal package or NPM issues, so I labeled it as external. It do remind us that we could provide an option for users to use custom local build commands (instead of `npm install --unsafe-perm and --production`). Thanks for reporting the issue. We'll close it as it's an external issue.

[2020-11-02 19:48] #825 closed

[2020-11-02 21:51] Whitecx commented on #775
Is there a way to disable remote debugging after trying it? I don't know how to remove the remoteDebug flag, and it's preventing the app from starting altogether.

[2020-11-03 04:42] gdobrasnki commented on #795
!00% my issue. Awful debugging! please add more details to these error messages!

[2020-11-03 08:07] aspexi commented on #822
@MS-alsulli thank you.

Setting `DISABLE_JAVA_BUILD=true` did the trick for me.

[2020-11-03 11:28] knut-erik commented on #545
Thanks @arroyc - will try to find some time to test this again ...

[2020-11-04 05:05] JustinGrote opened #835 "Azure Functions Powershell Support"
### Feature Request

Powershell is a supported-in-production azure function backend. It should be very easy to support as it requires no compilation, just a zip deploy of the API folder. It can be detected from the host.json file easily.

[2020-11-04 16:10] MS-alsulli commented on #822
@aspexi Are you deploying locally, through Azure DevOps, etc.?

[2020-11-04 16:28] aspexi commented on #822
Azure - App Service - Deployment Center (Kudu, Git, Bitbucket).

[2020-11-04 16:37] kichalla commented on #822
@aspexi Would it be possible for you to share a repro app of this issue?

[2020-11-04 16:41] aspexi commented on #822
@kichalla I'm afraid not at this time. I can only say it's WordPress installation that does not include any `.java` or `.jsp` files.

[2020-11-04 16:43] kichalla commented on #822
Thanks @aspexi . Oryx does a recursive directory lookup of presence of those files. So you are sure that your repo does not any `.java` or `.jsp` files anywhere in the repo? (I ask this because in the past we have seen where apps have unexpected file extensions in installed modules/packages etc.)

[2020-11-04 19:56] aspexi commented on #822
@kichalla I indeed found `.java` file in my project. It was in W3 Total Cache plugin (https://wordpress.org/support/topic/java-file-presence-causing-deployment-issues-with-azure-kudu-oryx/).

[2020-11-06 15:11] itahirov commented on #808
Hello @kichalla ,   Did you fixed the issue only for function applications or for linux web apps as well ?
We faced the same behavior on web application which had been mitigated by setting  DISABLE_HUGO_BUILD=true

[2020-11-07 02:24] arroyc commented on #835
@JustinGrote  .. thanks for raising this .. we have similar task in our backlog .. we will be working on it and will update this thread once it's there

[2020-11-07 02:29] arroyc commented on #826
thanks for reporting .. would be able to provide a sample repo structure to me? like where is you package.json located in your repo? how are you trying to deploy? are you using azure app service kudu build service or something else?

[2020-11-07 02:34] arroyc commented on #824
thanks @nerilmario for reporting .. will try to repro this issue by using the similar requirement.txt that you have provided in your stackoverflow thread

[2020-11-07 19:05] JustinGrote opened #838 "5.0rc2 builds broken now that 5.0RTM dotnet was released but 5.0RTM nuget packages not present yet"
### Bug Report

- At what date and time did you most recently experience the problem?
2020-09-07

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Static Web Apps Github Action

- If your repo is publicly available please share its URL:
https://github.com/JustinGrote/AzurePrice/actions/runs/351398712

- What happened?
5.0rc2 bu

[2020-11-08 08:24] dknittl commented on #838
Thank you for opening this issue! I'm having the same problem since yesterday with my RC2 project failing to build in Github Actions.

[2020-11-08 09:12] Courra commented on #838
Same issue - RC2 project failing to build in Github Actions

[2020-11-08 15:27] macekkrystof commented on #838
Hello, I've been facing same issue since yesterday. I hope it will be fixed with .NET 5 official release.

[2020-11-08 16:13] kichalla commented on #838
Ah, sorry to know that your builds have broken. Yes these failures should go away once .NET 5 is released, but meanwhile you can try couple of workarounds to overcome this issue:

Add global.json to your repo with the following content which pins the SDK version
[code]

OR

Add an environment variable in your github action workflow which sets the `runtime version` explicitly:
`DOTNET_VERSION="5.0.

[2020-11-08 17:31] JustinGrote commented on #838
@kichalla doesn't work, even if you pin to 20475.5 it downloads 20479.15 anyways, and then it complains that 20479.15 isn't supported by oryx

[2020-11-09 01:31] imhfk opened #839 "I got this message when deploying Azure Functions : 'Error: Platform 'java' version '11.0.8' is unsupported. Supported versions: '"
I got the following error message when deploying Azure Functions on Azure Environment
I changed the vscode setting that enables Java11 but it doesn't work well.
Would someone know hot to solve this problem?? I do wanna avoid this error...

### Bug Report

[code]

[2020-11-09 04:09] imhfk commented on #839
Hi, I fixed this issue on my own.
My function app is made up of Python. So I don't need Java .

Hence,as the previous ticket shows, I go to the Azure App Service's Configuration Setting and set the new variable on the following.

「DISABLE_JAVA_BUILD=true」

After this setting, the deployment was successful.
That really did work to me!!!
Thanks.

[2020-11-09 13:23] KelvinTegelaar opened #840 "Add support for TimerTriggers"
### Feature Request

Timer triggers for webapps can be super useful, triggering APIs based on time based events instead of just HTTP triggers opens up a lot of possibilities:

- Refreshing a client/server token before it expires
- Expiring sessions
- Connecting to a second API(or other middleware) based on a specific time/date
- time based edits on files/folders/Azure File Tables/etc.

Seeing as t

[2020-11-09 19:49] kichalla commented on #839
Hi @imhfk Can you please provide the repro app for this issue? We would like to investigate why Java is being detected for your repo.

[2020-11-10 12:18] phdowling commented on #818
Hi, any new developments here? This same bug just broke another one of my pipelines that I now have to migrate to docker in order to get it back up. Quite frustrating.

[2020-11-10 18:14] JustinGrote commented on #838
Now that .NET 5 is released, this works as expected when setting the project to net5.0, and a proper workaround was provided by @kitchalla

[2020-11-10 18:14] #838 closed

[2020-11-10 18:15] JustinGrote opened #843 "Dotnet 5 SDK"
### System Package Request

- Why do you need this package? For example, are you using a language-level package which depends on this system package?
Dotnet SDK 5.0.100

- Which Oryx language runtime and version are you using? For example, "Node.js v10.14" or "Python v3.7".
Dotnet SDK 5.0.100

- What is the name of the package in the latest stable Debian release?For examples, see <https://packages

[2020-11-11 01:41] qianz2 commented on #843
Hi @JustinGrote, thanks for the request. We recently added .NET SDK 5.0.100, please check Oryx latest release.

[2020-11-11 01:55] JustinGrote commented on #843
@qianz2 Thanks, not seeing it with Azure Static WebApps builds but they are still running `0.2.20200929.1` upon further inspection.

[2020-11-11 11:13] kichalla commented on #587
Closing this issue as we are not able to reproduce it. Feel free to reopen it with additional details.

[2020-11-11 11:13] #587 closed

[2020-11-11 11:16] kichalla commented on #541
Closing this issue as it is not related to Oryx as mentioned in my earlier comment. Feel free to re-open it with more details.

[2020-11-11 11:16] #541 closed

[2020-11-11 11:27] kichalla commented on #763
Closing this issue as we have not heard back on this for a while now.

[2020-11-11 11:27] #763 closed

[2020-11-12 11:16] hrana007 opened #848 "deployment failed on visual code python function"
### Bug Report

4:32:56 pm func-integrations-dev-001: Starting deployment...
4:33:01 pm func-integrations-dev-001: Creating zip package...
4:33:01 pm func-integrations-dev-001: Zip package size: 9.56 kB
4:33:08 pm func-integrations-dev-001: Updating submodules.
4:33:08 pm func-integrations-dev-001: Preparing deployment for commit id '3f9bd8da2c'.
4:33:08 pm func-integrations-dev-001: Repository pa

[2020-11-12 14:11] GowthamDisys commented on #795
Removing .ipynb files from the directory works like a charm. But, I don't know why this is the issue here. Anyway thanks for the answer, it definitely saved my time :) !!!!

[2020-11-12 17:25] kichalla commented on #755
FYI: we made changes at our end to ignore parsing exceptions when trying to detect for Hugo based files. We are just waiting for App Service to deploy this fix.

[2020-11-12 18:27] davidfmatheson opened #849 "Python Azure Functions and proxy issue"
### Bug Report

- At what date and time did you most recently experience the problem?
2020/11/12 1:00pm EST

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Deploying Python code to an Azure Function App

- What happened?
We cannot deploy Python code to a running Azure Function, either from VS Code or the command line. I belie

[2020-11-13 14:55] sdev99 commented on #826
now i uploaded success it to azure via pipline but in url it showing default page

[2020-11-13 18:18] davidfmatheson commented on #848
It might be the same issue, @qianz2, but I didn't see any timeout errors in @hrana007's output, so I created a new issue.

[2020-11-13 19:51] JustinGrote commented on #843
@quianz2 per https://github.com/Azure/static-web-apps/issues/206, Azure Static Webapps has been updated but it's still not finding the local dotnet. Can you investigate with @kichalla and @miwebst?

[2020-11-14 01:18] kichalla commented on #843
Hi @JustinGrote .NET 5 SDK is dynamically installed during build. Also Static Web Apps has been updated to a latest version of Oryx. Are you seeing builds fail?

[2020-11-14 01:49] qianz2 commented on #849
Hi @davidfmatheson, if you have a self configured pip.conf file, you may need to manually tell pip where your configuration file located by setting environment variable like this: `PIP_CONFIG_FILE=~/.config/pip/pip.conf`

[2020-11-14 19:39] wonsil commented on #787
I'm seeing the exact same behavior.

    "netFrameworkVersion": "v4.0",
    "phpVersion": "",
    "pythonVersion": "",
    "nodeVersion": "",
    "powerShellVersion": "",
    "linuxFxVersion": "dotnet|3.1",

but the Oryx build log starts this way:

Command: oryx build /home/site/repository -o /tmp/build/expressbuild --platform dotnet --platform-version 2.2 -i /tmp/8......

I've searched all of the

[2020-11-16 07:51] shibayan opened #853 "Adding BaltimoreCyberTrustRoot CA for Azure Database"
### System Package Request

If the Root CA, which is required to connect to the Azure Database, is installed on runtime image, it makes it easier to use and helps to build secure applications.

- https://docs.microsoft.com/en-us/azure/mysql/howto-configure-ssl#step-1-obtain-ssl-certificate
- https://docs.microsoft.com/en-us/azure/postgresql/concepts-ssl-connection-security#applications-that-requir

[2020-11-16 11:27] oscarhermoso opened #854 "Oryx Readme Seems to be Out of Date"
### Bug Report

- At what date and time did you most recently experience the problem?

Monday, 16th November, 11 AM UTC

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Oryx's [GitHub Readme](https://github.com/microsoft/Oryx#build-and-run-an-app),  [hub.docker.com](https://hub.docker.com/_/microsoft-oryx-images), Oryx Docker

[2020-11-16 13:14] davidfmatheson commented on #849
Hi @qianz2! I tried `export PIP_CONFIG_FILE=~/.config/pip/pip.conf` and then `func azure functionapp publish function-app-linux-python`, and I still have the same problem.

[2020-11-16 15:48] MCKLMT opened #855 "An expected error has occured"
### Bug Report

- At what date and time did you most recently experience the problem?

Monday, November 16th, 4:45PM CET

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Azure WebApps

- If your repo is publicly available please share its URL:

https://github.com/MCKLMT/demophpsymfony

- What happened?

Error: Oops... An unex

[2020-11-16 17:40] JustinGrote commented on #843
@kichalla no but both 2.0 and 3.0 are added into the base image, why not 5.0 now? If the goal is to minify the image, why not remove 2.0 and 3.0 at this point?

[2020-11-16 18:24] kichalla commented on #843
Yes that is our end goal but we are rolling this out in stages. In Azure Static Web Apps, no SDKs are pre-baked into the image but only in AppService we currently have 2.1, 2.2, 3.0 and 3.1 baked into the image. These too will move to dynamic install.

[2020-11-16 18:31] kichalla commented on #855
Thanks for the details @MCKLMT. Seems like when Oryx is trying to detect it is trying to parse one of the `.yaml` files and fails. Actually we fixed this issue in later builds but for now as a workaround, you can set an environment or app setting `DISABLE_HUGO_BUILD=true`

[2020-11-16 18:49] MCKLMT commented on #855
Any idea when the fix will be deployed?

[2020-11-16 19:07] kichalla commented on #853
Thanks for the details @shibayan. We will look into it.

[2020-11-16 19:36] JustinGrote commented on #843
@kichalla thanks for the update.

[2020-11-16 19:36] #843 closed

[2020-11-17 02:41] oscarhermoso commented on #854
*Edit:* I see now that the version of `oryx` running on the build image is totally different to the runtime image. The build image does not have the `create-script` command, but the runtime image does.

[2020-11-17 18:06] kichalla commented on #855
I am not really sure about the timeline since the deployment is done by other team.

[2020-11-17 18:18] kichalla commented on #853
@shibayan Which runtime image are you referring to? I just checked few versions of runtime images for each platform (ex: Node, Python etc.) and I see that the `BaltimoreCyberTrustRoot CA` is already part of the images.
FYI...

[code]

[2020-11-17 18:19] kichalla commented on #839
Closing this issue as we have not heard back from you.

[2020-11-17 18:19] #839 closed

[2020-11-17 18:21] kichalla commented on #603
Closing this issue as Oryx supports F# projects. Seems like this issue is at the Static WebApps end.

[2020-11-17 18:21] #603 closed

[2020-11-17 21:54] HarryGifford commented on #823
@qianz2 I'm not the original person, but it would be useful for my use case to be able to override the `npm install` command. I'm using [PNPM](https://pnpm.js.org/) for a project instead of NPM due to some improved features such as workspaces and would like to be able to use it to build Azure static web apps. Running `npm install` causes the build to fail, since NPM doesn't know where to find the

[2020-11-18 01:37] shibayan commented on #853
@kichalla Thank you for sharing the information. Reading this document, I thought I needed to add a Root CA, but now it seems to work without adding a CA.
https://docs.microsoft.com/en-us/azure/app-service/tutorial-php-mysql-app?pivots=platform-linux#configure-tlsssl-certificate

I thought the installed `BaltimoreCyberTrustRoot CA` was an old version, but I checked the file path certificate you ga

[2020-11-18 01:37] #853 closed

[2020-11-18 08:49] yangyx91 opened #857 "[not support .NET 5.0] Azure Functions 3.0.11 with Oryx build error:Metadata generation failed"
Bug Report:

- these days，i deploy a azure static web app with Blazor+Azure Function Api. before it is targed Net Core 3.1 and github action buld and deplyed well.

- now i  upgrade the app target .NET 5.0, as Blazore Client upgrade .Net 5.0， and Azure Function Api also upgrade .NET 5.0. than commit these code change, now the github action shows [Oryx has failed to build the solution].

- the log

[2020-11-18 18:34] qianz2 commented on #854
Hi @oscarhermoso , I think the README file you're looking is specified for Oryx runtime images, `create-script` command is used in runtime images only. Thanks for reminding us, we'll update README as we found inconsistencies.

[2020-11-18 18:47] qianz2 commented on #857
Hi @yangyx91 , we recently supported installing .NET core 5.0 dynamically during the build, it's probably because Azure Functions didn't use Oryx latest release during the deploy. Could you let us know which Oryx release was using here? I recommend you to file an issue at Azure Functions repository for updating Oryx release instead.

[2020-11-19 00:31] oscarhermoso commented on #854
Thanks @qianz2

You're correct, when I initially made this post, I didn't realise that the version of Oryx running on the build image was completely different to the run image. It makes sense now after spinning up a few containers and testing things out. Maybe that could be clarified in the README too? Or maybe it's already there and I read past it.

[2020-11-19 04:01] yangyx91 commented on #857
thanks @qianz2 reply, i review the oryx log and find this vesion number.
this version shows :
 Oryx Version: 0.2.20201112.1,
 Commit: a120bb248aa8d208ca5e02d7d9d075196e79cffd,
ReleaseTagName: 20201112.1

now i file this issue at Azure Functions repository for updating Oryx release instead.

[2020-11-21 17:34] geraldnguyen opened #861 "WEBSITE_RUN_FROM_PACKAGE does not work for NodeJS app on Windows plan"
### Bug Report

I was trying out Run-from-package option for a nodejs app

**Creating the NodeJs codes and creating zip archive**
[code]

**Creating webapp**

[code]

On a Windows appservice plan, the deployment was successful, but viewing the app (http://az204helloapp.azurewebsites.net/) always results in **You do not have permission to view this directory or page**

Creating webapp with custom s

[2020-11-22 06:02] arroyc commented on #775
fix is in deployment .... feel free to open a new issue or reopen this one ... closing this for now

[2020-11-22 06:02] #775 closed

[2020-11-23 19:29] qianz2 commented on #823
Close this as we have added an environment variable `CUSTOM_BUILD_COMMAND`, which enables to override npm install commands. It's in the latest release. Please check it out.

[2020-11-23 19:29] #823 closed

[2020-11-24 14:42] jpoiron commented on #823
That's great! I'll check it out soon. If there are any docs you can point me to that would be great. But it sounds like to accomplish what I want I just need to add `CUSTOM_BUILD_COMMAND` to the `env` section of the Azure/static-web-apps-deploy GitHub action and set it to `npm ci && npm run build`. Does that sound right?

Also, do I need to bump the version of the GitHub action? Currently I have i

[2020-11-25 09:50] arroyc commented on #861
@sanchitmehta who will be the best contact person on this?

@geraldnguyen this is windows team .. not on us ... I have tagged someone who can direct you to the right team

[2020-11-25 11:53] gust42 opened #864 "Error on yarn install with node 14"
### Bug Report

- At what date and time did you most recently experience the problem?
2020-11-25 10:27

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Web Apps

- If your repo is publicly available please share its URL:

- What happened?
created a dev slot, copying conf from another based on node 10, changed node versio

[2020-11-29 22:22] peterskurt opened #865 "Unable to deploy multiple Python files in a function"
### Bug Report

- At what date and time did you most recently experience the problem?
When deploying a python app to functions.

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Functions

- If your repo is publicly available please share its URL:
no

- What happened?
All imports fail. Python imports do not work. Addition

[2020-11-30 22:29] trstruth commented on #839
@kichalla I ran into this issue as well on a python only function app instance

setting `DISABLE_JAVA_BUILD=true` in the app configuration solved the issue.

I can provide repro information if you're still interested - what all do you need as identifiers?

[2020-12-01 07:22] #861 closed

[2020-12-01 14:10] geraldnguyen commented on #861
@arroyc Thanks for replying! I got confused between Oryx and Kudu. Is Oryx responsible for Linux build and Kudu for Windows build?

@sanchitmehta Seeking your advise on who or which team should I contact regarding this issue? Thanks.

[2020-12-02 15:03] MCKLMT opened #868 "Add PHP pdo_sqlsrv extension in build image"
### Feature Request

My customer would like to execute command in post build script with doctrine in PHP. However, the database is SQL Server and the extension pdo_mssql is not enabled in Oryx image.

Is there a way to add this extension in the image?
Is there a way to execute a PHPinfo command to see all enabled modules in the image?

Thanks in advance

Executing a PHPinfo inside the container co

[2020-12-02 17:21] qianz2 commented on #868
Hi @MCKLMT , we can add this extension in Oryx PHP images. Could you confirm you need it in the build image or in the runtime images? Thanks!

[2020-12-02 17:26] MCKLMT commented on #868
The two! Thanks

[2020-12-03 04:52] arroyc commented on #868
@MCKLMT  can you please verify Oryx version?

From the log its look like you are using php 7.4 ... so you can try installing that extension using pecl in postbuild script ...
but this is what I found .. https://github.com/microsoft/msphpsql/releases/tag/v5.8.0

I believe pdo_mssql is old and not supported anymore .. i think it's pdo_sqlsrv now ...
We do have sqlsrv in our runtimes .. so if the bui

[2020-12-03 05:12] arroyc commented on #868
if it is runtime container you can get the oryx information as follows
[code]

[2020-12-03 05:18] arroyc commented on #868
if it is build container you can do as in the following ....
[code]
you cant install in the build container directly .. so you try doing it in prebuild script or something ...

[2020-12-03 05:20] arroyc commented on #865
@peterskurt  thank you for reporting this issue ... I will look into this and get back to you as soon as I can .. in the mean time would you be able to provide more information of the oryx version it is running ..

you can get that by using command oryx --version

[2020-12-03 05:24] arroyc commented on #864
Can you provide more information what your workflow is .. are you trying to upgrade your app config to node 14 from node 12/10?

can you provide the log in better format .. its difficult to read from in current format

[2020-12-03 07:13] MCKLMT commented on #868
Running these two commands in build container

[code]
I try in postbuild script.

[2020-12-03 07:43] gust42 commented on #864
I had an app based on node 10, created a new deployment slot called dev, changed it to use node 14, then when i try to do a zip deploy I get error above,

updated log in original post

[2020-12-03 10:10] arroyc commented on #868
Thanks for verifying this ... we have updated the build image .. but it will take some time to get deployed .. in the mean time I would try to add the extension work  in some sort of custom start up script so that we can at least get the customer unblocked. I mean if we can't do it in build container, we still can do it in run container .. can we give it a try and see if it works !

[2020-12-03 10:12] MCKLMT commented on #868
I have already tried and the command ```pecl install pdo_sqlsrv``` does not work with the message ```Cannot install, php_dir for channel "pecl.php.net" is not writeable by the current user```

[2020-12-03 10:25] arroyc commented on #868
no not in build container .. custom start up in run container

this is a relevant custom start up for python app ... but idea is same for php as well ... we need to create a custom startup file that will execute in run container ..  idea is to configure the database related tasks here  instead of doing it in postbuild action in build container
https://docs.microsoft.com/en-us/azure/developer/pytho

[2020-12-03 10:31] MCKLMT commented on #868
I will try that with the customer. However, the startup command should be indempotent. Right?

[2020-12-03 14:44] JaredMRomano opened #872 "Build fails: File has vanished"
### Bug Report

I am using a azure linux Web service that utilizes local git for deployment.  I have a staging and production slot.  Last night I swapped my working staging slot with my production slot. First, It did not go well.  Oryx tried redeploying the project as soon as I swapped slots, which is not what I was expecting or wanting, especially considering it takes a significant amount of time

[2020-12-03 16:01] MCKLMT commented on #868
Finnaly, we'll forget Oryx and will switch to Azure DevOps. It seems to be a more perennial solution in our context. Thanks for the previous help however.

[2020-12-03 16:01] #868 closed

[2020-12-03 19:28] Brindyn opened #873 "Failure to deploy azure web app on Oryx step."
To be honest, I don't know what is happening, but I attached a screenshot of my issue.
Azure should have no problems deploying my web app, however it fails to run Oryx.
Here is my repository: https://github.com/Brindyn/HealthInsurance
![Screenshot 2020-12-03 130919](https://user-images.githubusercontent.com/70819949/101078093-4cba9080-356b-11eb-9edf-36a98cdc514d.png)
](url)

[2020-12-03 19:32] #873 closed

[2020-12-03 19:33] Brindyn commented on #873
you have to add a composer.json file to your repo with this in it:

{
    "name": "devops/ms",
    "require": {
        "php": "7.3.0"
    }
}

[2020-12-03 19:38] meidlinga opened #874 "Pecl can't find php when called in PRE_BUILD script"
### Bug Report

- At what date and time did you most recently experience the problem?

Various times at different times since 26. Nov 2020

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Azure Web Apps

- If your repo is publicly available please share its URL:

- What happened?

When trying to use pecl in a prebuild or post

[2020-12-03 19:41] meidlinga commented on #874
As additional note: I could work around this by setting environment cariables for pecl like this:
[code]
phpize still fails, probably because of the same root cause.

[2020-12-03 20:37] meidlinga opened #875 "redis package for php"
### Feature Request

I would like to use Redis with PHP in Azure Web Apps.
Could you add this to the packages installed using pecl?

[2020-12-03 21:29] qianz2 commented on #874
Hi @meidlinga , Looks like you have two paths of Php 7.4.9. _/opt/php_ is the path where we store all php platform versions on disk inside the image, and _/tmp/oryx/platforms/php_ is the path used when it did't find the version in the image and dynamically install it. In your case I assume the php 7.4.9 inside the image was removed and it's still pointing to the old path.

[2020-12-03 21:34] qianz2 commented on #874
Can you try `printenv` command inside the image and see which path it's using? If it's `php=/opt/php/7.4/bin/php`, you can try something like updating it to `php=/tmp/oryx/platforms/7.4/bin/php`

[2020-12-03 22:25] meidlinga commented on #874
Hello @qianz2 ,
Thanks for the fast response. I have not knowingly removed it. I have switched running instances using the Web App configuration in the Azure web portal. But since then, I also completely removed and recreated the whole environment several times using terraform and manually in the web portal. So I assume I do not have any side effects of previous installations.

The image seems to

[2020-12-06 18:24] Woile opened #878 "Configuration file"
### Feature Request

Hello, I've been reading Azures docs + the issues in this repo, and I was not able to find anything like a configuration file.
A configuration file would make my life way simpler as a developer. At the moment I'm build a python app with [starlette](https://www.starlette.io/) and there's no straightforward or clear way to do it.
I've only found the [python configurations](https

[2020-12-07 16:16] mschleifer opened #879 "_framework/blazor.webassembly.js missing on deployment for Blazor Static Web App"
### Bug Report

- At what date and time did you most recently experience the problem?
Dec 5, 2020

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Static Web App

- If your repo is publicly available please share its URL:
https://github.com/mschleifer/FantasyLeagueReport

- What happened?
Using the generated yml file for

[2020-12-08 10:46] michaelteo opened #880 "App Path set to /tmp/xxxxx folder in newer Oryx Version"
### Bug Report

- At what date and time did you most recently experience the problem?
Dec 7

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Web Apps

- If your repo is publicly available please share its URL:

- What happened?
Our application is having an issue with the paths with the new Oryx version starting from :
**

[2020-12-09 11:40] mysticfakir commented on #879
I have the same/similar problem.

[2020-12-11 05:34] jkeech opened #882 "Oryx build stuck on "Detecting platforms" when repo has recursive symlinks"
### Bug Report
- At what date and time did you most recently experience the problem? December 10, 2020
- Where did you experience the problem? GitHub Codespaces
- If your repo is publicly available please share its URL: https://github.com/rancher/k3os
- What happened? Create a codespace for a repo with recursive symlinks that link back to a parent directory. The platform detection ended up followi

[2020-12-13 20:59] pkmelee337 opened #885 "Github azure action with Lerna: lerna: command not found"
### Bug Report

**At what date and time did you most recently experience the problem?**
13-12-2020 20:40UTC

**- Where did you experience the problem?**
Github actions on the action Azure/static-web-apps-deploy@v0.0.1-preview

**What happened?**
I'm trying to build my lerna repository, with an react-scripts web project and an api, but I can't get it to work. I looked for examples, but the only exa

[2020-12-14 16:55] qianz2 commented on #854
#881 #877 we recently updated documents, so closed it as it's resolved. Thanks for reporting!

[2020-12-14 16:55] #854 closed

[2020-12-14 17:00] qianz2 commented on #878
Hi @Woile , please take a look at` doc/configuration.md` or` doc/runtimes/python.md` files, you may find how the build process works for python apps and the configuration information you needed. Thank you!

[2020-12-14 17:00] #878 closed

[2020-12-14 18:36] Woile commented on #878
Hey @qianz2 I've read them and they do not seem to achieve the objective. It's hard to have a reproducible project with env variables. It would be much easier if a configuration file is present in the repository + github hook => life super easy. This would also be in-line with many other tools developers know, like vercel or netlify.

Anyway, I understand if there are no plans to implement somethi

[2020-12-14 21:33] qianz2 commented on #885
Hi @pkmelee337, I believe that either the build image was not updated or lerna tool was not included in the build image of Azure/static-web-apps-deploy, I'll investigate into it, thanks for reporting.

[2020-12-14 21:38] pkmelee337 commented on #885
Thank you! Is there a temporary workaround available you think? No problem if not, then I'll just wait. :-)

[2020-12-14 21:56] qianz2 commented on #885
Hi @pkmelee337, you can try using PRE_BUILD_COMMAND="npm install -g lerna" to install lerna tool before building the app. If it's not working, you'll probably need to wait the fix.

[2020-12-14 23:21] qianz2 commented on #822
Close it as it was resolved.

[2020-12-14 23:21] #822 closed

[2020-12-15 09:03] abhilashmk commented on #880
This change came with newer version of Platform on App Service : https://github.com/Azure-App-Service/KuduLite/wiki/Python-Build-Changes.

Post this change all files in Project Root have to be relative or use $APP_PATH env to get the exact path.

[2020-12-15 13:49] AbdolrezaMadi opened #891 "Deploying Azure function oryx build detected new version of node and getting permission denied on mkdir"
### Bug Report

- At what date and time did you most recently experience the problem? Dec 15 2020

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Functions

- If your repo is publicly available please share its URL: Not available

- What happened?
Trying to build the functions with this command: func azure functionapp p

[2020-12-15 14:26] pkmelee337 commented on #885
Thanks, didn't get it to work, so I'll wait for the fix. 👍

[2020-12-15 14:38] JaredMRomano opened #893 "Build is not including Microsoft.EntityFrameworkCore Version=5.0.1.0"
### Bug Report

I just updated all my nuget packages of my project to 5.0.1. When using local git to deploy to a linux web server set to .NET 5,  I pushed successfully to my site and it reports "Deployment successful " in the output window.  However when the service goes to start I get the following message.

Unhandled exception. System.IO.FileLoadException: Could not load file or assembly 'Micros

[2020-12-16 07:29] michaelteo commented on #880
Looks like there is no option for this. We had to change our code a bit to make sure we reference the right paths to make it work. So will close the issue for now

[2020-12-16 11:01] getmarked commented on #880
I would like to offer a datapoint that this change broke my app.

It is same reason as @michaelteo where i used mount storage that points to `wwwroot` and i expected that django app to run from `wwwroot`.

[2020-12-16 15:52] thomassajot commented on #643
Hi @mmcux, I am having the same issue. Did you find a work around ?

[2020-12-18 22:55] qianz2 commented on #885
Hi @pkmelee337 , please try this workaround instead, it worked for us, the key point is that oryx already dynamically installed node 14.15.1 but the path was not updated so we need to update it from pre build command as well:

export PRE_BUILD_COMMAND="PATH=\"/tmp/oryx/platforms/nodejs/14.15.1/bin:$PATH\" && npm install -g lerna"

[2020-12-19 18:26] geciciserkan commented on #880
Hi. this problem is still available and our production has been effected from this issue. Why does this issue seems as closed ?

[2020-12-20 01:34] michaelteo commented on #880
I closed the issue because our team did a workaround for the issue to just fix our code.

Looks like the Azure team is trying to fix this in https://github.com/Azure-App-Service/ImageBuilder/issues/87

I'll reopen for now for benefit of others. I will close once the other thread resolves it.

[2020-12-21 00:32] pkmelee337 commented on #885
Hi @qianz2! Thanks for your help. The app build is succeeding now, but the api build is still failing. From the logs I can see the API build is done with npm (`npm install --unsafe-perm --production`). I'm using a local library repository (with lerna/yarn submodules) so it needs a yarn install because npm is not able to find this library. This is how my build action is looking right now:

[code]

[2020-12-21 10:37] meidlinga commented on #874
Until around 20. Dec 2020, only php 7.4 was affected by this bug.
Currently, also php7.3 is affected
[code]

[2020-12-22 18:13] ericis opened #895 "Node and Yarn 2 errors"
### Bug Report

- At what date and time did you most recently experience the problem?

2020-12-22T15:22:17.052272Z

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Azure Web Apps

- If your repo is publicly available please share its URL:

https://github.com/ourchitecture/panda/tree/main/src/tutorials/node/azure

- What happe

[2020-12-22 21:19] ericis commented on #895
Yes, this line is hard-coded to Yarn 1 syntax:
https://github.com/microsoft/Oryx/blob/66a1aee00346b8834546f3cdf432a5b200c47416/images/build/yarn-cache/cacheNodePackages.sh#L16

Yarn 2 was released in early 2020. It would be good to support both versions.

I wonder if it would be better to use the environment variable `YARN_CACHE_FOLDER` rather than calling the CLI?

[2020-12-23 09:17] divinedeveloper commented on #880
@michaelteo We too are facing this and I think we should keep the issue open here too.  Somehow it works for us by using azure devops for deployment but doesn't work when we use the deployment center from portal.

[2020-12-23 14:18] michaelteo commented on #880
The issue is specific to Oryx Build which is the default build deploy system for Kudu Lite deployment for Azure app service.
I believe Azure Devops is a different build system so it makes sense that it works there.

[2020-12-23 15:51] ericis commented on #895
I have now validated that this error occurs when the application settings include `SCM_DO_BUILD_DURING_DEPLOYMENT="1"`, but can be avoided by using a Zip deployment instead, since it skips the Oryx build steps by setting `WEBSITE_RUN_FROM_PACKAGE="1"` and `SCM_DO_BUILD_DURING_DEPLOYMENT="0"`.

Engineers can follow this tutorial for the basic steps using the CLI:
https://docs.microsoft.com/en-us/az

[2020-12-23 17:59] ericis commented on #895
Yes, I was able to get a work-around working with yarn 2 that skips the Oryx build:

https://github.com/ourchitecture/panda/blob/0012c9641fa0a4641bd2f69eefc3b4c68b83bb39/src/scripts/azure/webapps/install.sh#L47-L51

- [Project code](https://github.com/ourchitecture/panda/tree/main/src/tutorials/node/azure/app#readme)
- [Continuous deployment workflow](https://github.com/ourchitecture/panda/blob/00

[2020-12-23 22:46] qianz2 commented on #885
Hi @pkmelee337, could you make sure your `lerna.json` file has   `"npmClient": "yarn",` in it because Oryx will detect this line and to decide if it will run npm package install command or yarn package install command.

[2020-12-23 22:48] qianz2 commented on #885
Also make sure you have a` yarn.lock` file in the repo as well

[2020-12-24 13:02] divinedeveloper commented on #880
@michaelteo today we tried deployment using azure-cli and azure devops and we faced the same /tmp/xxxxxxx directory issue. I have commented on the other issue used by Azure team.

[2020-12-25 10:43] pkmelee337 commented on #885
Yes, my lerna.json has this line and I also have a yarn.lock file in the repo. The application build is using yarn, so I don;t think this is the problem. The api build however is done in another folder. (which doesn't make sense, because it is already build with lerna on the application build) When I add an empty yarn.lock file to the api folder it is using yarn to build, but still fails on the li

[2020-12-26 21:07] geciciserkan commented on #880
Is there any quick alternative solution for this problem ? Our app is down for 1 week ?

[2020-12-27 02:05] delzac commented on #880
@geciciserkan hard code the path to whatever thing that needs it.

[2020-12-27 10:20] geciciserkan commented on #880
@delzac
Template is already available at following directory but I am still getting this error ? (/tmp/8d8a9e074b17d1a/App/templates/App/Home/index.html)

Template-loader postmortem
Django tried loading these templates, in this order:

Using engine django:

django.template.loaders.filesystem.Loader: /tmp/8d8a9e074b17d1a/App/templates/App/Home/index.html (Source does not exist)
django.template.load

[2020-12-27 10:30] delzac commented on #880
@geciciserkan I don't think i understand enough of your problem to help you.

The issue i faced was from azure blob mount storage. Within django, the pathing should be with reference to `BASE_DIR` so it should still work.

[2020-12-27 10:41] geciciserkan commented on #880
@delzac my exception is different.  I am getting TemplateDoesNotExist error as follows but template is available in directory annd the application is working well locally

Request Method: | GET
-- | --
http://edufinance.loan/
2.2.7
TemplateDoesNotExist
App/Home/index.html
/tmp/8d8a9e074b17d1a/antenv/lib/python3.7/site-packages/django/template/loader.py in get_template, line 19
/opt/python/3.7.9/bi

[2020-12-27 10:45] delzac commented on #880
Did you use Azure portal and see whether the templates are really there?

![image](https://user-images.githubusercontent.com/19370780/103169063-a9ac1c80-4873-11eb-9100-1588871a8a5a.png)

Use advance tools >> go and then check if the templates are really there in the directory.

[2020-12-27 10:58] geciciserkan commented on #880
@delzac  yes template is available as follows

antenv) root@f2b1b54166b8:/tmp/8d8aa43d29cac58/App/templates/App/home# ls
admin_dashboard.html  dashboard.html  index.html

[2020-12-27 11:12] delzac commented on #880
@geciciserkan

The errors says

[code]

But your path is `tmp/8d8aa43d29cac58/App/templates/App/home`

Django is looking for file at `tmp/8d8a9e074b17d1a/` but your files are at `tmp/8d8aa43d29cac58/`

[2020-12-27 11:40] geciciserkan commented on #880
@delzac

directory name under tmp folder is changing after every build. Sorry I shared logs from different builds. But problem is still available

[2020-12-27 11:43] delzac commented on #880
Have you use Azure portal >> Advanced tools >> Go >> SSH and visually check with your eyes that the files are there?

[2020-12-27 11:48] geciciserkan commented on #880
Yes I did it

[2020-12-27 11:56] delzac commented on #880
In the debug log i saw
[code]

You are not suppose to hard code`'DIRS': ['/tmp/8d8aa5a5bd0edcd/templates'],` it should reference `BASE_DIR`.

You have no idea what is the random directory oryx is going to put your files in. Always take reference from `BASE_DIR`.

In your case `os.join(BASE_DIR, 'templates')` will probably work.

[2020-12-27 12:02] geciciserkan commented on #880
@delzac it is runime debug log, my setting file is as follows

# Template configuration
# https://docs.djangoproject.com/en/2.1/topics/templates/
TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [os.path.join(BASE_DIR, 'templates')],
        'APP_DIRS': True,
        'OPTIONS': {
            'context_processors': [
                'django.te

[2020-12-31 08:23] robbie-li commented on #826
I got same issue, when I want to deploy my app static html/js/css under dist folder.
I think I don't need to run oryx build during my deployment, but I have no idea how to disable this step.

[2021-01-03 23:19] AbdolrezaMadi commented on #891
Dear support team,

I'm still facing this issue. Would you please take a look?

Thanks

[2021-01-06 00:02] arroyc commented on #895
Thanks for reporting, we will be working on supporting yarn 2 soon. Please let us know if you see other problems.

[2021-01-06 00:02] #895 closed

[2021-01-06 00:04] arroyc commented on #864
hi @gust42  ... we dont have support for yarn 2 yet, so  you can set WEBSITE_RUN_FROM_PACKAGE="1" and SCM_DO_BUILD_DURING_DEPLOYMENT="0" to avoid Oryx build and get your app in working state.

you can follow this tutorial for the basic steps using the CLI:
https://docs.microsoft.com/en-us/azure/app-service/deploy-run-package

[2021-01-06 00:04] #864 closed

[2021-01-07 14:24] qianz2 commented on #891
Hi @AbdolrezaMadi, it looks that Azure function have restricted us to create a new directory under `/opt` folder. What we can try is to download sdks into a different folder which doesn't have such restriction, use this command to set up:  `export DYNAMIC_INSTALL_ROOT_DIR=\"/tmp/platforms/oryx\"`

[2021-01-07 15:38] AbdolrezaMadi commented on #891
Hi @qianz2
Thanks for the tip. I'm assuming that I should run this command in the function app using SSH. So, I did so and tried to deploy my function app again afterward. I'm getting the same error:

[code]
Did I understand you right?
Any other advise?

Thanks

[2021-01-07 18:39] AbdolrezaMadi commented on #891
Hi again,
I changed the ENABLE_ORYX_BUILD value to false and deployed the function apps. The built was successful. However, the functions are still the old ones.
When I SSH to the backend (root), I see the old files in "home/site/wwwroot" directory while when I use Bash I have the new files in the same directory!
Is this normal?

[2021-01-07 21:29] qianz2 commented on #891
Hi @AbdolrezaMadi,

I don't know for sure what's the reason for it. You can try removing the current one and re-deploy a new one. If it's still the same, I suggest you to file an issue on [Azure function repo](https://github.com/Azure/Azure-Functions/issues) regarding related function apps questions.

[2021-01-08 12:11] AbdolrezaMadi commented on #891
Hi @qianwens,

Ok, I'll take that up with the function app team. Any other suggestion for fixing the initial issue?

[2021-01-08 14:38] qianz2 commented on #891
According to your logs, the dynamic installation root directory was still pointing to `/opt`. Looks that your command didn't take effect. You can try to print out the environment variables in your container and see if `DYNAMIC_INSTALL_ROOT_DIR` is actually there.

[2021-01-08 15:35] AbdolrezaMadi commented on #891
It's not there. I'm not able to add it in any way from Bash interface. Any suggestion?

[2021-01-08 16:58] AbdolrezaMadi commented on #891
Hi again @qianz2
So, in the build.env file, which is located right in the function app folder, we have this: DYNAMIC_INSTALL_ROOT_DIR="/opt". Changing it to the directory that you suggested, fixed the issue. This case can be closed.
Thanks for your support.

[2021-01-08 17:46] qianz2 commented on #891
Thanks for the update, glad it helped. Closing this issue.

[2021-01-08 17:46] #891 closed

[2021-01-09 02:20] arroyc commented on #893
Thanks for reporting this issue ... I'm sorry for your trouble .. would you be able to provide a sample app so that we can try to repro this and a possible fix may be?

[2021-01-09 02:22] arroyc commented on #882
Thanks for reporting this issue. We will take a look into this and update you once a fix is available

[2021-01-12 17:20] JaredMRomano commented on #893
Unfortunately not any more.  What I ended up doing was creating a new deployment slot, deploying to the new slot and swapping. It seems to be the standard solution for me when the container fails to boot.  I have found, I usually have to do it if I have updated nuget packages.  I assume things are not getting purged correctly between deployments. Hopefully that helps.

[2021-01-12 17:29] arroyc commented on #893
thanks @JaredMRomano for reporting ... we will keep an  eye on this ... please feel free to report any other issues ... at this moment I'm closing this issue here

[2021-01-12 17:29] #893 closed

[2021-01-12 19:44] arroyc commented on #885
@pkmelee337  would you be able to share the latest log on what you are getting now .. sorry for your trouble ... we will try to repro and find a fix to this

[2021-01-12 19:46] arroyc commented on #879
@mysticfakir  @mschleifer  sorry for late response .. thanks for detailed report .. we will look into this and update you as soon as possible ...

[2021-01-12 19:52] arroyc commented on #874
@meidlinga sorry for late response, we will look into this and update you as soon as possible once the fix is available ... for the time being I guess the workaround would be use the path from tmp directory for pear?

[2021-01-12 19:55] arroyc commented on #865
I'm closing this issue assuming it was intermittent issue, please feel free to open a new one or activate this one if you still see the same problem

[2021-01-12 19:55] #865 closed

[2021-01-12 19:56] arroyc commented on #840
@KelvinTegelaar  this seems to be more like an feature request for Azure static web apps

[2021-01-12 19:58] #840 closed

[2021-01-12 19:59] arroyc commented on #855
@MCKLMT  .. please let us know if you still see this issue, should have been deployed by now

[2021-01-12 19:59] #855 closed

[2021-01-12 20:00] arroyc commented on #804
this fix is available .. so closing this issue .. feel free to open an issue for any problems

[2021-01-12 20:00] #804 closed

[2021-01-12 20:00] #91 closed

[2021-01-12 20:01] #545 closed

[2021-01-12 20:10] meidlinga commented on #874
Hi @arroyc ,

It works when setting the environment variables as stated in a previous comment. Additionally it is required to patch phpize, because it seems to contain the paths hardcoded.

[2021-01-12 22:49] arroyc commented on #818
@phdowling  are you still experiencing this?

[2021-01-12 22:50] #795 closed

[2021-01-13 08:42] phdowling commented on #818
I've migrated the affected app services to use docker instead, so I have no easy way of re-verifying, sorry.

[2021-01-13 20:25] arroyc commented on #818
sorry to hear that .. but happy that you have an workaround  .. please feel free if you find any thing again.

[2021-01-13 20:25] #818 closed

[2021-01-13 20:26] arroyc commented on #724
@wyrmling @esttenorio   still facing this issue?

[2021-01-13 20:29] arroyc commented on #857
@yangyx91 thank you .. as you already have a tracking issue on the azure function side, we are closing this issue here .. feel free to open a new one if you find problems

@qianz2

[2021-01-13 20:29] #857 closed

[2021-01-13 20:31] arroyc commented on #874
@meidlinga  .. thanks for confirming .. in that case I would think we can close this. if you have other thoughts, feel free to reopen this with your thoughts :) ... happy to help !

[2021-01-13 20:31] #874 closed

[2021-01-13 20:33] arroyc commented on #835
I have listed it in our workitems ... you will be notified once it's released. Closing this issue for now. Feel free to reopen this or open a new one.

[2021-01-13 20:33] #835 closed

[2021-01-15 14:13] pkmelee337 commented on #885
No problem! Just tried again and here are the logs. Building of my web folder works fine, but API is still failing. Currently it is using npm, but tried an empty .yarn file in my api folder, and with yarn install I get the same error message.

[code]

My build step is looking as followed:
[code]

[2021-01-15 14:48] empz opened #902 "Every deployment needs to download Python 3.8 again"
I've created a Linux Python Azure Function v3 (setting python version to 3.8).

Everytime I deploy to this function app, the build has to re-download Python 3.8.6

[code]

Can we have this aligned with the Function App python version? Or at least have all the versions supported by Azure Functions already available to use during deployment?

[2021-01-15 19:19] arroyc commented on #559
closing this ... please feel free to open a new one if you find any issues

[2021-01-15 19:19] #559 closed

[2021-01-15 19:21] #724 closed

[2021-01-15 19:21] arroyc commented on #724
please feel free to open a new one if you see this issue again

[2021-01-15 19:22] arroyc commented on #755
This has been deployed to appservice .. please feel free to open an issue if you get one ...

[2021-01-15 19:23] #826 closed

[2021-01-15 20:00] qianz2 commented on #902
Hi @empz, the build image it's using is jamstack, and we aim to keep the image minimal so we didn't include python 3.8.6 into the image. It'll dynamically install python 3.8.6 sdks while building the apps.
After the sdk was downloaded first time, it should not re-download again. For example, here is the logging info while I try to build the app second time.
I don't know if this is because you're u

[2021-01-15 20:08] qianz2 commented on #875
Thanks @meidlinga for the request, we included this feature request in our backlogs, will come up with release once deployed. Closing the issue here.

[2021-01-15 20:08] #875 closed

[2021-01-15 20:20] empz commented on #902
That is not what I get every time I deploy the function.

Is this Oryx Version supposed to not re-download again?
[code]

Anyway, I think the each build is done on a fresh image so there's no persistent storage here.

[2021-01-21 02:31] esttenorio opened #909 ""build/index.html": No such file or directory (2)"
I have an Azure Web App which is linked to a local Git Repo. Almost every time I push so it can update and publish the changes, it fails due to this error:

remote: ...............................................................................................................................................
remote: Done in 149 sec(s).
remote: Preparing output...
remote:
remote: Copying files to de

[2021-01-22 02:19] talktovishal opened #911 "Error during deploying python\flask web-app using Azure Devops pipeline"
Following is the detailed log. I have now tried to deploy using az webapp up + Azuredevops. I continue to get the same error 409.
I actually tried to sftp the site contents. Unfortunately, that doesn't work since it doesn't install the dependencies. Can you please recommend what should i do?

2021-01-22T02:13:05.0943031Z ##[section]Starting: Deploy Azure Web App : GenderBiasWeb
2021-01-22T02:13:05

[2021-01-22 16:42] maorleger opened #913 "Add support for RushJS"
### Feature Request

Our team uses [Rush](https://rushjs.io/) to manage our monorepo. It would be great to have Oryx support for it in Codespaces (I know it currently supports Lerna and Lage). Any plans to add support for Rush?

Thanks in advance!

[2021-01-28 01:08] esttenorio commented on #909
It happened again:

[code]

[2021-01-29 02:25] chaozy opened #917 "Azure Functions Deployment failed when executing oryx command"
Hi there, I am trying to deploy my python azure function to azure using Azure CLI. It failed without giving any error message. The last command is an `oryx` command. Is there any suggestion about how to debug this problem?

I have found a similiar issue [#559](https://github.com/microsoft/Oryx/issues/559) which has been closed.

**ENV**
python 3.8.6
VS Code
Mac OSX mojave

**requirements.txt**
[co

[2021-01-29 02:32] chaozy commented on #917
The `farm-haystack` is an open source python module. Its `requirement.txt` is listed here:
[code]

[2021-01-29 09:53] #917 closed

[2021-02-01 09:32] persyl opened #919 "How configure private NPM registry in Azure Devops?"
### Bug Report

I'm building a Azure Static web app and it works fine but I want to use my private registry for NPM packages and can not get it to work or find documentation about how to do it.

My private registry is at: https://pkgs.dev.azure.com/MY-ORG-NAME/_packaging/MY-NPM-FEED-NAME/npm/registry/

- What happened?
Error 404 Not Found - GET https://registry.npmjs.org/MY-NPM-PACKAGE - Not found

[2021-02-01 15:32] jeff-interapt opened #920 "Error Deploying Node.JS App using Azure Pipeloines"
### Bug Report

- At what date and time did you most recently experience the problem?
2/1/2020

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure WebApps, Azure DevOps

- If your repo is publicly available please share its URL:

- What happened?
Was trying to deploying to Node app to Azure WebApp. I have tried putting DISA

[2021-02-01 17:33] McClunatic opened #921 "POST_BUILD_COMMAND does not appear to run"
### Bug Report

I most recently experienced this problem today, with the version reported as:

`Oryx Version: 0.2.20201112.1, Commit: a120bb248aa8d208ca5e02d7d9d075196e79cffd, ReleaseTagName: 20201112.1`

For context, I encountered the problem trying to deploy a [simple web app](https://github.com/McClunatic/dochunt-fast-api) using Azure App services.

I'm trying to use a `POST_BUILD_COMMAND` to a

[2021-02-02 15:38] connyho opened #922 "Again virtual environment activation fails for python antenv3.6"
### Bug Report

- At what date and time did you most recently experience the problem?

I already reported the problem in this issue: https://github.com/microsoft/Oryx/issues/804
Some time after it was fixed, it seemed to work (environment was activated automatically when connecting via ssh).
With the beginning of this year I tried again, and it fails agian.

- Where did you experience the problem?

[2021-02-02 22:22] qianz2 commented on #919
Hello @persyl, for nodejs apps, we have a `NPM_REGISTRY_URL` setting key which allows you to specify custom NPM registry URL. Will be written to .npmrc during the build. Could you give it a try and see if it can resolve your issue?

[2021-02-02 22:26] #913 closed

[2021-02-03 06:56] persyl commented on #919
Well @qianz2 I have tried it and hopefully the correct way, as you can see in my posting here:

https://github.com/Azure/static-web-apps/issues/44#issuecomment-771666201

I put NPM_REGISTRY_URL (_and other variables_) under **env** as you can see.
Should I put them in another place?!

[2021-02-08 21:33] mfxuus commented on #909
Having similar issues with git deployments - please help!

[code]

[2021-02-10 21:55] esttenorio commented on #909
are there any updates on this? still happening for me 2/3 times. It really slows down the development process since it's no longer a commit and deploy process.

[2021-02-11 17:12] mfxuus commented on #909
The bigger issue for me is that it causes actual downtime to fix this..

[2021-02-12 09:14] qj0n commented on #920
I had the same issue today with Azure Function in Node with remote building (both deploying from Azure Pipelines as from local machine).

After removing the Azure Functions App and redeploying it with ARM, the build worked.

My logs before recreating the function app:
[code]
and after (trimmed):
[code]

[2021-02-12 10:12] pravindahal opened #929 "Detecting platforms... Error: Oops... An unexpected error has occurred."
### Bug Report

- At what date and time did you most recently experience the problem?
February 12, 2020 10:00 UTC

- Where did you experience the problem?
Locally while trying to deploy Azure Functions

- If your repo is publicly available please share its URL:
No, the repo is not public.

- What happened?
I am trying to deploy a python function app and the the function deployment failed with the

[2021-02-12 11:51] dsjijo commented on #929
Even for me the issue popped up , The APP is in north Europe only. :(

[2021-02-12 12:51] dsjijo commented on #929
Looks like fixed now...

[2021-02-15 09:27] pravindahal commented on #929
I can confirm that it works for me too. Closing this issue.

[2021-02-15 09:27] #929 closed

[2021-02-16 22:38] arroyc commented on #909
hey folks ... sorry for delayed response .. this rsync issue is something due to network share and we (oryx) do not control it .. with that bein said I will try to see if there are any  alternative routes of deployment that can ease the process for you !

[2021-02-18 17:07] br0cky opened #934 "rsync error 'No Such file' for startup.sh"
### Bug Report

2021-02-18T16:56:46.109Z - Updating branch '1f13a8c8350a12d810bc21d3a986057d4d6a2ecc'.
2021-02-18T16:56:47.655Z - Updating submodules.
2021-02-18T16:56:47.699Z - Preparing deployment for commit id '1f13a8c835'.
2021-02-18T16:56:47.834Z - Repository path is /home/site/repository
2021-02-18T16:56:47.877Z - Running oryx build...
2021-02-18T16:56:47.890Z - Command: oryx build /home/sit

[2021-02-18 17:14] qianz2 commented on #920
Hi @jeff-interapt , could you try to remove the current deploy on Azure WebApp and redeploy it?

[2021-02-18 21:12] br0cky commented on #934
Restarted app service and re-deployed and it fixed issue

[2021-02-18 21:12] #934 closed

[2021-02-19 15:28] anthonychu commented on #895
@arroyc Is there an issue tracking Yarn 2 that we can link to?

[2021-02-22 17:21] StefH opened #938 "When running StaticSitesClient inside an Azure Pipeline task, I get error "Oops... An unexpected error has occurred.""
### Bug Report

When running this task in an Azure pipeline (Linux Ubuntu 18.04):
[code]

I get this logging:
[code]

The error occurs at:
[code]

What could be the cause ? And how to add more debug logging when running the StaticSitesClient?

[2021-02-23 10:59] psanoy opened #939 "Oryx Detecting C# dotnet app as PHP"
### Bug Report

- At what date and time did you most recently experience the problem?
Feb 22-Feb23 (ongoing)

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Pipeline Release Deployment

- If your repo is publicly available please share its URL:
N/A private repo

- What happened?
Last deployment done was around a year be

[2021-02-23 16:22] qianz2 commented on #895
Here is a temporary workaround that works for the above issue: use CUSTOM_BUILD_COMMAND flag, which can skip running package install command and run the custom build command provided, in this case `yarn add --cached`.

[2021-02-23 16:32] qianz2 commented on #939
Hi @psanoy, there has some PHP files in your subdirectories that cause the issue, to disable PHP platform detection and builds, use DISABLE_PHP_BUILD flag as env. Could you try this out?

[2021-02-24 15:02] daddycocoaman opened #941 "Adding pyproject.toml to Python"
### Feature Request

Hi. With the popular adoption of pyproject.toml configurations for managing Python build environments (https://www.python.org/dev/peps/pep-0517/), would it be possible to use it as a indicator of a Python project for Oryx. Since it is recognized by `pip`, it would just needed to be added to the detection logic using the same command line as `requirements.txt`.

[2021-02-25 04:26] arroyc commented on #938
We are looking into this ... this is due to ca-cert issue in debian ...  installing ca-cert from bullseye broke us .. we are aware of this issue and will be releasing a patch soon. sorry for your trouble.

[2021-02-25 07:01] StefH commented on #938
Dear @arroyc , I've another question. Is the source-code from the `StaticSitesClient` public? And where to find this?

[2021-02-25 20:57] arroyc commented on #938
@StefH  .. thank you for your response .. as far as I know we have patched it and your app should run now.. please check and let us know if you see this issue ... also I believe you are looking for this https://github.com/Azure/static-web-apps, if not you can create an issue there and they will be able to route you the right person

[2021-02-25 20:58] arroyc commented on #938
I'm closing this issue .. feel free to open a new one if you see any issues

[2021-02-25 20:58] #938 closed

[2021-02-25 21:01] arroyc commented on #941
Thank you for using oryx and asking for this feature ... we would like to add it surely, at the same time it would be great if you can add some user cases for this feature so that we can plan this feature accordingly.

[2021-02-25 21:41] StefH opened #945 "When running StaticSitesClient inside an Azure Pipeline task, I get error "Oops... An unexpected error has occurred." - part 2"
Followup from https://github.com/microsoft/Oryx/issues/938

Using the latest docker image : `mcr.microsoft.com/appsvc/staticappsclient`

When running the **StaticSitesClient** as a CmdLine@2 or as Bash@3
[code]

I still get errors like:
[code]

Full log can be found here:
https://dev.azure.com/stef/71c3694d-5a43-4010-b00f-865c726f6322/_apis/build/builds/4731/logs/7

And my work-in-progress yaml pi

[2021-02-25 22:28] qianz2 commented on #895
@anthonychu, above is the link to the PR that we're working on regarding the yarn 2 issue.

[2021-02-25 22:45] qianz2 commented on #945
Hi @StefH , Could you try using mcr.microsoft.com/appsvc/staticappsclient:stable docker image instead of the latest one.

[2021-02-25 23:45] qianz2 commented on #921
Hi @McClunatic , we do support this flag POST_BUILD_COMMAND , looks that it wasn't set up well, you can try create a `build.env` file and put in env there, like this:

`POST_BUILD_COMMAND="echo foo"`

Or just try ` export POST_BUILD_COMMAND="echo foo" `in the container.

[2021-02-26 06:55] StefH commented on #945
Dear @qianz2,
There is no difference when using the stable or latest.

See log:
2021-02-26T06:54:00.5520199Z ##[section]Starting: Bash
2021-02-26T06:54:00.5526251Z ==============================================================================
2021-02-26T06:54:00.5526551Z Task         : Bash
2021-02-26T06:54:00.5526820Z Description  : Run a Bash script on macOS, Linux, or Windows
2021-02-26T06:54:0

[2021-02-26 07:21] arroyc commented on #945
@StefH  .. I saw you re-opned this issue. are you still having trouble?

[2021-02-26 07:38] StefH commented on #945
Hi @arroyc,

Correct, I still have issues running the mcr.microsoft.com/appsvc/staticappsclient image.

I tried `stable` and `latest`, and both still give the same error, see the logs posted in this issue.

[2021-02-26 21:17] arroyc commented on #945
@anthonychu ... as discussed can you please help @StefH on this?

[2021-02-26 21:22] anthonychu commented on #945
We'll have the Static Web Apps Azure DevOps task available in the next few weeks. We don't recommend running the container outside of our officially supported tools (currently the Static Web Apps GitHub Action and soon the Pipelines task). Please follow this issue for updates: https://github.com/Azure/static-web-apps/issues/5

[2021-02-26 21:46] StefH commented on #945
Hello @anthonychu
Thank you for the update on this. Apparently I'm a bit early and just need to be patient and wait on the real DevOps version which will hopefully be available in a short time.

[2021-02-27 07:09] arroyc commented on #945
@anthonychu  thanks for the update ..
@StefH  ... hope this answers/solves your issue. If so feel free to close it

[2021-02-27 08:25] #945 closed

[2021-02-27 17:15] qj0n commented on #920
At the time, I wrote last comment, you couldn't re-deploy existing function (it had to be removed always before). Currently, it works, so from my point of view the issue can be closed

[2021-03-03 04:34] arroyc commented on #755
@cod2017  can you please share the repo structure here and some more info about your repo? Where are you trying to deploy this? Azure web app or somewhere else?

[2021-03-03 04:36] arroyc commented on #882
@jkeech .. just trying to understand is this a valid use case? we can talk about it offline in teams chat if that's what you prefer .. as we know each other now :)

[2021-03-03 09:52] cod2017 commented on #755
![20210303_151928](https://user-images.githubusercontent.com/26476946/109787143-ef021700-7c33-11eb-9f43-664ca904ccff.jpg)
This is a nodejs app which is deployed to Azure app service. It was working fine few days back but suddenly throwing this error.

[2021-03-03 17:16] arroyc commented on #939
@psanoy  ..  please feel free to create an issue if you are still having one ...

[2021-03-03 17:16] #939 closed

[2021-03-03 17:16] arroyc commented on #920
@qj0n  thank you for confirming .. feel free to create a new one when you find

[2021-03-03 17:16] #920 closed

[2021-03-03 17:18] arroyc commented on #911
@talktovishal  are you still having this issue? can you retry and share the requirement .txt with us?

[2021-03-03 18:09] arroyc commented on #909
just heard from app service folks and they are recommending using slots for fresh deployment and change slots once deployment is successful. Another solution would be run from package, official docs talks about azure functions but it will be same for azure web apps too

https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package
https://github.com/Azure/app-service

[2021-03-03 18:09] #909 closed

[2021-03-03 18:12] arroyc commented on #879
@mysticfakir @mschleifer  is this still an issue? we have updated image released ... can you give it another try .. feel free to open new issue

[2021-03-03 18:12] #879 closed

[2021-03-03 18:13] arroyc commented on #872
this rsync issue is not controlled by oryx directly. Can you please retry? this occurs due to cisf share over network

[2021-03-03 18:13] #872 closed

[2021-03-03 18:17] arroyc commented on #880
you should not have to do any sort of path hack i believe, you need to use $APP_PATH as suggested by the app service team .. this is a breaking change  and i agree there should have been better and more documentation on this. But using APP_PATH should solve your issue, if not please feel free to create a new issue or reopen this one

[2021-03-03 18:17] #880 closed

[2021-03-04 10:10] #593 closed

[2021-03-04 10:11] #623 closed

[2021-03-04 10:13] #824 closed

[2021-03-04 16:06] arroyc commented on #755
@cod2017 can you please also attach the build log the failures?

[2021-03-04 16:26] arroyc commented on #902
@empz ... you are  right about each build run on new instance, so it's not persistent. Also the image doesnt have 3.8 by default ... so everytime you trigger a new build in a new instance it needs to get downloaded and installed. Hope this helps ... I'm closing the issue for now. Please feel free to create a new issue if you are having troubles

[2021-03-04 16:26] #902 closed

[2021-03-04 16:30] arroyc commented on #922
@connyho .. trying to undertand the issue here .. why are you trying to activate it manually ? can you share the logs?

[2021-03-05 08:27] connyho commented on #922
I tried to activate it manually, because it is not activated automatically after connection via SSH from Azure portal.
As mentioned above, there is an error displayed in the bash right after the connection is established:
[code]
Is it ok that this kind of error is shown regarding the activation script?

I'm not re-deplyoing, just connecting via ssh. What kind of log would help you to investigate t

[2021-03-08 15:05] cod2017 commented on #755
@arroyc it is the same error mentioned above by @connyho

[2021-03-09 06:13] chtunsw opened #955 "Failed to install torch 1.8.0 on azure function with python 3.6.12"
### Bug Report

- At what date and time did you most recently experience the problem?
5:06 pm
Tuesday, 9 March 2021 (AEDT)
Time in North Sydney NSW

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Deploy Azure Functions (version ~3)
azure-cli                         2.19.1 *
core                              2.19.1 *
telemetry

[2021-03-09 17:30] qianz2 commented on #955
Hello,

torch is a tool that not included in the build image. Could you try setting up torch install command in `PRE_BUILD_COMMAND`, which allows to install before the build starts. Thanks.

[2021-03-09 17:35] qianz2 commented on #919
Hello @persyl , Could you share what's the logs after you run this workflow? I want to know if the .npmrc file is being read or not. We'll add this issue to our backlogs.

[2021-03-10 00:25] chtunsw commented on #955
We were using tensenflow 2.2.0 instead of torch in the same azure function and it was working fine. But it failed since yesterday when we tried to deploy it. It looks like it is having the same issue.

[00:14:29+0000] Collecting sendgrid==6.3.1
[00:14:29+0000]   Using cached sendgrid-6.3.1-py3-none-any.whl (71 kB)
[00:14:29+0000] Collecting six==1.15.0
[00:14:29+0000]   Using cached six-1.15.0-py2

[2021-03-10 06:52] daddycocoaman commented on #941
Sorry...I thought I responded to this already and I meant to post this under my MSFT work account. 😅

At any rate, the use case lies in the increased usage of pyproject.toml over requirements.txt for dependency manage. Popular managers like Poetry use pyproject, and  `pip` has ensured it supports the format over the last year or so.

It's really no different than the requirements.txt use cases, bu

[2021-03-10 17:41] qianz2 commented on #955
Hi @chtunsw , I tried to install torch or tensorflow locally in the image, it seems to be working fine, I think it may be the instances you're using have connection issues or memory limit issue. Could you try redeploy it? Thanks

[2021-03-12 05:38] chtunsw commented on #955
Hi  @qianz2 , thanks for your help!

We solved this problem by update torch version in the requirements.txt with:

[code]

as suggested https://docs.microsoft.com/en-us/azure/azure-functions/machine-learning-pytorch?tabs=bash

[2021-03-12 05:40] #955 closed

[2021-03-17 13:11] dennisameling opened #959 "Angular (Node) build fails - ngcc: not found"
Cross-ref to issue in `Azure/static-web-apps`: https://github.com/Azure/static-web-apps/issues/231

### Bug Report

- At what date and time did you most recently experience the problem?

March 17 2021, 13:30 CEST

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Azure Static Web Apps (GitHub Actions: [Azure/static-web-apps-dep

[2021-03-18 11:23] khelkun opened #960 "Avoid node_modules install from scractch on each deploy"
### Feature Request
I use [vscode-azureappservice](https://github.com/microsoft/vscode-azureappservice) to deploy my Node web app as An App Service on Linux (Code hosting).

This [is a zip package deploy](https://github.com/microsoft/vscode-azureappservice/wiki/Configuring-Zip-Deployment), and it always run `npm install` from scratch on each deploy. Considering the dependencies of the project, thi

[2021-03-18 14:58] khelkun commented on #960
I found out this:
`CUSTOM_BUILD_COMMAND` default value is `npm ci` which cleans the `node_modules` folder before `npm install`.

My way to gain time on the zip deployment so far with app service application settings:
1. `CUSTOM_BUILD_COMMAND="npm install --production"`, then I speed up my deployment (less dependencies to install).
2. `RUN_BUILD_COMMAND=""` and do the  `npm run build` on my local m

[2021-03-18 18:17] jkeech commented on #882
I do think this is a valid use case, but it's only come up one time so far, so it's not a common use case.

[2021-03-18 20:39] nikhilnaregal opened #961 "error: error in sideband demultiplexer"
When I am trying to push my Django App from local to remote, pip install of various libraries takes place and when it comes to tensorflow( which is 397mb in size), I get this error

send-pack: unexpected disconnect while reading sideband packet
error: error in sideband demultiplexer

[code]

[2021-03-19 18:57] srigi opened #963 "Build fails for Node.js app with @sentry/cli"
### Bug Report

March 19th 2021

Deploying source to app-service via git deployment

If my node.js app list `@sentry/cli` NPM dependency, build fails (see log)

Just try to deploy [next.js/examples/with-sentry](https://github.com/vercel/next.js/tree/canary/examples/with-sentry) into app-service

[code]

[2021-03-19 19:09] srigi commented on #963
More info on the bug - It appears only if I provide `yarn.lock` generated on my machine (macOS Catalina). If I deploy an app without a *lock* file, it deploys just fine.

However, it is not the best practice to remove the *lock* file from my Node.js project. This is clearly issue with native modules

[2021-03-19 22:27] arroyc commented on #961
@nikhilnaregal  sorry for your trouble .. but this looks like an issue to be created at https://github.com/Azure-App-Service/ImageBuilder

[2021-03-19 22:41] arroyc commented on #963
this looks like an issue with yarn's cross platform scenario. I'm guessing this may have to do something with optional dependencies. Can you try to create the yarn.lock locally (in your mac) with `yarn install --ignore-optional` and check if the generated lock file still cause problem during deployment? @srigi

[2021-03-20 07:43] srigi commented on #963
@arroyc I've done some tests:

- `yarn` is not working at all (`--ignore-optional` didn't help)
- deploying without any *lock* file works
- deploying with NPM generated `package-lock.json` works as well!

In the example project I linked, there is a `@sentry/webpack-plugin` dependency which requires `@sentry/cli`. Sentry CLI looks like a native module - on Github repo you can see that majority of t

[2021-03-20 19:24] #941 closed

[2021-03-20 19:25] arroyc commented on #963
Thanks @srigi for confirming ... closing this issue here

[2021-03-20 19:25] #963 closed

[2021-03-20 19:25] #961 closed

[2021-03-20 19:26] #911 closed

[2021-03-20 19:27] arroyc commented on #755
@cod2017 .. are you in some special app service environment (ASE) or have special network/dns settings?

[2021-03-20 19:32] arroyc commented on #922
you should not have to activate it manually .. it will be activated automatically .. would you be able to provide your app-id ..I can try to lookinto the deployment and other logs by collaborating with our partner team? Sounds like your deployment/build is succesful but the run is failing ...

note: I would also try and see if a fresh deployment into a new webapp/new slot can solve this issue for

[2021-03-24 13:02] connyho commented on #922
Unfortunately it is not activated automatically. Where can I find the "app-id"? Do you mean "Abonnement-ID"?
We have three linux wep apps running with python 3.6, laetest fresh deployment yesterday (local git), the problem persists on all web app instances. The web apps itself are up and running, that's not the problem. Just the connection via SSH does not result in an activated environment and th

[2021-03-24 16:54] arroyc commented on #922
@connyho  would you be able to provide a sample app using which we can repro this issue? We can troubleshoot it and get back to you at our earliest.

[2021-03-25 13:51] connyho commented on #922
Unfortunately I'm not allowed to provide the sources of our deployed app.
But what about trying if you could reproduce the issue with the samlpe Django/postgres app on GitHub?
https://github.com/Azure-Samples/djangoapp
We deploy a Django/Postgres app to a Linux web app service for python 3.6 (no docker).

[2021-03-25 14:49] shahedurrahman commented on #755
Having similar issues :( Trying to deploy on Linux App Service. Project does contain project.json file.

Here is the log:

2021-03-25T13:44:11.8511094Z Updating submodules.
2021-03-25T13:44:11.8512722Z Preparing deployment for commit id '0c0732dc-f'.
2021-03-25T13:44:11.8513380Z Repository path is /tmp/zipdeploy/extracted
2021-03-25T13:44:11.8513904Z Running oryx build...
2021-03-25T13:44:12.21064

[2021-03-25 15:24] CuriousUser513 commented on #755
I have a similar problem and we have a special network configuration that prevents traffic going out from our private network.
It's a python project and we have all our dependencies in the deployed package, but seems oryx still tries to reach out to some external site and fails with "Error: Oops... An unexpected error has occurred." We have Hugo build disabled.
Can this be related to the problems

[2021-03-26 16:15] qianz2 commented on #959
Hi @dennisameling, the `CUSTOM_BUILD_COMMAND` env is provided by Oryx for resolving cases like this, when we want to build using custom commands instead of original command `npm install --unsafe-perm --production`. Is this working for you?

[2021-03-26 16:20] qianz2 commented on #960
Hello @khelkun , the `CUSTOM_BUILD_COMMAND` has empty default value, you'll need to set it up. It can be used to avoid original command ` npm install --production` to resolve cases like this. You can included this in the workflow. Could you try it out?

`env:
  CUSTOM_BUILD_COMMAND: 'npm ci && npm run build' `

[2021-03-26 18:11] khelkun commented on #960
Hello @qianz2
That's right `CUSTOM_BUILD_COMMAND` has empty default value, but in the azure [zip package deploy](https://github.com/microsoft/vscode-azureappservice/wiki/Configuring-Zip-Deployment) it has `npm ci` value.

You may want to read again my second upper post but I'll try to clarify my point:
- I did `CUSTOM_BUILD_COMMAND="npm install --production"` because it's a faster install than `np

[2021-03-26 18:44] qianz2 commented on #960
@khelkun , I think the app service uses zip deployment on their layer as the default method. There has nothing we could do to avoid this here.

[2021-03-26 18:56] khelkun commented on #960
@qianz2, that was my hypothesis, thanks for the confirmation

[2021-03-26 21:16] esttenorio commented on #909
I think that this still should be fixed given that you are not removing the use of "local git repo". In case you are not going to solve this and the solution is to use a deployment package instead of local git, then you should remove the local git option.

[2021-03-29 07:19] kankomi commented on #755
I set the `DISABLE_HUGO_BUILD` to `true` in the app settings and in the logs it does say its skipping detection. It detects correctly that I'm using nodejs, but still fails trying to detect a php version. I also don't have a `config.json` file anywhere in my repo.

[code]

[2021-03-30 22:16] #960 closed

[2021-04-01 18:12] mauriciojost opened #971 "Detecting platforms... Error: Oops... An unexpected error has occurred."
### Bug Report

- At what date and time did you most recently experience the problem?
Around 2021-04-01 17h00 UTC.

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Functions.

- If your repo is publicly available please share its URL:
Not public.

- What happened?
Same as #929, the only difference is that I have no other

[2021-04-01 19:50] phawxby opened #972 "Regression: Yarn no longer works"
I have a Microsoft enterprise support ticket open to track this: 2103310050002615. Opening this ticket for public visibility of the issue.

### Bug Report

Yarn no longer works during install on Node 14 with the error message
`EACCES: permission denied, mkdir '/usr/local/share/yarn-cache'.`

#### At what date and time did you most recently experience the problem?
31/03/21

#### Where did you exper

[2021-04-02 21:30] dennisameling commented on #959
@qianz thanks for your reply. I've set `CUSTOM_BUILD_COMMAND` to `npm ci --production=false` (need the `production=false` because I have `NODE_ENV` set to `production`. Thanks to the `npm ci` command it's also ~2x faster to install now! 🚀

[2021-04-06 09:55] shahedurrahman commented on #755
Working now!

In my case, the artifact was coming from Azure DevOps where inside the zip file, all the project files were within another folder. That's why Oryx couldn't detect the project type because it couldn't find the project.json in root directory. To change that, I had to set following in the pipeline configuration (Archive files task).

`includeRootFolder: false`

[2021-04-06 12:07] odidev opened #975 "Require images for ARM64"
I am trying to use [oryx](https://github.com/microsoft/Oryx) image over ARM64v8 but it seems it does not have an arm64 supported tag in the [docker hub](https://hub.docker.com/_/microsoft-oryx-node-8-1)

I have tried building it locally but it is failing with “**exec format error**”. The base image of the package “**mcr.microsoft.com/oryx/cli:cli-image-3-patch1**” is not available for ARM64 platfo

[2021-04-06 21:36] qianz2 commented on #972
Hi @phawxby , we recently removed yarn cache layer from full image for its large size and trying to improve our build image overall. The yarn-cache folder was removed and looks that Azure web app is still using it, we're working on a fix for it, it's expected to roll out in our next release.

[2021-04-07 19:00] loganmc10 opened #977 "`GLIBC_2.29' not found when using Python 3.9"
### Bug Report

- At what date and time did you most recently experience the problem?
April 7, 2021

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Functions

- If your repo is publicly available please share its URL:
N/A

- What happened?
When building using Oryx for Python 3.8 everything works fine (pyodbc, which has

[2021-04-07 21:16] qianz2 commented on #972
https://github.com/microsoft/Oryx/pull/976

[2021-04-08 04:41] #959 closed

[2021-04-10 07:23] sheeshmohsin opened #983 "Error: Oops... An unexpected error has occurred."
### Bug Report

- At what date and time did you most recently experience the problem?
10th April 12:50 PM IST

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Web Apps CI/CD deployment

- If your repo is publicly available please share its URL:

- What happened?
Everything was working fine in pipeline and there was no ch

[2021-04-10 07:56] sheeshmohsin commented on #983
This error is fixed now on my side. It was a python/Django application where I added one dump file named something.json, so looks like that JSON file caused this issue, so I removed the .json extension from my new file and everything worked as expected, however, this should not have happened just because of adding a .json file into the repo.

[2021-04-10 07:56] #983 closed

[2021-04-13 15:34] TheDev6 opened #986 "Build Error Azure Static Web Apps"
### Bug Report

- At what date and time did you most recently experience the problem?
- -Tuesday 4-13-21 8AM Pacific

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
-- Azure Web Apps

- If your repo is publicly available please share its URL:
- -https://github.com/TheDev6/vue-nuxt

- What happened?
- -Won't deploy to Azure St

[2021-04-14 14:24] Cuahchic opened #987 "Azure Functions Build Fails with no apparant reason"
### Bug Report

- At what date and time did you most recently experience the problem?
14th April 2021

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Functions

- If your repo is publicly available please share its URL:
It's not public, sorry.

- What happened?
When deploying to Azure Functions using the `func` CLI the

[2021-04-14 15:12] gerrycampion commented on #818
This thread is the only place on the internet where I could find this similar problem I was having. It took a while to figure out the solution, so here it is for others. Between the `PipAuthenticate` task and the `AzureRMWebAppDeployment` task, you can set the application environment variable created during `PipAuthenticate` so that the `AzureRMWebAppDeployment` can read from this variable.

[code

[2021-04-14 23:14] qianz2 commented on #986
Hi @TheDev6 , I see that you have a `sample ` folder which is the root repo of your nodejs app, so it should be your `app_location`. Looks that something wrong when you set up the `app_location `or `api_location ` in your workflows. Could you check them to make sure they're all correct?

[2021-04-14 23:15] qianz2 commented on #972
Hi @phawxby , this should be fixed in our latest release, your issue has been addressed and it will be working soon. So close it, feel free to open it again if you have more questions.

[2021-04-14 23:15] #972 closed

[2021-04-15 23:16] askpatrickw opened #990 "Support Pelican python static site generator"
Pelican is a Python static site generator
https://blog.getpelican.com/

[2021-04-19 19:56] ffMathy opened #994 "Not working with dotnet 5"
In this repo, my `main` branch builds successfully, but this branch does not (which has updated to dotnet 5):
https://github.com/sponsorkit/sponsorkit.io/runs/2384318944?check_suite_focus=true

I have no idea of what to do about this.

[2021-04-20 16:50] arroyc commented on #994
Can you please share the logs?

[2021-04-20 19:17] ffMathy commented on #994
It's an open source repo. The logs should be public?

[2021-04-20 21:07] TheDev6 commented on #986
Thank you for responding :) I did get this to work. It's the classic path problem when I setup azure static web sites with '/' instead of '/sample' or '/dist'.

[2021-04-20 21:07] #986 closed

[2021-04-22 19:50] qianz2 commented on #971
Hi @mauriciojost , could you share your app folder structure, what files you included in your app? Does it contain a setup.py file or requirement.txt file? These files are needed to be identified as a python app.

[2021-04-22 19:59] qianz2 commented on #977
@loganmc10 , thanks for reporting this issue. Looks that some of your app modules requires 'GLIBC_2.29', which Ubuntu 18.04 doesn't support. It only supports 2.27 or lower. It may make more sense for you to update your modules to avoid this.

[2021-04-22 20:02] qianz2 commented on #987
Hi @Cuahchic, could you share your app folder structure, what files you included in your app? Does it contain a setup.py file or requirement.txt file? These files are needed to be identified as a python app.

[2021-04-22 20:03] loganmc10 commented on #977
I'm not sure I understand. The error comes because I have pyodbc in requirements.txt. pyodbc has some native C code.

But I thought the idea with Oryx is that it compiles the Python modules in Azure, therefore shouldn't it be building it on a machine with a compatible glibc version?

[2021-04-23 11:18] mauriciojost commented on #971
The issue was caused by the Function App having a VNet integration. After disconnecting it I managed to publish the functions without problem.
The logged error was not useful at all though (even a timeout word mentioned would have been appreciated). Maybe this issue could be used to improve the error message in such scenarios?
Thanks for your help,
Mauricio

[2021-04-24 07:29] E-PressSend opened #996 "Local dependency - Error Package "XYZ refers to a non-existing file ..."
Hello,

the build/deployment of my app was working perfectly since this morning when I need to to add a local package as dependency: **yarn add file:./ckeditor5**

Now my package.json looks like this:
[code]

The folder ckeditor5 is present correctly in my app root folder as well as in my git repo.

When The workflow run I get the following error message:
[code]

This is my action file:

[code]

A

[2021-04-26 12:37] kasuteru opened #997 "Detecting platforms... Error: Oops... An unexpected error has occurred."
### Bug Report

Error occured today, when trying to deploy a very simple Django WebApp (basically, the first page of the tutorial) to Azure via Github Actions.

The error is really unhelpful unfortunately, basically the title already contains all the information I have:

This might have to do something with proxy configuration / VPNs - I am working in a corporate environment and afaik, the webapp

[2021-04-27 05:55] kankomi commented on #755
I found a workaround for my case, you have to set the stack manually.
Go to the AppService under `Configuration` -> `General Settings` and set your stack there, in my case `node`.
If you deploy via terraform you can set the stack under the `site_config` like this:
[code]

After this at least the zip deployment is working.

[2021-04-28 09:09] sujithq commented on #994
I have exact the same issue: a static web app with an .NET 5 Api and a Blazor Client

Logs: https://github.com/sujithq/ColdStart-Challenge-2021/actions/runs/791786690

[2021-04-29 02:08] qianz2 commented on #994
Hello, I saw from the logging that you have a .NET app using 5.05 but Oryx downloaded 5.02 SDK, I think that may be the reason why metadata generation failed.. We'll investigate our SDKs to see if 5.05 is included.

[2021-04-29 02:17] qianz2 commented on #996
Hi, Could you verify this line below is valid? And the app_location or api_location you put in the workflows are correct? It'll be good if you're able to share us your app structure, like what kinds of files are included in your app folder.

"ckeditor5-custom-build": "file:./ckeditor5"

[2021-04-29 05:58] skenway opened #999 "api_build_command is not overriding regular Oryx deployment commands"
We are blocked due to the the following exception during the Static Web App deployment process.

`error azure-function-express@2.0.0: The engine "node" is incompatible with this module. Expected version ">=6.11.2 <11". Got "14.15.1"`

To resolve this issue, we are attempting to override the api build commands.  We would like to add the --ignore-engines flag to avoid the error.  See the yaml below.

[2021-04-29 08:17] sujithq commented on #994
I don think that is the issue:
I try to build a static web app
Api: Function App using net5 (this part fails .NET app using 5.05 but Oryx downloaded 5.02 SDK but still expected net core 3.1 for some reason)
App: Blazor Webassembly using net5 (this part is ok: .NET app using 5.05 but Oryx downloaded 5.02 SDK)

I did some tests again: one using a reference to Microsoft.Azure.Functions.Worker.Sdk 1.0

[2021-04-29 16:18] qianz2 commented on #999
A workaround for it will be setting up `CUSTOM_BUILD_COMMAND ` to be `yarn install --ignore-engines --prefer-offline --production && yarn run start` and do not add `prune_dev_dependencies` so that Oryx will skip this command: `yarn install --prefer-offline --production`

[2021-04-29 16:42] skenway commented on #999
Thanks for the response.  @qianz2 how and where I do exclude prune_dev_dependencies?  Is this explicitly added to the api_build_command?

Also for clarification on syntax, when you state CUSTOM_BUILD_COMMAND, are you referring to api_build_command?

[2021-04-29 22:27] qianz2 commented on #999
`CUSTOM_BUILD_COMMAND `is an environment variable that you could add into your workflows, it's not `api_build_command`.
I don't know how static web app use Oryx command, it looks that the `--prune_dev_dependencies` property key is added into the command when they called it.

[2021-04-30 04:50] mightmay opened #1003 "Don't compress my webapp"
### Feature Request

After deploying into Azure, my webapp get compress into `output.tar.gz` instead of having all the files like in my local computer.
Can we have an option to turn this off ?

Also, I can't set` CompressDestinationDir="false" `in my `oryx-manifest `file because it keep reverting back to `true `every time I deploy.

[code]

[2021-04-30 16:40] qianz2 commented on #999
`PRUNE_DEV_DEPENDENCIES` can be also passed in as an env variable, and it will override. So you can try to set it up in your workflows to see if it can resolve your case. Thank you!

[2021-04-30 16:41] qianz2 commented on #1003
@mightmay, please try a workaround. Setting up an environment variable `COMPRESS_DESTINATION_DIR` to be false.

[2021-05-03 15:11] Cuahchic commented on #987
Yes it contains a requirements.txt file, the contents are shown below:

[code]

Does that help?

[2021-05-03 15:12] Cuahchic commented on #987
I've just hit this issue with another function on the Azure premium subscription plan so please let me know if there's anything else I can do to speed up your investigation.

[2021-05-04 08:45] Cuahchic commented on #987
This happened to me again this week on a different project, and one thing I noticed is that it always happens after downloading Tensorflow (which is nearly 400MB). Which makes me think this is either a disk space issue or a timeout issue. Not sure how disk space is allocated on build servers but that could be relevant.

[2021-05-05 17:41] Oskenso commented on #361
We just encountered this issue in our project today. We don't have an npm build step, instead node simply runs the index.js file to start a server process.

The deployment process completes and on the server everything is fine except that node_modules is missing for some reason.  In it's place is a gzipped `node_modules.tar.gz`
On the Azure App Services side of things the system never attempts to

[2021-05-14 01:41] arroyc commented on #755
This issue is getting lot of traction here it seems, but because this issue was created long back, so I guess it's not the original bug  for which the issue has been created earlier ... Can someone please create a new issue and we can follow up there @kankomi @shahedurrahman  @cod2017 .. if you are still facing the same issue please create a new issue. It will be easier to track. Once I get the ne

[2021-05-14 14:05] Cuahchic commented on #987
@qianz2 : Can you please update me on the status of this? We are about to push this product into production but if you cannot get back to me on this bug we need to consider an alternative architecture as we cannot be deleting an Azure Function every time we want to deploy code (I've again attached a snippet from Deployment Centre -> Logs):

[code]

[2021-05-15 22:53] NDMWonsil commented on #994
I, too, am having an issue with deploying the standard Getting Started Blazor Static app from the Docs.
https://docs.microsoft.com/en-us/azure/static-web-apps/deploy-blazor

My build errors out with a different message:
[code]
Here's the [Build](https://github.com/NDMWonsil/blazor-starter/runs/2588085304).

It may be more of an issue with the Static Web code in the tutorial than with Oryx but I wa

[2021-05-17 16:41] awentzel commented on #994
I have the same issue no matter if it's Node or PHP on a brand new app service (Linux).  I'm attempting to deploy from VS Code using App Service package.  I select the files to deploy from a `www` folder and get the exact same message.

[code]

[2021-05-17 20:03] qianz2 commented on #994
Could you check if your `app_location` or `api_location` is correct, from the logging information, it looks that the default files could not be found at your `app_location`.

[2021-05-17 20:09] qianz2 commented on #994
Hi, did you include php composer file or `*.php` extension files in your apps?

[2021-05-18 02:54] #755 closed

[2021-05-18 02:57] arroyc commented on #849
is it still an issue @davidfmatheson ?

[2021-05-18 12:54] davidfmatheson commented on #849
Hi @arroyc! I have not tried this specific use case in some time, and we do not have plans to try this scenario anytime soon. Feel free to close the issue. If anyone else comes across this issue, they may have better luck configuring a private endpoint on their function app so that the proxy is not implicated.

[2021-05-18 18:08] wasuaje commented on #567
Same error here!

[2021-05-18 20:47] adammpolak opened #1013 "Onyx Fails to deploy at `[20:43:03+0000] Downloading torch-1.8.1-cp37-cp37m-manylinux1_x86_64.whl (804.1 MB)` (downloading Torch)"
### Bug Report

- At what date and time did you most recently experience the problem?
**5/18/21 4:45PM ET**

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
**Azure App Service**

- If your repo is publicly available please share its URL:

- What happened?
**I ran "azure webapp up" and it fails without telling me why**

- What

[2021-05-18 20:52] adammpolak commented on #1013
FYI I upgraded the box and it seems to have gotten past this part.

I would expect Onyx to return something along the lines of "box too small, upgrade memory"

[2021-05-21 02:29] tech7857 opened #1015 "Python app fails to deploy to a function app in vnet"
When deploying python code to our function app in a vnet with private end points it fails at detecting platforms step

- At what date and time did you most recently experience the problem?
05/20/2021 entire day

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
- Azure functions

- If your repo is publicly available please share

[2021-05-21 12:11] dsashishgarg opened #1017 "Unable to deploy Python Function App. As Function App is under VNET and Private Endpoint."
### Bug Report

 I have a function app over Azure which is under Private Network and VNET. When I am trying to deploy code using VSCode. I am unable to deploy it.

For this function app linked storage account is also under Private Endpoint and app service plan are under Vnet.

- At what date and time did you most recently experience the problem?

Today Date: 21 May 2021
From last 2 days I am strug

[2021-05-21 16:02] thefinitemonkey opened #1018 "Add support for Nx monorepo"
### Feature Request

Deploying with Azure static apps is a very attractive opportunity for us given our Angular / Node stack. However, we build and maintain our code in a Nx monorepo (https://nx.dev). So the files to be hosted are currently supported by Oryx, but the build path with Nx is somewhat different.

Specifically, support for Nx would:

- Treat app_location as project name for "nx build"

[2021-05-21 21:28] dan-eversen opened #1019 "Oryx doesn't properly consider env variables on Azure DevOps Pipelines"
For some reason Oryx won't by default consider env variables injecting into the build process by Azure DevOps Pipelines. For example, the following pipeline won't work as intended if trying to create and deploy a static react app with the env variable `REACT_APP_MAP_API_KEY` (which is then accessible in the app via `process.env.REACT_APP_MAP_API_KEY`:

[code]

However, the following code WILL work

[2021-05-22 09:49] jarvinenantti opened #1020 "Deployment fails with (example) python Azure Function apps"
### Bug Report

- At what date and time did you most recently experience the problem?
22.5.-21 12:29:18

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Visual Studio Code Azure Functions Core Tools

- If your repo is publicly available please share its URL:
Not publicly available, just following Azure demo - python HTTP-trigg

[2021-05-25 11:27] lakshminarayanas opened #1022 "Could not detect any platform in the source directory."
Oryx Version: 0.2.20210225.2, Commit: f7b557f29a83aa078cc94c0056e7337c07f14271, ReleaseTagName: 20210225.2

Build Operation ID: |mI6fxqpsWyE=.a30ddaee_
Repository Commit : 91e6628d-955a-4391-85fc-6bfdd8da5c8b

Detecting platforms...
Platform 'hugo' has been disabled, so skipping detection for it.
Platform 'python' has been disabled, so skipping detection for it.
Could not detect any platform in th

[2021-05-25 19:21] qianz2 commented on #1022
Error: Platform 'python' has been disabled.
Did you disable python build using env like this `DISABLE_PYTHON_BUILD`, this should not be setting up, could you try without it?

[2021-05-25 19:29] lakshminarayanas commented on #1022
there is no DISABLE_PYTHON_BUILD setting in the app service. If i remove ENABLE_ORYX_BUILD and SCM_DO_BUILD_DURING_DEPLOYMENT, code deployed successfully. But application is not running. where as these two settings used to work till last week(and application), dont know what had happened after that.

[2021-05-26 05:24] aaronpowell opened #1023 "Provide CLI flags to Hugo"
A question has come in on the docs for Static Web Apps (https://github.com/MicrosoftDocs/azure-docs/issues/75856) about providing the `--minify` flag to Hugo on build.

Having a bit of a poke around the code myself, I'm not sure if there is a way to provide CLI flags to Hugo.

Can CLI flags be provided to Hugo? If not, can I raise the feature request to allow them to be provided?

[2021-05-28 21:17] anthonychu opened #1025 "Add support for .NET 6 Preview 4"
### Feature Request

Please support Preview 4. Specifically asking for Static Web Apps, but probably good to update for other images too. Thanks.

@arroyc

[2021-05-28 21:46] anthonychu opened #1026 "Support Blazor WebAssembly AOT compilation"
### Feature Request

This is a request for .NET 6 Preview 5, which is not out yet. There's a bug in Preview 4 that prevents AOT workloads from working. https://github.com/dotnet/sdk/issues/17865

* When it's a .NET app
* And the csproj contains
    * `<TargetFramework>net6.0</TargetFramework>`
    * a package reference to `Microsoft.AspNetCore.Components.WebAssembly`
* Before running `dotnet publi

[2021-05-28 21:56] anthonychu opened #1027 "Support RUN_BUILD_COMMAND on all platforms"
### Feature Request

Currently, `RUN_BUILD_COMMAND` is only supported in nodejs builds. Providing the ability to control the build command is useful for other platforms too. Please add support for it in other supported platforms, like:

* .NET
* Python
* Ruby/Jekyll
* Hugo

@arroyc @qianz2

[2021-05-28 22:00] anthonychu commented on #1023
In general, with Static Web Apps, we try to treat Oryx as an implementation detail and prefer customers to configure their app using the GitHub Actions input parameters. The Action has an input named `app_build_command`, which sets `RUN_BUILD_COMMAND` in Oryx during the frontend build. It would be better if we can add support for `RUN_BUILD_COMMAND` for Hugo and other platforms. #1027

[2021-05-30 05:15] #1017 closed

[2021-05-30 05:17] dsashishgarg commented on #1017
For me it was firewall issues. As firewall was not allowing Azure function to download Oryx.

[2021-06-01 18:41] tamathew opened #1028 "Deployment Fail : Error: Couldn't detect a version for the platform 'python' in the repo."
Getting the below error while deploying azure python functionapp through azure devops and azure cli with REMOTE BUILD enabled.

Command used to deployment :
az functionapp deployment source config-zip --src <local_file_path> --build-remote true --name <appn_ame> --resource-group <rg_name>

----------------
ERROR-----------------------------

Command: oryx build /tmp/zipdeploy/extracted -o /tmp/bui

[2021-06-04 06:56] qianz2 commented on #1013
Hi @adammpolak , torch is a relatively large sized dependency, it's hard to know what happened during the pip install process, so it'll always good to check if the memory is enough for large dependencies. Will close this issue. Feel free to reopen if you have questions.

[2021-06-04 06:56] #1013 closed

[2021-06-04 06:59] qianz2 commented on #1003
@mightmay, closing this issue, feel free to reopen if you have other questions.

[2021-06-04 06:59] #1003 closed

[2021-06-04 07:07] qianz2 commented on #567
Closing it as it's been long time, feel free to reopen if you have other questions.

[2021-06-04 07:07] #567 closed

[2021-06-04 07:09] qianz2 commented on #848
The issue is likely caused by proxy configuration / VPNs. Closing it as it's been long time, feel free to reopen if you have other questions.

[2021-06-04 07:09] #848 closed

[2021-06-04 07:11] #849 closed

[2021-06-04 07:18] qianz2 commented on #994
Closing it, feel free to reopen one if you have other questions.

[2021-06-04 07:18] #994 closed

[2021-06-04 07:20] qianz2 commented on #919
Let us know if you have other following up questions, closing the issue now.

[2021-06-04 07:20] #919 closed

[2021-06-04 07:37] ffMathy commented on #994
It was indeed found @qianz2. Please re-open.

However, I switched away from Azure Functions and static web apps now entirely, so I can't reproduce much anymore. Perhaps the others experiencing the issue can?

[2021-06-05 00:52] qianz2 commented on #1025
#1030

[2021-06-05 23:40] anthonychu commented on #1026
After discussion with @danroth27, updated the detection logic slightly. Any Blazor WebAssembly app on .NET 6 should have the workload installed.

[2021-06-05 23:46] anthonychu opened #1032 "Jamstack image - include .NET Core 3.1 SDK in base image"
### Feature Request

In order to build .NET isolated function apps for Static Web Apps, we need .NET Core 3.1 _and_ the version of .NET specified in `<TargetFramework>` to be installed.

After discussion with @arroyc, the best way to support this might be to always include .NET Core 3.1 in the Jamstack image. Can we see how much the image size increases if we do this?

[2021-06-07 12:54] BenTeo11 commented on #987
Hi, it is happening to me as well, if i then do re-deploy, it works.
I get the same warning as above: python: 3.7.9
Warning: An outdated version of python was detected (3.7.9). Consider updating.\nVersions supported by Oryx: https://github.com/microsoft/Oryx
Can that be the issue?

[2021-06-07 18:07] qianz2 commented on #1032
After installing .NET 3.1 SDKs into Jamstack image, it increased by 336M. The total size of image is 2.3G. If it's ok, we will proceed to add .NET Core 3.1 SDK on it.

[2021-06-07 23:27] qianz2 commented on #1026
@anthonychu, does that mean we don't need to pass in "static-sites" parameter, it will go run this command generally for .NET 6 Blazor Wasm apps? We've just opened a PR for this issue. Feel free to look into it and left some comments there. Thanks!

[2021-06-08 00:13] anthonychu commented on #1026
From what I can see in the PR, it looks great. Agree with not needing to check static-sites. Thanks.

[2021-06-08 22:39] qianz2 commented on #1025
Closing the issue now, as we recently pushed in this support.

[2021-06-08 22:39] #1025 closed

[2021-06-08 22:53] tonybaloney opened #1035 "Python images are being built with PTVSD instead of debugpy"
When launching a Python app in debug mode (remote debugging enabled), it will run the generator with

[code]

This restarts the application under PTVSD https://github.com/microsoft/Oryx/blob/a09410ab72c54829d8fd5f9f47591656940f903e/src/startupscriptgenerator/src/python/scriptgenerator.go#L307-L322

PTVSD is a deprecated debugger and no longer maintained.

DebugPy is the replacement debugger used i

[2021-06-09 00:54] anthonychu commented on #1023
Yep that's a good point. Should be able to do this if I'm not mistaken: https://gohugo.io/getting-started/configuration/#configure-minify

[2021-06-13 12:34] pingdong commented on #1022
I have the similar version on .NET 5.0.

Same .NET 5 FuncApp package:
Deploy to Windows FuncApp, Success and runs properly
Deploy to Linux Failed with the below message

On Linux
LinuxFxVersion set to 'DOTNET-ISOLATED|5.0',

2021-06-13T12:19:39.8012885Z ##[section]Starting: Deploying FuncApp: func-xxxxx
2021-06-13T12:19:39.8026136Z ==================================================================

[2021-06-15 07:37] anthonychu opened #1039 "Support .NET 6 preview 5"
### Feature Request

Support .NET 6 preview 5

This would also unblock #1026

[2021-06-17 23:30] qianz2 commented on #1032
@anthonychu, we've recently supported it, so closing this issue now.

[2021-06-17 23:30] #1032 closed

[2021-06-18 04:22] #1039 closed

[2021-06-20 00:20] anthonychu commented on #1026
@qianz2 @arroyc It looks like the Blazor AoT build has a dependency on Python 3.6 or higher. By default, Oryx includes Python 2.7 (`python`) and Python 3.5.3 (`python3`). Is it possible to install a newer version of Python 3 when we install this workload?

[2021-06-25 20:56] drumph33 commented on #1015
I am having this same issue.  What seems to be happening is that the oryx build command needs access to the internet.  A common reason people are running function apps in vnet integrations is to restrict outbound traffic.  If we know what IPs the oryx build command is hitting then we could allow it in the NSG which should fix the problem.   I had a DenyAll rule as my only rule in the NSG.  I added

[2021-06-25 20:56] drumph33 commented on #997
I am having this same issue.  What seems to be happening is that the oryx build command needs access to the internet.  A common reason people are running function apps in vnet integrations is to restrict outbound traffic.

**If we know what IPs the oryx build command is hitting then we could allow it in the NSG which should fix the problem.**

I had a DenyAll rule as my only rule in the NSG.  I ad

[2021-06-25 20:58] drumph33 commented on #971
I am having this same issue.  What seems to be happening is that the oryx build command needs access to the internet.  A common reason people are running function apps in vnet integrations is to restrict outbound traffic.

 **If we know what IPs the oryx build command is hitting then we could allow it in the NSG which should fix the problem.**

 I had a DenyAll rule as my only rule in the NSG.  I

[2021-06-25 21:09] ericthomas1 opened #1045 "Where are Python packages installed from?"
When publishing an Azure Function from local machine using `func azure functionapp publish <function-name> --publish-local-settings`, where are the Python packages installed from?

- Are they installed from a directory in the local `.venv`? OR
- Are they installed directly from `pip` repos?

**I ask because:**
- All our Python packages must be scanned for malware
- We have our own ArtiFactory setu

[2021-06-27 23:22] albian786 commented on #643
Please use PRE_BUILD_COMMAND or PRE_BUILD_SCRIPT_PATH to execute custom scripts before deployment

[2021-06-28 17:50] arroyc commented on #1045
if you dont have any fancy setup, your python packages are installed directly from pip ... you can add a pre install command as pip source to verify it

[2021-06-28 18:05] ericthomas1 commented on #1045
Hm... locally I have `pip` setup to pull packages from on-prem ArtiFactory.
- How do I force Oryx to install packages from a specific location (either from a directory in my local project or from on-prem ArtiFactory)?

[2021-07-04 22:12] spechtx opened #1049 "Spatial libraries on AppService (Python / Django -> GeoDjango)"
### System Package Request

Django offers support for spatial data. All you have to do in order to use spatial data in Django is to change the 'ENGINE' variable from postgresql to postgis:
[code]

And activate GIS as an installed app:
[code]

This typically requires external libraries like GDAL. Please have a look in the Django documentation to see which libraries are required: [https://docs.djang

[2021-07-08 03:21] arroyc commented on #1045
is it the case that all of your packages are from on-prem artifactory? or is it mixed like some are from on-prem and some are from public?

usually there is --index-url that you can set as environment

Refer these docs ..

https://docs.readthedocs.io/en/stable/guides/private-python-packages.html
https://pip.pypa.io/en/stable/cli/pip_install/#requirements-file-format

[2021-07-08 03:21] #1045 closed

[2021-07-08 03:24] arroyc commented on #1035
closing because #1050  #1036

[2021-07-08 03:24] #1035 closed

[2021-07-08 03:27] arroyc commented on #971
@drumph33  oryx needs to get access to https://oryx-cdn.microsoft.io for a successful build

[2021-07-08 03:28] #971 closed

[2021-07-08 03:29] #975 closed

[2021-07-08 03:30] arroyc commented on #997
duplicate #971

[2021-07-08 03:30] #997 closed

[2021-07-08 03:32] arroyc commented on #990
@askpatrickw  .. sorry for delayed response .. we had some issues in our ci and we were severely outnumbered, would be able to send the PR again?

[2021-07-08 04:11] arroyc commented on #1028
@tamathew ... can you check what are the contents in /tmp/zipdeploy/extracted?

My doubt is there is another folder (say foo) inside extracted but oryx running in /tmp/zipdeploy/extracted ... so its not able to find any python files and hence its not detecting it

[2021-07-08 04:13] arroyc commented on #1015
#971 .. duplicate

[2021-07-08 04:13] #1015 closed

[2021-07-08 20:30] ericthomas1 commented on #1045
Yes, all packages are from on-prem ArtiFactory. I am able to `pip install` all packages from on-prem ArtiFactory just fine _from my local dev machine_.

**My specific question is:**

- When I run `func azure functionapp publish <function-name> --publish-local-settings` is **oryx** using my pip config or is it using its own pip config and installing the packages from the internet?

[2021-07-09 22:38] askiefer commented on #1049
I second this request! I have a simple app that uses GeoDjango and Postgres and am receiving this error when trying to deploy it:
[code]
Seems like this could be the reason my app is failing? I tried setting the GDAL_LIBRARY_PATH in the settings module but no luck

[2021-07-09 22:46] gpcastro commented on #1049
Thanks for your suggestion and for bringing this gap to our attention.
Do you know of any sample app that uses GeoDjango and is representative of a typical use of the library? We can add it as validation to our test suite.

[2021-07-10 17:13] #977 closed

[2021-07-12 08:23] spechtx commented on #1049
Hi @gpcastro, an example app, that uses GeoDjango could be Django itself, since GeoDjango is an App that can be activated in the Django setup.

You could include a Django instance with activated GeoDjango app in the validation.

By changing some settings in the settings.py file, Django becomes GeoDjango. It will then check for the geospatial libraries on startup. Without them installed on the loca

[2021-07-12 17:50] gpminsuk opened #1054 "Oryx has failed to build the solution."
### Bug Report

- At what date and time did you most recently experience the problem?
7/12/2021 10:49 PM PST

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
GitHub Actions

- If your repo is publicly available please share its URL:

- What happened?
After creating static web app from Azure, github Action is created but it fai

[2021-07-12 18:17] afogarty85 commented on #1054
I am having the same issue.

[2021-07-12 18:25] philvessey opened #1055 "Oryx failing downloading and extracting 'dotnet' version '5.0.203'"
### Bug Report

- At what date and time did you most recently experience the problem?
12.07.21 @ 1922 UK time

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Github actions

- If your repo is publicly available please share its URL:
Private repo

- What happened?
Oryx failing downloading and extracting 'dotnet' version '5.0.2

[2021-07-12 18:27] philvessey commented on #1054
Same just created a similar issue #1055 before realising this one was open.

[2021-07-12 18:28] philvessey commented on #1055
Looks like the same problem as #1054

[2021-07-12 18:44] joshuadgilley commented on #1054
Having the same issue as well.

[2021-07-12 19:06] afogarty85 commented on #1054
Looks like builds are succeeding now -- FYI all

[2021-07-12 19:41] philvessey commented on #1054
Mine too :)

[2021-07-12 19:41] philvessey commented on #1055
Looks resolved now so ill close.

[2021-07-12 19:41] #1055 closed

[2021-07-13 19:01] gpcastro commented on #1054
This was a temporary problem when pulling the runtime from blob storage. Closing since this has been resolved.

[2021-07-13 19:01] #1054 closed

[2021-07-13 20:48] #1028 closed

[2021-07-13 22:03] #1049 closed

[2021-07-14 20:51] askiefer commented on #1049
@gpcastro I saw that you merged the PR above - does this mean that you were able to get Azure App Service to successfully deploy a GeoDjango app? Is it able to find the GDAL library now?

[2021-07-15 15:03] csharpfritz opened #1057 "Add support for .NET 6 Preview 6"
### Feature Request

Please add support for .NET 6 Preview 6, similar to the update applied for Preview 5 in #1040

[2021-07-15 20:38] askiefer commented on #1049
@spechtx I think the issue might be fixed - have you tried deploying your geodjango app again by any chance?

[2021-07-17 07:21] gpcastro commented on #1049
@askiefer The fix will be available in the next release of App Service, next month.

[2021-07-19 15:06] askiefer commented on #1049
Ah okay awesome, thanks!

[2021-07-19 16:41] arroyc commented on #1057
@csharpfritz .. thanks for raising this .. we will work on this soon.

[2021-07-20 10:31] swethasharma92 opened #1060 "Error: Encountered an error (InternalServerError) from host runtime."
am trying to deploy function to a function app on azure(i had used the same function on another app & it worked fine) via VS code, but facing this error
![final](https://user-images.githubusercontent.com/64375753/126308749-e9812d8e-259f-4da4-8842-7dd243bfb03e.JPG)

other specs:
appservice plan tier: ElasticPremium
function app type: linux

Is there a different way to deploy functions in case of el

[2021-07-20 20:10] arroyc commented on #1060
@swethasharma92  are you using any vpn and special network settings? Can you check if you can access https://oryx-cdn.microsoft.io within that network? if not, you need to whitelist this because oryx needs this to be accessible  to have a successful build. looks like duplicate #971 to me

[2021-07-20 20:11] arroyc commented on #1023
@BhargaviAnnadevara-MSFT @anthonychu  should we consider this to be closed then?

[2021-07-22 19:13] askiefer commented on #1049
One other question @gpcastro (if you don't mind) - do you know when in August App Service will next be released?

Just wondering if I should wait or go ahead with an alternative method of hosting. Thanks.

[2021-07-22 21:43] ydarma commented on #909
Hi,
We had the same issue with our Vuejs application and managed to solve it in a way acceptable to us. I think that the problem was due to the application that was still running at deployment time, maybe preventing proper site cleanup (?).
In order to prevent the application from running during deployment, the server looks every 20s for the file `/home/touch` and stops if present.

[code]

The np

[2021-07-23 23:17] arroyc commented on #1023
please feel free to reach out if u see this issue again or in case of any other issues

[2021-07-23 23:17] #1023 closed

[2021-07-28 01:16] arroyc commented on #1060
this looks like an intermittent issue, couldn't repro. closing this issue. Feel free to reopen if you see this again, add more logs to the issue

[2021-07-28 01:16] #1060 closed

[2021-07-28 01:18] arroyc commented on #1022
Is this still an issue? @lakshminarayanas .. I'm closing this issue here as this seems to be inactive, feel free to  open a new issue if you see any problems

[2021-07-28 01:18] #1022 closed

[2021-07-28 01:22] arroyc commented on #922
@connyho  ... does this issue still persist?

[2021-07-28 01:23] #990 closed

[2021-07-28 01:25] arroyc commented on #987
@cuahchic @BenTeo11 does this issue still persist?

[2021-07-28 01:27] arroyc commented on #1019
currently we do not support this ...  those env variables needs to be passed to oryx so that oryx can load them .. these env variables passed to us by azure static web app, so this issue seems to be more an issue for azure static web apps to me

[2021-07-28 01:27] #1019 closed

[2021-07-28 01:29] #996 closed

[2021-07-28 01:29] arroyc commented on #996
closing due to inactive discussion and need more info

[2021-07-28 01:30] #999 closed

[2021-07-28 01:32] arroyc commented on #1020
@jarvinenantti  is this still an issue to you?

[2021-07-28 01:39] IEvangelist commented on #1057
Thank you for posting this issue @csharpfritz, I too need support for .NET 6 Preview 6. Would love to see this happen soon. 😬

[2021-07-29 15:43] alkwa-msft opened #1066 "Language detection also looks in the node_modules directory"
### Bug Report
I was building a NodeJS function app and oryx was failing since it was not able to properly detect the language runtime. I clearly had a package.json and a yarn.lock file in my project however it didn't detect node. After I stopped trying to yarn install in an earlier step in my CI pipeline, oryx was able to properly detect that the function app was a node function app.

- Where did

[2021-07-29 16:13] arroyc commented on #1066
curious: how is this pre-existing node_modules getting generated? are you deploying them as well or they were  just there due to corrupted environment? if you cannot share the repo can you please share your ci workflow in detail?

[2021-07-29 17:39] william-msft commented on #885
Hi @pkmelee337, hope all is well, if this issue needs further investigation please feel free to reach out to me. I'd be more than happy to help. I reached out via email before just in case. Stay safe!

[2021-07-29 21:11] alkwa-msft commented on #1066
I was setting up Ci for my azure static web app. I didn't realize the actual deployment of the azure static web app to azure would also pull in dependencies, build, and then deploy.

So I was effectively pulling in my server dependencies twice (once manually and once through the azure static web app task)

I was working with Anthony (PM on the azure static web app) team and we were trying to figur

[2021-07-30 09:02] gagarine opened #1068 "npm build fail with "tsc: Permission denied" when NODE_ENV=production"
I deploy my local code using VS Code to an App Service instance with SCM_DO_BUILD_DURING_DEPLOYMENT=true.

When `NODE_ENV=production` deployment fail. Certainly because devDependencies is not used during npm install.

The code is zipeed and uploaded.
Build warn with a ""tsc: Permission denied".

Log:
[code]

Similar to https://github.com/microsoft/Oryx/issues/309

[2021-07-30 12:46] gagarine commented on #1068
How to build with `devDependencies` but run it with `NODE_ENV=production` ?

[2021-07-30 20:17] sdixit5 opened #1069 "Deployment to Microsoft Azure"
### Bug Report

- At what date and time did you most recently experience the problem?
07/30/2021 and 03:49

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure web apps while deploying through GITHUB

- If your repo is publicly available please share its URL:
https://github.com/sdixit2/Sentiment_Analysis_IMDB_data/runs/31945

[2021-07-30 20:55] william-msft commented on #885
Moving context from email over to this thread:
`Basically, I have a Lerna monorepo with 3 packages: Web, API, and library. I want to publish the Web and API folder to the same static web app. Doing this I'm having the following problems:
1. I have to add an app_build_command to support the Lerna build (otherwise I'm getting an error message that Lerna cannot be found) The app_build_command is as f

[2021-08-01 05:38] #922 closed

[2021-08-01 05:39] #987 closed

[2021-08-01 05:39] #1020 closed

[2021-08-01 05:44] arroyc commented on #1066
@alkwa-msft  thanks for explaining .. glad to see that its working for you .. so I will close this issue .. feel free to create a new issue if you have any other problems

[2021-08-01 05:44] #1066 closed

[2021-08-02 20:07] IEvangelist commented on #1057
Hi @arroyc, I wanted to ask - when do you think you'll get to this?

[2021-08-03 01:54] csharpfritz commented on #1057
We're nearing a point where it makes more sense to prepare for Preview 7

Jeff

From: David Pine ***@***.***>
Sent: Monday, August 2, 2021 16:08
To: microsoft/Oryx ***@***.***>
Cc: Jeff Fritz ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/Oryx] Add support for .NET 6 Preview 6 (#1057)

Hi @arroyc<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Farroyc&data

[2021-08-03 05:00] anthonychu commented on #885
As it sounds like you need to build both your frontend and the API with Lerna, your best bet is to run the Lerna build separately in a separate step prior to the `Azure/static-web-apps-deploy` action and only use the action to deploy the build output.

This is what the workflow might look like:

[code]

We don't have a skip api build option yet, so the Static Web Apps action will still try to run

[2021-08-03 19:56] jeroenvdmeer opened #1073 "npm used despite specifying yarn in package.json > engines"
### Bug Report
In my Azure Static Web Apps monorepo project I've specified in my `package.json` files of my workspaces that yarn should be used as package manager instead of npm. I've done so using the `engines` property as specified in the [Oryx NodeJS runtime documentation](https://github.com/microsoft/Oryx/blob/main/doc/runtimes/nodejs.md#package-manager): _"If a `yarn.lock` file is found in yo

[2021-08-04 05:32] anthonychu commented on #1026
In .NET 6 preview 7, the workload will be renamed from `microsoft-net-sdk-blazorwebassembly-aot` to `wasm-tools`. Let's resume working on this after preview 7 is released next week and added to Oryx.

[2021-08-05 00:02] arroyc commented on #1057
once they release preview 7 we can release it, but im not sure when that will be available via appservice. Can you please log a seperate ticket for peview 7 when its available .. closing current issue as the changes has been checked in .. a tag will be created soon (release in process) which will have preview 6 support.

[2021-08-05 00:02] #1057 closed

[2021-08-06 02:49] arroyc commented on #1073
Thanks for bringing this to our notice. We created an workitem and we will work on this at our earliest  to get this out. Till then I suggest you to use a valid yarn.lock file (can be created locally) and check it in

[2021-08-08 16:30] Akinzekeel opened #1080 "Deployment is missing blazor.webassembly.js"
### Bug Report
- Last time the problem occurred: August 8th, 2021
- Problem occurred when using the GitHub actions template to deploy a Blazor application to Azure Static Websites
- Repository URL: https://github.com/Akinzekeel/BlazorGrid

### Problem description
The deployment appears to be successful and the index.html file is served from the Static Website, however related files such as _framew

[2021-08-10 14:05] pkmelee337 commented on #885
Thanks for the information @anthonychu ! This is pointing in the right direction, but still not working for me. It's like you said, there isn't a skip API build option yet, so I'm still running into the same problem. Guess I'll have to wait until [this enhancement](https://github.com/Azure/static-web-apps/issues/343) is implemented?

[2021-08-12 18:10] denisrobert commented on #971
Why would this be closed? Makes no sense that this isn't considered a blocking issue. VNet integration is pretty fundamental to functions, and not being able to build with VNet Integration turned on is a tad ridiculous

[2021-08-13 14:47] ph-eip commented on #1049
Do we have an update on when the next release will be? I have a pending deployment with a GDAL dependency.

[2021-08-14 00:05] arroyc commented on #971
@denisrobert ... this is closed because this doesn't seem to be a build issue rather an issue with vnet configuration with function. Hope this makes sense now.

[2021-08-16 09:18] jeroenvdmeer opened #1085 "App fails to build monorepo with yarn workspaces"
**Introduction**
[I also posted this as a bug in the Azure/static-web-apps project](https://github.com/Azure/static-web-apps/issues/542), but as it received no response I realized this issue maybe makes more sense to be reported here?

**Describe the bug**
After repackaging my multirepo project into a monorepo based on yarn workspaces, I noticed the app won't deploy to Azure Static Web Apps anymor

[2021-08-18 14:18] chrisleduc opened #1086 "Oryx Build Failing: nodejs' version '10.22.0' is unsupported despite not using nodejs"
### Bug Report

- At what date and time did you most recently experience the problem?
It started somewhere between August 16, 15:54 UTC and August 18, 11:58 UTC. This represent the times between the last successful commit and the first failed one.

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Web Apps

- If your repo

[2021-08-18 17:23] anthonychu commented on #885
That's correct. https://github.com/Azure/static-web-apps/issues/343 is needed to unblock you.

[2021-08-18 21:12] iomariani commented on #1086
Same issue here, using PHP 7.4 and the auto-generated CI by Azure WebApp's service provider.

[code]

Tried detach the deploy and attach again, but no dice.

[2021-08-18 23:18] arroyc commented on #1086
@iomariani  interesting .. why is it showing nodejs error if your platform is php .. do you have any package.json or yarn.lock in the root level or in sub directories?

[2021-08-18 23:21] arroyc commented on #1085
@jeroenvdmeer .. having a dummy yarn.lock is not a good idea .. can you please try creating an yarn.lock locally and then deploy it?

[2021-08-18 23:30] iomariani commented on #1086
In my case, yes, there's a `package.json` at the root directory, with devDependencies only.
Our last successful build was also in August 16, at 12:49:41 UTC.

[2021-08-19 11:58] jeroenvdmeer commented on #1085
@arroyc I understand, but unfortunately individual `yarn.lock` files for each yarn workspace is [not possible at the moment](https://github.com/yarnpkg/berry/issues/1223). The `yarn generate-lock-entry` command did not do the trick, as yarn still tries to find the package in the public registry. There are [yarn plugins available](https://github.com/JanVoracek/yarn-plugin-entrypoint-lockfiles) that

[2021-08-19 12:54] chrisleduc commented on #1086
Yes, we also have yarn.lock and package.json but nodejs is not specified in them (they were not changed since the builds started failing…)

[2021-08-19 16:41] arroyc commented on #1086
@chrisleduc @iomariani ideally if you are deploying a php app, we assume package.json or yarn.lock should not reside in the root directory else it will be detected as node.js app .. can you put it in some subdirectory and accordingly adjust your scripts/code to refer to new package.json/yarn.lock path

[2021-08-19 22:00] iomariani commented on #1086
I had to use another service builder, so I can't test that anymore...
However that doesn't seem to be a viable solution, the error explicitly implies just that the node version oryx uses (10.22.0) is not on the compatible versions it expects.

That list must've changed since Aug 16, otherwise we wouldn't be able to deploy it before.

[2021-08-20 12:12] chrisleduc commented on #1086
I can confirm that removing package.json/yarn.lock from root clears the error. Since we migrated to PHP 8, we still cannot build, but this is expected since it's not a supported version in Oryx. We've now at least temporarily moved away to Oryx as well. We can't confirm this would resolve the issue but it's likely — I'll close the issue with this.

[2021-08-20 12:12] #1086 closed

[2021-08-20 17:55] HarshaHirpara opened #1088 "Error: Couldn't detect a version for the platform 'nodejs' in the repo."
### Bug Report

- At what date and time did you most recently experience the problem?

August 20, 2021
- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

12:53:18 PM test-aj-dev: Detecting platforms...
12:53:18 PM test-aj-dev: Could not detect any platform in the source directory.
12:53:18 PM test-aj-dev: Error: Couldn't detect

[2021-08-24 00:31] anthonychu commented on #1080
Might have to do with using Gulp to build. @arroyc can you please take a look?

[2021-08-24 00:37] anthonychu opened #1090 "Static Web Apps - Functions build - support extensions.csproj"
### Feature Request

For non-.NET Azure Functions, an app can optionally install custom extensions. The way this works is the project includes an extensions.csproj file that contains references to extensions that should be installed.

When this file is detected in a function app, we need to run `dotnet build extensions.csproj -o bin --no-incremental` to restore extensions in `bin/`. Then run the n

[2021-08-30 19:47] william-msft commented on #885
Closing per https://github.com/microsoft/Oryx/issues/885#issuecomment-901292480

[2021-08-30 19:47] #885 closed

[2021-09-02 18:13] arroyc commented on #1088
can you add more information about your app .. this is too little info to start with

[2021-09-02 18:16] arroyc commented on #1085
would it be possible for you to provide a sample app which is very similar to yours .. it will help us troubleshoot and possibly fix the issue sooner @jeroenvdmeer

[2021-09-02 18:24] jeroenvdmeer commented on #1085
@arroyc Sure, but what would you like to see differently from the test repo I linked to in the issue?

[2021-09-08 18:12] schakko opened #1100 "Azure App Service: Unable to deploy PHP 8.0-based applications with Composer enabled"
### Bug Report

The error occurs when deploying an Azure App Service with the new PHP 8.0 Runtime Stack.
When changing the Runtime Stack to PHP 8.0, the log of the latest deployment in the *Deployment Center* produces the following output:

[code]

[2021-09-14 08:29] Orycs opened #1104 "Static Web App Powershell function not supported"
### Bug Report

(last run on 14.09.2021)

Azure Devops pipeline for Static Web App succeeds, yet function host won't start:
- Orys build starts and then log says "Error: Could not detect the language from repo."
- Function host defaulting to 'node' although /api contains powershell code
- no way to pass parameters to Oryx

[2021-09-15 12:38] saicsm opened #1105 "Add PHP pdo_sqlsrv extension in build image"
### Feature Request

Looks like App Service with PHP 8.0 currently not support pdo_sqlsrv driver. I have reached out to MS support and was informed to install the driver manually.

Can you install the extension for PHP 8.0 in app service?

[2021-09-16 05:55] arvinhubert commented on #616
Hi @sytone , are you talking about the build folder?

[2021-09-20 06:52] lucashfreitas commented on #1100
+1. Same issue here - it's breaking for a basic laravel default installation, so we can't deploy using PHP 8.

[2021-09-28 00:44] arroyc commented on #1105
@saicsm @DiscoParadise thanks for reporting this, yes we are going to add this in php 8.0 and it will available in next deployment of appservice usually November timeframe

[2021-09-28 16:11] hrother opened #1122 "oryx build fails with `An unexpected error has occurred`"
### Bug Report

- At what date and time did you most recently experience the problem?

Tuesday, September 28, 2021, 15:44

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Azure Web Apps

- If your repo is publicly available please share its URL:

- What happened?

Deployment of an django application - using local git as a dep

[2021-09-29 07:34] sinedied commented on #1090
@anthonychu in addition to custom extensions restoration, there's also the problem that if your add an `extensions.csproj` file into a non .NET project within a SWA (JS for example), you'll always get an error that the runtime could not be detected, so the `extensions.csproj` file should be omitted when running the runtime detection.
Not sure where the runtime detection occur though, so maybe it's

[2021-09-30 12:18] simonaco opened #1124 "Support mkdocs static site generator"
### Feature Request

[mkdocs](https://github.com/mkdocs/mkdocs/) is a python static site generator that requires us to run a custom app build command to generate the static assets. Currently the Oryx build fails with Error: Could not detect the language from repo.

My requirements.txt includes mkdocs==1.2.2
Config:

app_location: "/docs" # App source code path
api_location: "api" # Api source code

[2021-09-30 12:58] MalteToenjes opened #1125 "AzureStaticWebApp: An unknown exception has occurred"
### Bug Report

- At what date and time did you most recently experience the problem?
Since the 09/30/21

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure StaticWebApp

- If your repo is publicly available please share its URL:
not public but I can share the structure of the repo
![image](https://user-images.githubusercon

[2021-09-30 13:02] imran-kamaluddin opened #1126 "Cannot deploy an Azure Function when Azure Function App is enabled with VNET integration"
### Bug Report

I cannot deploy a function via Visual Studio code to a Function App. Here is the output of the from VSCode

1:22:16 dsfatest02: Starting deployment...
11:22:18 dsfatest02: Creating zip package...
11:22:18 dsfatest02: Zip package size: 5.86 kB
11:22:21 dsfatest02: Fetching changes.
11:22:22 dsfatest02: Cleaning up temp folders from previous zip deployments and extracting pushed zip

[2021-10-01 12:01] sshojiro commented on #839
Unlike the ticket, would you know if there's a way to install Java into Python runtime of Azure Functions? If so, please let me know. I achieved this on my local test env built on a Dockerfile (https://github.com/Azure/azure-functions-docker/issues/498#issuecomment-917325452), but I could not reproduce the environment on Oryx, the producion env of Azure Functions.

I'd happy to hear any advices. T

[2021-10-01 14:07] sshojiro opened #1127 "Question: How could I set JAVA_HOME or something to have commands find Java?"
This is a simple question: how could I use Java in Azure Functions app with Python runtime?

When building Oryx via zip deploy, I got the following log.
[code]

I am sure that Java was installed and I also put `build.env` to export `JAVA_HOME` variable as follows.

[code]

However, when I test my app, the app returned the following message, saying that the Java could not be found. I appreciate any

[2021-10-01 15:47] sshojiro commented on #1088
@HarshaHirpara [Documentation for NodeJS](https://github.com/microsoft/Oryx/blob/main/doc/runtimes/nodejs.md#detect) may help you.

[2021-10-01 17:48] arroyc commented on #1100
@lucashfreitas  would you be able to provide some sample apps for this scenario? our sample app seems to be working fine which means our sample app is not a good example to test this.

[2021-10-01 18:17] arcticdba commented on #1125
Unfortunately I'm facing the exact same issue despite both the Hugo and Oryx versions being the same between when it worked and when it doesn't. The issue literally came out of nowhere.

[2021-10-01 20:20] anthonychu commented on #1125
@arcticdba Is your build failing at the function app build too? Can you share your workflow file and logs? GitHub or Azure Pipelines?

@MalteToenjes  Can you share your pipeline file?

[2021-10-01 20:21] anthonychu commented on #1124
Related: https://github.com/microsoft/Oryx/issues/1027

[2021-10-01 20:26] arcticdba commented on #1125
Yep, the exact same place., running GitHub actions. Let me know if I attached the right logs - I really don't know what I'm doing 😶

[4_Build And Deploy.txt](https://github.com/microsoft/Oryx/files/7269995/4_Build.And.Deploy.txt)
[azure-static-web-apps-black-moss-08cc4b203.yml.txt](https://github.com/microsoft/Oryx/files/7270001/azure-static-web-apps-black-moss-08cc4b203.yml.txt)

[2021-10-01 20:28] anthonychu commented on #1027
More context on this.

Currently, Azure Static Web Apps allows the customer to specify a custom build command. This build command is meant to *replace* the build command that is detected by oryx. For npm, the build command is `npm run build`, for dotnet it is `dotnet publish …`, etc.

When a custom build command is specified, Static Web Apps calls oryx build with RUN_BUILD_COMMAND. Currently, only

[2021-10-03 18:28] anthonychu commented on #1125
@arcticdba do you have an api in your repo? Blank out api_location if you don’t have an api. If you have one, we’ll need to see the folder’s contents.

[2021-10-03 18:34] arcticdba commented on #1125
@anthonychu I do not, and blanking out the api_location did the trick! I'm guessing something changed in the backend that did not take kindly to the api_location setting (which was default from the Azure static website, by the way)?

[2021-10-04 05:23] appasaheb4 commented on #616
<img width="1055" alt="Screenshot 2021-10-04 at 10 52 54 AM" src="https://user-images.githubusercontent.com/24726539/135798283-448ccfc7-5782-4aa7-a119-0dc51eebc0ed.png">
facing azure static web on deploy time

[2021-10-04 06:15] MalteToenjes commented on #1125
Hey @anthonychu, thanks for your answer.

our FunctionApp Pipeline has no issues. We are using Azure Pipelines.

Here is the pipeline file:
`# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  vmImage: ubuntu-20.04

st

[2021-10-04 06:21] anthonychu commented on #1125
@MalteToenjes Based on your screenshot, your src/api folder doesn't appear to contain a valid Azure Functions app. For a TypeScript function app, I would expect to see a package.json and host.json in that folder.

@arcticdba Do you have a folder in your source named `api`? If `api_location` is specified but the folder doesn't exist, it should print `Either no Api directory was specified, or the sp

[2021-10-04 06:46] anthonychu commented on #1090
It doesn't look like Oryx supports extensions.csproj even when deploying a function app outside of Static Web Apps. This might be difficult to support. Will need some investigation.

[2021-10-04 06:52] MalteToenjes commented on #1125
Well its not a FunctionApp its a StaticWebApp

[2021-10-04 08:39] MalteToenjes commented on #1125
I just removed api_location and now the pipeline is running again. Since it seems that api_location is unnecessary for us the issue is fixed.
I have to say its really weird and frustrating that a update caused this type of issues and the system acts like a blackbox with inaccurate error messages. But thanks anyway for your help.

[2021-10-04 09:45] hrother commented on #1122
Error does not occure in a new Azure Web App. Therefore the issue can not be reproduced.

[2021-10-04 09:45] #1122 closed

[2021-10-04 09:47] #1125 closed

[2021-10-04 13:39] MarkoVk95 commented on #1100
Hi @arroyc , the default codeigniter app does not work, I've just tested

composer create-project codeigniter4/appstarter project-root

![image](https://user-images.githubusercontent.com/29255812/135861436-de4b5228-d3ca-4710-8634-31e625182c1e.png)

[2021-10-04 16:07] miwebst commented on #616
This is due to an underlying Azure issue, we are tracking mitigation process here: https://github.com/Azure/static-web-apps/issues/596

[2021-10-05 12:14] gme5k commented on #1049
Is it possible to deploy GeoDjango web apps on App Service at this time?

[2021-10-05 16:51] william-msft commented on #1124
Closing per https://github.com/microsoft/Oryx/issues/1124#issuecomment-932526316

[2021-10-05 16:51] #1124 closed

[2021-10-06 15:46] #1105 closed

[2021-10-07 11:39] lucashfreitas commented on #1100
Hello @arroyc thanks for getting back, sorry for the delayed reply.

As @DiscoParadise  mentioned above, and I believe I've also added the same thing in the thread in Azure Forum, it seems that the lack of PHP extension is the reason why the build is failling for PHP 8.0.

I don't have a sample but you could use a basic laravel example and you should be able to reproduce it.  You can follow this g

[2021-10-07 20:37] Saksham2514 opened #1132 "Unable to deploy gatsby based Azure Static Web App with Azure functions enabled using Azure DevOps and deployment in multiple environments"
While trying to deploy a SWA using Azure DevOps in multiple environments but while deploying via yaml filr oryx error is being encountered as language not found.The SWA is in gatsby and is using azure functions. I've tried npm install and gatsby build but it's not getting processed. The Yaml code is attached below

trigger:
  - main
stages:
  - stage: deploy
    jobs:
    - deployment: DeployWeb

[2021-10-07 22:47] GyroJoe opened #1133 "Node.js remote debugging doesn't work when using yarn"
### Bug Report
(Apologies if this is the wrong location to report this issue, it seems to be where the startup script is that configures this process)

- At what date and time did you most recently experience the problem?

2021-10-07T22:20:11.751358742Z

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Azure App Service

- If

[2021-10-08 09:26] niraajrp opened #1134 ""ERROR in suds-jurko setup command" during deployment of Azure Function App for Python 3.9"
Below is the complete output including the errors during the deployment of the Azure Function App. Any help here would be appreciated!

OUTPUT LOG:

3:01:13 PM FetchMediaData: Starting deployment...
3:01:15 PM FetchMediaData: Creating zip package...
3:01:16 PM FetchMediaData: Zip package size: 138 kB
3:01:16 PM FetchMediaData: Fetching changes.
3:01:17 PM FetchMediaData: Cleaning up temp folders f

[2021-10-08 16:02] bmaupin opened #1135 "Does Oryx support Java?"
I see Java in the list of supported platforms: https://github.com/microsoft/Oryx/blob/main/doc/supportedPlatformVerions.md#java

And it looks like my project should automatically be built using Maven:

(https://github.com/microsoft/Oryx/blob/main/doc/runtimes/java.md#build)

However, when I create a new Azure App Services project using Local Git and do a `git push`, it doesn't look like `mvn clean

[2021-10-08 16:27] bmaupin commented on #1135
Hmm, I got the build working by creating a `.deployment` file with this content:

[code]

And a `deployment.sh` file with this content:

[code]

I'm guessing the issue then is not in this repo but in kudu, because it doesn't seem to automatically trigger builds for Java like it does for Node.

[2021-10-08 16:27] #1135 closed, assigned to nobody

[2021-10-08 16:46] bmaupin commented on #1127
I'm not sure if your issue is related to mine (#1135) or not, but assuming you're using a maven project, I was able to build it like this:

1. Create a `.deployment` file with this content:

[code]

1. Create a `deployment.sh` file with this content:

[code]

Alternatively, you can install Java manually; in `deployment.sh`:

[code]

In my case it still doesn't run the project, so I guess I have to

[2021-10-09 05:11] #1134 closed

[2021-10-09 05:16] niraajrp commented on #1134
turns out this is originated from suds-jurko package (a 7 year old package which no longer works as of Setuptools > 58) which is a dependency on bing-ads SDK for Python. Bing Ads is planning on releasing a new version to fix this.
Link to Issue: https://github.com/BingAds/BingAds-Python-SDK/issues/191

[2021-10-14 20:20] DerekChasse commented on #1080
I'm experiencing this as well and am using Gulp as a step before the static-web-apps-deploy action.

[code]

[2021-10-16 20:23] loganmarshall1 commented on #1026
Oooooh sounds like a show a tell! Love it!

Let me know if you guys want to feature any of my 7 blazor standalone pwa wasm apps running aot on azure static web apps! ;) <3.

Thank you my friend!

[2021-10-16 20:39] anthonychu commented on #1026
@loganmarshall1 Send me an email. Would love to hear about your projects. If any of them are on GitHub, I can share with you a totally unsupported private build of the GitHub Action that has this enabled. Interested to test it out with your apps to make sure all is working. anthony.chu@microsoft.com

[2021-10-17 06:03] jamwil commented on #470
Hi @gpcastro,

Where might one specify this variable within the workflow?

[2021-10-23 20:15] fnandocontreras opened #1141 "Support for dotnet5 Azure functions in static Webapps"
### Feature Request

Last time occurrence: 23/10/2021
Failure when building/deploying Azure static Webapps with Azure functions targeting **net5.0**
I found out in this [StackOverflow ](https://stackoverflow.com/questions/68077956/oryx-the-framework-microsoft-netcore-app-version-3-1-0-was-not-found) that dotnet5 is not supported in azure functions for static web apps.
Du you plan to support it in

[2021-10-29 09:59] Strepto opened #1145 "Update NodeJS with 16.13.0 LTS support"
### Feature Request

![image](https://user-images.githubusercontent.com/3185998/139415658-1ba12103-0bc2-467b-8d29-cba23c0cffc0.png)
https://nodejs.org/en/about/releases/

Node JS 16.13 is released as the new LTS version, but is not yet available on Oryx.

It would be nice to have an update on the supported Node JS version to v16.13.0

[2021-10-30 06:02] arroyc commented on #1145
thanks we are working on this right now .. very soon you should be able to see the updated version

[2021-10-30 06:02] #1145 closed

[2021-11-02 20:11] smholvoet commented on #1027
@anthonychu Is there way to pass the "finished product" (typically a `site` folder) to Azure Static Web Apps?

It's pretty easy to install the necessary tools and run commands on a hosted agent, but the `AzureStaticWebApp@0` task fails as Oryx tries to build stuff (e.g. mkdocs). Is there way to bypass the built-in build step, build everything on my own, and pass the end result to Azure Static Web

[2021-11-02 23:27] anthonychu commented on #1027
@smholvoet Yes, see the `skip_app_build` flag: https://docs.microsoft.com/en-us/azure/static-web-apps/build-configuration?tabs=azure-devops#skip-building-front-end-app

[2021-11-03 08:18] smholvoet commented on #1027
@anthonychu Exactly what I needed, thanks! 🥳

[2021-11-03 22:57] lucashfreitas commented on #1100
Hello  @qianz2.

Sorry for taking long to reply - What php codebase are you using to reproduce this issue? I was able to reproduce it again today when I was trying to deploy a laravel demo app to PHP 8.

I see that we have a pull request with a fix for that? So I assume this issue will be fixed as soon as the PR gets merged?

Thanks

[2021-11-04 17:07] william-msft commented on #1073
Hi @jeroenvdmeer, a fix for this has been released. Thank you for your patience. Feel free to reach out regarding addition Oryx related questions. Best regards!

[2021-11-04 17:07] #1073 closed

[2021-11-05 08:24] schakko commented on #1100
@qianz2 Is there any ETA when the fix will go live?

[2021-11-05 14:04] nuteee commented on #1126
Can we please get a more detailed error message instead of `Oops... An unexpected error has occurred.`?

[2021-11-07 13:45] lwyj123 opened #1150 "[Feature] pnpm support"
### Feature Request
I found the [nodejs build document](https://github.com/microsoft/Oryx/blob/main/doc/runtimes/nodejs.md) but didn't find pnpm support. now I use `PRE_BUILD_COMMAND` and `CUSTOM_BUILD_COMMAND` for this but it's good that Oryx could have official support like `yarn` and `lerna`

[2021-11-08 18:03] loganmarshall1 commented on #1026
Hi @anthonychu VS 2022 launch today! ya! 👯 . Looking forward to this update! best of luck today!

[2021-11-09 03:29] arroyc commented on #1026
This is done.. closing it

[2021-11-09 03:29] #1026 closed

[2021-11-11 01:33] william-msft commented on #1132
Hi @Saksham2514 may you confirm the Node detection requirements listed in the following are satisfied:
https://github.com/microsoft/Oryx/blob/main/doc/runtimes/nodejs.md#detect

The provided screenshot suggests the `package.json` may be invalid.

Would you be able to provide more of the stacktrace? I do not see Oryx error in the screenshot that has been provided. Thank you for your patience.

[2021-11-11 01:39] william-msft commented on #1088
Hi @HarshaHirpara, are you able to confirm if the following were met:
The Node.js toolset is run when the following conditions are met per https://github.com/microsoft/Oryx/blob/main/doc/runtimes/nodejs.md#detect:

One of these files is found in the root of the repo:
- package.json
- package-lock.json
- yarn.lock

One of these files is found in the root of the repo:
- server.js
- app.js

If issue

[2021-11-11 08:39] anthonychu commented on #1141
.NET 6 LTS functions is now supported in Static Web Apps. We have no plans to support .NET 5.

[2021-11-11 08:42] anthonychu commented on #1104
For Static Web Apps, the request is tracked here. It's not enough for Oryx to support building it, Static Web Apps needs to support deploying these apps too. At this time, we have not committed to adding this support and recommend using the [Bring Your Own Function App](https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own) feature.

[2021-11-15 17:38] viru06 commented on #1141
I am facing a deployment issue.

happytransformer

/opt/Kudu/Scripts/starter.sh oryx build /tmp/zipdeploy/extracted -o /home/site/wwwroot --platform python --platform-version 3.9 -p packagedir=.python_packages/lib/site-packages
18:30:11 NLPQK: Deployment failed.

[2021-11-17 14:33] gabrielmccoll commented on #1126
Strongly agree this needs a better error message. This was a bit of PITA to troubleshoot.

[2021-11-18 09:40] Reshmi-Sriram opened #1159 "Do not build Docker image every time CI is run"
### Feature Request

Copied from https://github.com/Azure/static-web-apps/issues/637
The full CI on GitHub takes roughly 1m 20s. And building docker image takes roughly 1m. Wouldn't be able to use pre built images? Or why building image is necessary every time?

[2021-11-18 18:54] anthonychu commented on #1141
@viru06 Is this for Functions running outside of Static Web Apps?

/cc @balag0

[2021-11-18 18:54] anthonychu opened #1161 "Update Node.js 16 to LTS (and keep it up to date)"
### Feature Request

https://github.com/Azure/static-web-apps/issues/634

[2021-11-18 20:22] fnandocontreras commented on #1141
Hey @anthonychu thanks for your answer, that's great that dotnet6 is now supported.
Am closing the issue.

[2021-11-18 20:22] #1141 closed

[2021-11-19 23:07] william-msft commented on #1132
Closing issue. Please feel free to reopen with additional details.

[2021-11-19 23:07] #1132 closed

[2021-11-19 23:37] william-msft commented on #1088
Closing issue. Please feel free to reopen with more details if issue persists.

[2021-11-19 23:37] #1088 closed

[2021-11-23 18:11] edgreenberg opened #1165 "Unable to deploy when composer.json references another repo"
### Bug Report

- At what date and time did you most recently experience the problem?
2021-11-23@13:00 EST

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Web Apps

- If your repo is publicly available please share its URL:
it's a github enterprise repo

- What happened?
After the repo is pulled, Oryx tries to run compo

[2021-11-24 17:00] Eboreg opened #1166 "Python: Post build script fails, cannot open ODBC driver lib"
### Bug Report

- At what date and time did you most recently experience the problem?

2021-11-24 16:08:45 UTC

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Azure Web Apps

- What happened?

I am deploying a Django app using zip deploy via VS Code. My `POST_BUILD_SCRIPT_PATH` setting points to a script, which runs a Django

[2021-11-26 18:28] nebula2 opened #1167 "Cannot publish net6.0 v4 azure functions app (linux hosted)"
### Bug Report

I wanted to publish a net6.0 azure functions app (v4) via visual studio and sadly it did not work.
The Functions app does contain OpenApi in case it matters.
May it be that this is not supported yet?

![image](https://user-images.githubusercontent.com/5841525/143619583-4cf27185-5340-4b0f-a1dc-519f5aabf609.png)

csproj kind of looks like this:
[code]

This is the output I see lookin

[2021-11-26 18:43] nebula2 commented on #1167
Update: Changed to Windows hosted and it worked.

[2021-11-29 02:17] william-msft commented on #1159
Hi @Reshmi-Sriram I'll be helping you with this. May you elaborate please. What is full CI on GitHub where could this be found? Oryx has one that takes much longer. I'm new to Oryx. Much appreciated.

[2021-11-29 02:17] william-msft commented on #1167
Sweet!

[2021-11-29 02:17] #1167 closed

[2021-11-29 02:28] Reshmi-Sriram commented on #1159
Hi @william-msft!
This was a concern raised by a customer in the Static web Apps repo ([link](https://github.com/Azure/static-web-apps/issues/637))
I would like to ask @zalent to elaborate more on their ask. Hope this helps :)

[2021-12-01 17:54] anthonychu commented on #1161
@william-msft Do you know if you can do this and if there's an ETA?

[2021-12-01 18:38] anthonychu commented on #1159
I don't know if this is something that Oryx can action on. To summarize:

* Static Web Apps build runs in a container that is based on the Oryx image.
* GitHub Actions uses a [dockerfile](https://github.com/Azure/static-web-apps-deploy/blob/v1/Dockerfile) as a mechanism to define the image to use for the action. There's nothing in the dockerfile that adds significant time.

When running the GitHub

[2021-12-01 18:56] anthonychu opened #1172 "Allow caching dependencies (npm, NuGet, pip) between Oryx runs"
### Feature Request

Not exactly sure how to do this but would like to investigate caching dependencies between builds of the same app. Perhaps this could be mounting node_modules into a specific location in the container.

https://github.com/Azure/static-web-apps/issues/203

[2021-12-07 17:50] bugwrangler commented on #929
I am facing the same issue in the West Europe region

[2021-12-07 20:40] bugwrangler opened #1179 "Detecting platforms... Error: Oops... An unexpected error has occurred."
### Bug Report

- At what date and time did you most recently experience the problem?
Around 2021-05-12 17h00 GMT

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Locally while trying to deploy Azure Functions

- If your repo is publicly available please share its URL:
Private Repo

- What happened?
I am trying to deploy a pyt

[2021-12-09 19:56] anthonychu commented on #1179
Not sure if this is causing your problem, but this doesn't look like a valid function app. `function.json` and `__init__.py` should be in a subfolder. Can you share your code and the commands you ran? (is it `func azure functionapp publish --build remote ...`?)

[2021-12-09 21:31] anthonychu opened #1182 "Support .NET target framework moniker aliases"
### Bug Report

It looks like .NET allows aliases for TFMs that are not on the list. For example, `net60` appears to be an alias for `net6.0`. Oryx doesn't support `net60` and the build fails.

Example: https://github.com/Azure/static-web-apps/issues/656

[2021-12-14 16:41] Eboreg commented on #1166
Did some more debugging, and indeed it looks like the `msodbcsql17` driver is not available during `POST_BUILD_SCRIPT_PATH` execution.

Output of `odbcinst -j` in post build script:

[code]

`/etc/odbcinst.ini` exists but is apparently empty. `/opt/microsoft/msodbcsql17/lib64/`, where the driver is located during normal run, does not yet exist.

So how can I remedy this? Is there a way to make sur

[2021-12-15 05:51] Pete-Nago opened #1187 "BlazorWASM-SWA: BadImageFormatException: This PE image is not a managed executable"
### Bug Report

- At what date and time did you most recently experience the problem?
Dec.15, 1pm (GMT+8)

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.
Azure Static Web App - building via Github Actions

- If your repo is publicly available please share its URL:
not public

- What happened?
Oryx fails to build Blazor WASM p

[2021-12-15 23:49] anthonychu commented on #1161
Thanks @william-msft. It's now using 16.13.1.

[2021-12-15 23:49] #1161 closed

[2021-12-18 07:32] Pete-Nago commented on #1187
I figured out what's causing the WASM project build to fail.
It fails when I add a project reference to a .Net6 class library proj.
Is this intended behavior?

[2021-12-22 09:03] qianz2 commented on #1100
I was able to resolve the issue by running following commands:

**ln -s /usr/lib/x86_64-linux-gnu/libonig.so /usr/lib/x86_64-linux-gnu/libonig.so.4
apt-get update
apt-get install software-properties-common
apt-get update

echo "deb http://ppa.launchpad.net/xapienz/curl34/ubuntu bionic main" | tee /etc/apt/sources.list.d/docker.list
apt-get update

apt-key adv --keyserver keyserver.ubuntu.com --rec

[2021-12-27 03:52] dennis-yemelyanov opened #1190 "System.IO.DirectoryNotFoundException: Could not find a part of the path '/opt/dotnet'"
### Bug Report

When trying to use Azure App Service deployment for .NET 5 project I'm getting this error in /tmp/build-debug.log:

[code]
What is /opt/dotnet and who is supposed to provide it?

Any workarounds?

[2021-12-27 20:39] dfberry opened #1191 "Oryx doesn't stop on typescript error"
### Bug Report

Details reported on [Azure Static web apps repo](https://github.com/Azure/static-web-apps/issues/665). @miwebst asked that I report it to Oryx. Not sure if this is the correct repo.

[2021-12-30 10:43] XYjourney opened #1192 "failed to deploy next.js to azure app service"
### Bug Report
I got this error  when i deploy next.js to web app service secondly after the first successful deployment. It sayed had no permission when rename a file.
`下午5:26:18 officeplusweb1: rsync: rename "/home/site/wwwroot/.next/.trace.qMaBhd" -> ".next/trace": Permission denied (13)
下午5:26:18 officeplusweb1: rsync error: some files/attrs were not transferred (see previous errors) (code 23)

[2021-12-31 06:18] XYjourney commented on #1192
any body help ?

[2022-01-02 09:27] konvay commented on #1187
I can confirm the issue was due to a .NET 6 project reference in my case as well. Removing the reference and including all of the classes and necessary NuGet packages worked fine.

This doesn't feel like intended behavior, hopefully this gets prioritized.

[2022-01-02 12:57] tnsholding opened #1193 "Error using PostCSS in Hugo site"
Trying to set up a Hugo site with Static Web App. A default Hugo site with most themes works fine. But when trying to use theme 'docsy' (https://www.docsy.dev/) I get the following error from the default build and deploy job:

[code]

According to the documentation of Docsy the PostCSS needs to be installed with npm (https://www.docsy.dev/docs/getting-started/#install-postcss ). But when adding a

[2022-01-02 21:32] jechtom commented on #1150
As @lwyj123 wrote you can workaround this with extending github action step `Azure/static-web-apps-deploy@v1` yaml with env variables:
[code]

[2022-01-03 14:39] wubzz opened #1194 "Node >= 14 does not use PM2 as defined by documentation"
### Bug Report

- At what date and time did you most recently experience the problem?

2021-01-03 15:30 GMT+1

- Where did you experience the problem? E.g. Azure Web Apps, Azure Functions, Azure Container Registry, or offline use.

Azure App Service (Linux)

- If your repo is publicly available please share its URL:

N/A

- What happened?

Upgrading existing Azure App Services from Node version 12

[2022-01-03 18:23] gpcastro commented on #1192
This is likely a file locking problem. Your app might be opening files inside `.next/trace` folder, which is also part of your deployment - so the running app and the deployment process are both trying to write to that file.

You can try using deployment slots, temporarily stop your app during deployment, or - the ideal option - not use the web app file system to store state and rely on storage re

[2022-01-04 00:45] william-msft commented on #1187
Hi @Pete-Nago @konvay, would you happen to have a full log output? This will give us more clues into if this could be related to x86/x64 bit differences or DotNet runtime issue.
https://stackoverflow.com/questions/8996653/troubleshooting-badimageformatexception
https://github.com/dotnet/runtime/issues/43791

May you also provide a sample/stripped-down application? This will help us validate the fi

[2022-01-04 11:25] wubzz commented on #1194
Looks like docs were recently updated (01/04/2022) with a small notice about this. It still doesn't say why this has changed, which is unfortunate. Seems like a step in the wrong direction to force the use of custom startup commands. Anyways, closing.

[2022-01-04 11:25] #1194 closed

[2022-01-04 19:28] michaeldice opened #1196 "Add Python 3.7.12 to Oryx"
due to this vulnerability: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-23336

[2022-01-05 05:43] william-msft commented on #1187
@Pete-Nago also are the `.dll`s listed in the logs provided in your project?

`  All projects are up-to-date for restore.
  Tools6 -> /github/workspace/Tools6/bin/Release/net6.0/Tools6.dll
  Shared -> /github/workspace/Shared/bin/Release/net6.0/Shared.dll
  Client -> /github/workspace/Client/bin/Release/net6.0/Client.dll`